<!--@subject Neue Frage zu {{var product_name}} @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <p>Am {{var date_posted}} wurde eine neue Frage zum Produkt {{var product_name}} gestellt.</p>
            <p>
                <strong>Frage: </strong><br />
                {{htmlescape var=$question}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}

