<!--@subject Ihre Frage zu {{var product_name}} @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <p><strong>Hallo {{htmlescape var=$customer_name}}</strong>,<br/>
            am {{var date_posted}} haben Sie eine Frage zum Produkt {{var product_name}} gestellt die wir hiermit gerne beantworten.</p>
            <p>
                <strong>Ihre Frage:</strong><br />
                {{htmlescape var=$question}}
            </p>
            <p>
                <strong>Unsere Antwort:</strong><br />
                {{htmlescape var=$answer}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}

