
/* -------------------------- HEADER -------------------------- */

.header-container.header_style_4 .header-logo .logo img {
	/*
    width: 75%;
	*/
    width: 50%;
}

.home-logo-grey {
	display: none;
}

.header-container.header_fixed_menu.active-sticky .home-logo-grey {
	display: block;
}

.header-container.header_fixed_menu.active-sticky .home-logo-white {
	display: none;
}

.header-fullwidth {
	padding: 0px 2%;
}

.header-container.header_fixed_menu.active-sticky .nav-primary-container .wrap-nav {
    max-width: none;
}

body:not(.layout-header-special) .header-container,
.header_fixed_menu.active-sticky {
	background: rgba(17, 17, 17, 0.8) none repeat scroll 0 0;
}

.header-container.header_fixed_menu.active-sticky .nav-primary-container {
	position: static;
	width: 75%;
	box-shadow: none;
	left: auto;
	opacity: 1;
}

.header-container .header-quick-access .arw-toggle-container .arw-toggle-content {
    width: 450px;
}

.header-container.header_fixed_menu {
	background: none;
}

.nav-primary-container {
	background: none;
}

.header-container.header_fixed_menu.active-sticky {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	filter: alpha(opacity=80);
	-webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
	background: rgba(17, 17, 17, 0.8) none repeat scroll 0 0;
}

.header_style_4 .megamenu > li:first-child a {
    padding-left: 20px;
    padding-right: 40px;
}

.megamenu li {
    display: block;
    float: right;
}

.header-container.header_style_4 .nav-primary-container .nav-container ul li a span {
    padding: 13px 0;
}

.header-container.header_style_4 .nav-primary-container .nav-container ul li.level0:hover a.level-top span,
.header-container.header_style_4 .nav-primary-container .nav-container ul li.level0.active a.level-top span {
    border-bottom: 0px;
}

.megamenu > li > a,
.nav-primary-container a,
.layout-header-special .header-container:not(.active-sticky) .nav-primary-container .megamenu > li > a, 
.layout-header-special .header-container:not(.active-sticky) .nav-primary-container ul#nav > li > a,
.layout-header-special .header-container:not(.active-sticky) .header-quick-access .btn-headertop, 
.layout-header-special .header-container:not(.active-sticky) .header-quick-access .arw-toggle-control,
.header-container .header-quick-access .arw-toggle-control,
.layout-header-special .header-container.active-sticky .nav-primary-container .megamenu > li > a,
.layout-header-special .header-container.active-sticky .nav-primary-container ul#nav > li > a,
.layout-header-special .header-container.active-sticky .header-quick-access .btn-headertop, 
.layout-header-special .header-container.active-sticky .header-quick-access .arw-toggle-control,
.header-container.active-sticky .header-quick-access .arw-toggle-control {
    color: #777;
}

.megamenu > li > a:hover,
.megamenu > li.active > a,
.nav-primary-container a:hover,
.layout-header-special .header-container:not(.active-sticky) .nav-primary-container .megamenu > li > a:hover, 
.layout-header-special .header-container:not(.active-sticky) .nav-primary-container ul#nav > li > a:hover, 
.layout-header-special .header-container.active-sticky .nav-primary-container .megamenu > li > a:hover, 
.layout-header-special .header-container.active-sticky .nav-primary-container ul#nav > li > a:hover, 
.header-container .header-quick-access .arw-toggle-container.active .arw-toggle-control.mini-cart-header, 
.header-container .header-quick-access .arw-toggle-container:hover .arw-toggle-control.mini-cart-header,
.far_btn_headertop .btn-headertop:hover span {
    color: #fff;
}

.header-container .header-quick-access .btn-open-search:hover span {
    color: #ececec;
}

.layout-header-special .header-container:not(.active-sticky) .header-quick-access .btn-headertop:hover span {
    color: #ececec;
}

.header-top-link-ul-benz .down-language-benz,
.header-top-link-ul-benz .down-account-benz {
	display: none;
}

.header-top-link-ul-benz li.benz-myaccount {
	padding-bottom: 30px;
}

.top-link-benz .header-top-link-ul-benz .nv-language {
    color: #666;
}

.top-link-benz .header-top-link-ul-benz ul.links {
    display: block;
}

.top-link-benz .header-top-link-ul-benz .links a:hover {
    color: #777;
}

.header-container .header-quick-access .mini-cart-header .total-badge {
	color: #272727;
	font-weight: bold;
    background: #c0d03d;
}

/* ------------------------------------------------------------ */


/* -------------------------- HOME - CONTENT -------------------------- */

.arw-page-title.has-page-title {
    padding: 40px 0px;
	background-image: none;
}

.bake_img p {
    color: #9a9591;
    font-size: 64px;
}

.latest-posts {
	background: #f3efee;
}

.latest-posts .post-thumbnail img {
	width: 100%;
}

.post-item {
    margin-bottom: 0px;
}

button.btn-cart span.add_to_cart {
	display: none;
}

.products-grid .actions .button {
	width: 50px;
}

.category-products .actions .btn-cart,
.products-grid .actions .btn-cart {
	bottom: 0px;
	right: 150px;
	width: 50px;
}

.products-grid li.item > .wrapper-item {
    overflow: visible;
}

.product-shop-inner .product-name {
	margin-top: 0px;
}

.price-box {
	float: left;
	margin-right: 20px;
}

.tax-details {
	display: block;
	padding-top: 20px;
}

/* ------------------------------------------------------------ */


/* -------------------------- PRODUCT DETAIL -------------------------- */

.product-shop-inner .no-rating {
	display: none;
}

.product-view .product-essential .availability {
	margin-top: 25px;
}

.product-view .product-essential .product-name {
	text-transform: none;
}

.product_details_tabs .product-tabs {
    text-align: left;
}

.product-img-box {
	border: 1px solid #ddd;
}

.additional-tables table {
	border-collapse: collapse;
}

.additional-tables table,
.additional-tables table th,
.additional-tables table td {
    border: 1px solid #ededed;
}

.additional-tables table td {
	padding: 9px 10px;
	vertical-align: middle;
}

/* ------------------------------------------------------------ */


/* -------------------------- FOOTER -------------------------- */

.footer-container {
    padding-top: 0px;
}

.wrapper-footer-links {
	text-align: left;
	padding: 30px 0px;
}

.footer-newsletter {
	padding-bottom: 40px;
}

.footer-newsletter .block-subscribe .block-content {
    padding-left: 0px !important;
}

.footer-container .footer-copyright {
    text-align: right;
}

.style_footer_bakepro .footer-copyright .wrapper-copyright {
	padding: 30px 0px;
}

.wrapper-socials {
	font-size: 22px;
	padding: 30px 0px;
}

.wrapper-socials ul {
	float: right;
}

.wrapper-socials li {
	float: left;
	margin-left: 20px;
}

#btn_control_totop {
    bottom: 150px;
}

/* ------------------------------------------------------------ */


/* -------------------------- CHECKOUT -------------------------- */

#checkout-step-review .data-table {
    margin-bottom: 0px;
}

#checkout-step-review .buttons-set {
	margin-top: 0px;
}

.checkout-agreements .agreement-content {
    max-height: 175px;
}

/* ------------------------------------------------------------ */


/* -------------------------- REGISTRATION -------------------------- */

.next-step:disabled,
button:disabled {
	background: #666666;
}

/* ------------------------------------------------------------ */


/* -------------------------- MODAL DIALOG BOX -------------------------- */

.simplemodal-data {
	padding: 40px;
	color: #272727;
	background: #ffffff;
	padding: 50px;
}

.simplemodal-overlay {
	background: rgba(255, 255, 255, 0.8);
	background: rgba(0, 0, 0, 0.8);
}

/* ------------------------------------------------------------ */


/* ---------------------- CUSTOM PRODUCT BUNDLE ---------------------- */

.product-options-bottom .qty-wrapper {
	display: none;
}

/* ------------------------------------------------------------------- */


/* ---------------------- AW BLOG ---------------------- */

.latest-posts .post-excerpt {
	width: 75%;
	margin: 0px auto;
}

.post-item .post-excerpt {
    text-align: left;
}

/* ------------------------------------------------------------------- */


/* ---------------------- BREADCRUMBS ---------------------- */

.breadcrumbs li.home a span {
	display: none;
}

.breadcrumbs li.home a:before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 20px;
	vertical-align: text-bottom;
	background: url(http://devshop.deepnatureproject.com/skin/frontend/dnp/default/images/breadcrumb_home.png) no-repeat center center;
}

.breadcrumbs {
	display: none;
}

/* ------------------------------------------------------------------- */


/* ---------------------- MISC ---------------------- */

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.arw-page-title .page-title h1, .arw-page-title .page-title h2 {
    margin: 20px 0px 10px 0px;
}

.arw_breadcrumbs .breadcrumbs {
    margin-left: 0px;
}

.arw_breadcrumbs {
	display: none;
}
.catalog-product-view .arw_breadcrumbs {
	display: block;
}

.arw-page-title .page-title + .arw_breadcrumbs {
    padding-top: 0px;
}

.main {
    margin-top: 10px;
}

/* ------------------------------------------------------------------- */



