
<div class="collateral-box product-faq">
    <div class="collateral-box" id="product-q-a">
        <p><a href="#question-form" id="add-question"><strong><?php echo $this->__('Ask your question'); ?></strong></a></p>
        <?php $entries = $this->getEntries(); ?>
        <?php if(!$entries->getSize()): ?>
        <p class="no-entries"><?php echo $this->__('There are no entries.') ?></p> 
        <?php else: ?>	 
        <?php echo $this->getPagerHtml(); ?>      
        <?php foreach($entries as $entry): ?>
        <div class="question-entry">
            <div class="entry-comment"><strong><?php echo $this->__('Q'); ?>: </strong><?php echo $this->htmlEscape($entry->getQuestion()); ?></div>
            <p>
                <small class="added-on"><?php echo $this->__('Posted On: '); ?><?php echo $this->formatDate($entry->getCreatedOn()); ?></small>
                <small class="added-on"><?php echo $this->__('By: '); ?><?php echo $entry->getName(); ?></small>
            </p>
            <div class="entry-answer"><strong><?php echo $this->__('A'); ?>: </strong><?php echo $this->htmlEscape($entry->getAnswer()); ?></div>
        </div>
        <?php endforeach; ?>	        
        <?php endif; ?>	   
        <br />
        
        <?php #echo $this->getChildHtml('questionForm'); ?>       
        <a class="anchor" name="question-form"></a>
        <form action="<?php echo Mage::getUrl('productfaq/index/askQuestion'); ?>" id="questionForm" method="post" style="display: none;">
            <div class="fieldset">
                <h5 class="legend"><?php echo Mage::helper('ds_productfaq')->__('Ask your question') ?></h5>
                <ul class="form-list">
                    <li class="fields">
                        <div class="field">
                            <label for="name" class="required"><em>*</em><?php echo Mage::helper('ds_productfaq')->__('Name') ?></label>
                            <div class="input-box">
                                <input name="name" id="name" title="<?php echo Mage::helper('ds_productfaq')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="email" class="required"><em>*</em><?php echo Mage::helper('ds_productfaq')->__('Email') ?></label>
                            <div class="input-box">
                                <input name="email" id="email" title="<?php echo Mage::helper('ds_productfaq')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                            </div>
                        </div>
                        
                        
                        
                    </li>           
                    <li class="wide">
                        <label for="comment" class="required"><em>*</em><?php echo Mage::helper('ds_productfaq')->__('Question') ?></label>
                        <div class="input-box">
                            <textarea name="question" id="question" title="<?php echo Mage::helper('ds_productfaq')->__('Question') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                        </div>
                    </li>
                    
                    <?php if(Mage::helper('ds_productfaq')->isActiveCaptcha()): ?>
                        <li class="wide">
                                <div class="input-box">
                                    <img src="<?php echo $this->getUrl('productfaq/index/imagecaptcha');?>" id="captcha_image" />
                                </div>
                            
                            <div class="clear"></div>
                            <span><a href="" onclick="refreshImage();return false;"><?php echo $this->__('Refresh'); ?></a></span>
                            <br/>
                            
                            <div class="left">
                                <div class="left"><label class="required"><?php echo $this->__('Enter the text above');?><em>*</em></label></div>
                                <div class="left">
                                    <input type="text" name="captcha_text" class="required-entry input-text captcha-input" id="captcha_text" value="" />
                                </div>
                            </div>
                            <br/>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>
            <div class="buttons-set">
                <p class="required"><?php echo Mage::helper('ds_productfaq')->__('* Required Fields') ?></p>
                <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                <input type="hidden" name="product_id" value="<?php echo Mage::registry('product')->getId(); ?>" />
                <input type="hidden" name="store_id" value="<?php echo Mage::app()->getStore(true)->getStoreId(); ?>" />
                <button type="submit" title="<?php echo Mage::helper('ds_productfaq')->__('Submit') ?>" class="button form-button"><span><span><?php echo Mage::helper('ds_productfaq')->__('Submit') ?></span></span></button>
            </div>
        </form>
        <script type="text/javascript">
        //<![CDATA[
            $('add-question').observe('click', function(event){
                $('questionForm').toggle(); 
            });
            
            var contactForm = new VarienForm('questionForm', true);
        //]]>
        
        
        //<![CDATA[
            
            function refreshImage() {	
                url = '<?php echo $this->getUrl('productfaq/index/refreshcaptcha');?>';			
                $('captcha_image').src = '<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif');?>';
        
                 capchaRefesh = new Ajax.Request(url, {
        
                    method: 'get',
        
                    onSuccess: function(transport) {
        
                        imageCapcha = new Image();
        
                        imageCapcha.src = transport.responseText;
        
                        $('captcha_image').src = imageCapcha.src;
        
                    }
        
                }); 
            }
        
        </script>
    </div>
</div>    


