<?php
	$visible_mobile=Mage::getStoreConfig('megamenu/sidemenu/hide_on_mobile');
	if($visible_mobile)
		{
			$addClass='hide-below-768';
		}
?>
<!-- navigation BOF -->
<div class="block block-nav <?php echo $addClass;?>">
    <div class="block-title">
        <strong><span><?php echo $this->getCategoryLabel() ; ?></span></strong>
    </div>
    <div class="block-content">
        <ul id="categories_nav_left" class="nav-accordion nav-categories">
            <?php echo $this->renderPartCategoriesMenuHtml(20, TRUE, 0, 'level-top'); ?>
        </ul>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery("#categories_nav_left").arwAccordionMenu({
                    accordion:true,
                    speed: 400,
                    closedSign: 'collapse',
                    openedSign: 'expand',
                    mouseType: 0,
                    easing: 'easeInOutQuad'
                });
            });
        </script>
    </div>
</div>
<!-- navigation EOF -->