<!--@subject Your account has been activated, {{var customer.getName()}} @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Hello {{var customer.name}},</h1>
            <p>your account has been activated. To log in just click <a href="{{store url="customer/account/"}}">Login</a> at the top of every page, and then enter your e-mail address and password.</p>
            <p>If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> or by phone at <a href="tel:{{config path='general/store_information/phone'}}">{{config path='general/store_information/phone'}}</a>. We are there for you from Monday until Friday from 8 a.m. to 5 p.m.</p>
            <p>We are looking forward to a good cooperation!</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
