<?php
if (Mage::registry('redirect_url')) {
    ?>
    <meta http-equiv="refresh" content="0;url=<?php echo Mage::registry('redirect_url')?>">
    <script type="text/javascript">
        window.location = '<?php echo Mage::registry('redirect_url')?>';
    </script>
<?php
}

if (Mage::registry('show_form_name')) {
    ?>
    <div class="page-head">
        <h3><?php echo $this->getWebform()->getName();?></h3>
    </div>
<?php } ?>

<?php
// show logout message
if(Mage::helper('customer')->isLoggedIn()){
    ?>
    <p><?php echo Mage::helper('webformscrf')->__('Please <a href="%s">log out</a> of the previous session.', Mage::getUrl('customer/account/logout'))?></p>
<?php
} else {
?>

<?php if ($this->isAjax()) { ?>
    <div id="webform_<?php echo $this->getWebform()->getId()?>_success_text" class="std webforms-success-text"
         style="display:none"></div>
<?php } ?>

<?php if (Mage::registry('captcha_invalid')) { ?>
    <ul class="messages">
        <li class="error-msg">
            <ul>
                <li><?php echo Mage::helper('webforms')->__('Verification code was not correct. Please try again.');?></li>
            </ul>
        </li>
    </ul>
<?php } ?>

<?php
if (Mage::registry('show_success')) {
    ?>
    <div class="std webforms-success-text">
        <?php echo $this->getWebform()->getSuccessText()?>
    </div>
<?php
} else {
    ?>

    <div id="webform_<?php echo $this->getWebform()->getId()?>_form">

    <?php if ($this->getWebform()->getDescription()) { ?>
        <div class="std">
            <?php echo $this->getWebform()->getDescription();?>
        </div>
    <?php }?>

    <?php if ($this->isAjax()) { ?>
        <iframe id="webform_<?php echo $this->getWebform()->getId()?>_iframe"
                name="webform_<?php echo $this->getWebform()->getId()?>_iframe"
                style="width:0;height:0;border:0;position:absolute"></iframe>
    <?php } ?>

    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

    <form action="<?php echo $this->getFormAction()?>" method="post"
          name="webform_<?php echo $this->getWebform()->getId()?>"
          id="webform_<?php echo $this->getWebform()->getId()?>" enctype="<?php echo $this->getEnctype()?>"
          class="webforms-<?php echo $this->getWebform()->getCode()?>"
          <?php if($this->isAjax()){?>target="webform_<?php echo $this->getWebform()->getId()?>_iframe"<?php }?>>

    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <input type="hidden" name="submitWebform_<?php echo $this->getWebform()->getId()?>" value="1"/>
    <input type="hidden" name="webform_id" value="<?php echo $this->getWebform()->getId()?>"/>

    <?php if (is_array($this->getData('hidden'))) {
        foreach ($this->getData('hidden') as $key => $value) {
            ?>
            <input type="hidden" name="<?php echo $key?>" value="<?php echo $value?>"/>
        <?php
        }
    }?>

    <?php if (count($this->getWebform()->_getHidden())) {
        foreach ($this->getWebform()->_getHidden() as $field) {
            echo $field->toHtml();
        }
    } ?>

    <!-- Default registration fields -->

    <fieldset class="group-select wide">
        <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>"/>
        <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>"/>
        <h4 class="legend"><?php echo $this->__('Personal Information') ?></h4>
        <ul>
            <li>
                <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->toHtml() ?>
            </li>
            <li>
                <div class="input-box">
                    <label for="email_address"><?php echo $this->__('Email Address') ?> <span class="required">*</span></label><br/>
                    <input type="text" name="email" id="email_address"
                           value="<?php echo $this->htmlEscape($this->getFormData()->getEmail()) ?>"
                           title="<?php echo $this->__('Email Address') ?>"
                           class="validate-email required-entry input-text"/>
                </div>
            </li>
            <?php if ($this->isNewsletterEnabled()): ?>
                <li>
                    <input type="checkbox" name="is_subscribed"
                           title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1"
                           id="is_subscribed" <?php if ($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif ?> />
                    <label for="is_subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label>
                </li>
            <?php endif ?>
            <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
            <?php if ($_dob->isEnabled()): ?>
                <li><?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></li>
            <?php endif ?>
            <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
            <?php if ($_taxvat->isEnabled()): ?>
                <li><?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></li>
            <?php endif ?>
        </ul>
    </fieldset>
    <?php if ($this->getShowAddressFields()): ?>
        <input type="hidden" name="create_address" value="1"/>
        <fieldset class="group-select wide">
            <h4 class="legend"><?php echo $this->__('Address Information') ?></h4>
            <ul>
                <li>
                    <div class="input-box">
                        <label for="company"><?php echo $this->__('Company') ?></label><br/>
                        <input type="text" name="company" id="company"
                               value="<?php echo $this->htmlEscape($this->getFormData()->getCompany()) ?>"
                               title="<?php echo $this->__('Company') ?>" class="input-text"/>
                    </div>
                    <div class="input-box">
                        <label for="lastname"><?php echo $this->__('Telephone') ?> <span
                                class="required">*</span></label><br/>
                        <input type="text" name="telephone" id="telephone"
                               value="<?php echo $this->htmlEscape($this->getFormData()->getTelephone()) ?>"
                               title="<?php echo $this->__('Telephone') ?>" class="required-entry input-text"/>
                    </div>
                </li>
                <li>
                    <label for="street_1"><?php echo $this->__('Street Address') ?> <span
                            class="required">*</span></label><br/>
                    <input type="text" name="street[]"
                           value="<?php echo $this->htmlEscape($this->getFormData()->getStreet(1)) ?>"
                           title="<?php echo $this->__('Street Address') ?>" id="street_1"
                           class="required-entry input-text"/>
                </li>
                <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                <li>
                    <input type="text" name="street[]"
                           value="<?php echo $this->htmlEscape($this->getFormData()->getStreet($_i)) ?>"
                           title="<?php echo $this->__('Street Address ' . $_i) ?>" id="street_<?php echo $_i?>"
                           class="input-text"/>
                    <?php endfor ?>
                </li>
                <li>
                    <div class="input-box">
                        <label for="city"><?php echo $this->__('City') ?> <span class="required">*</span></label><br/>
                        <input type="text" name="city"
                               value="<?php echo $this->htmlEscape($this->getFormData()->getCity()) ?>"
                               title="<?php echo $this->__('City') ?>" class="required-entry input-text" id="city"/>
                    </div>
                    <div class="input-box">
                        <label for="region_id"><?php echo $this->__('State/Province') ?> <span class="required">*</span></label><br/>
                        <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>"
                                class="validate-select" style="display:none">
                            <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                        </select>
                        <script type="text/javascript">
                            $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                        </script>
                        <input type="text" id="region" name="region"
                               value="<?php echo $this->htmlEscape($this->getRegion()) ?>"
                               title="<?php echo $this->__('State/Province') ?>" class="input-text"
                               style="display:none"/>
                    </div>
                </li>
                <li>
                    <div class="input-box">
                        <label for="zip"><?php echo $this->__('Zip/Postal Code') ?> <span
                                class="required">*</span></label><br/>
                        <input type="text" name="postcode"
                               value="<?php echo $this->htmlEscape($this->getFormData()->getPostcode()) ?>"
                               title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip"
                               class="validate-zip-international required-entry input-text"/>
                    </div>
                    <div class="input-box">
                        <label for="country"><?php echo $this->__('Country') ?> <span
                                class="required">*</span></label><br/>
                        <?php echo $this->getCountryHtmlSelect() ?>
                    </div>
                </li>
            </ul>
        </fieldset>
        <input type="hidden" name="default_billing" value="1"/>
        <input type="hidden" name="default_shipping" value="1"/>
    <?php endif; ?>
    <fieldset class="group-select wide">
        <h4 class="legend"><?php echo $this->__('Login Information') ?></h4>
        <ul>
            <li>
                <div class="input-box">
                    <label for="password"><?php echo $this->__('Password') ?> <span
                            class="required">*</span></label><br/>
                    <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>"
                           class="required-entry validate-password input-text"/>
                </div>
                <div class="input-box">
                    <label for="confirmation"><?php echo $this->__('Confirm Password') ?> <span
                            class="required">*</span></label><br/>
                    <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>"
                           id="confirmation" class="required-entry validate-cpassword input-text"/>
                </div>
            </li>
        </ul>
    </fieldset>

    <!-- Web-form -->

    <?php
    foreach (Mage::registry('fields_to_fieldsets') as $fieldset_id => $fieldset) {
        ?>

        <fieldset id="fieldset_<?php echo $fieldset_id?>" class="group-select wide fieldset-<?php echo $fieldset_id?>"
            <?php if (!empty($fieldset['logic_visibility']) && $fieldset['logic_visibility'] == 'hidden') echo 'style="display:none"';?>>

            <?php    if ($fieldset['name']) { ?>
                <h2 class="legend"><?php echo $fieldset['name']?></h2>
            <?php }    ?>

            <ul class="form-list">
                <?php
                $k = 0;
                $j = 0;
                $prev = false;
                $fields_count = count($fieldset['fields']);
                foreach ($fieldset['fields'] as $field) {

                    $size_class = "fields";
                    $field_class = "input-box";
                    if ($field->getSize() == 'wide') {
                        $size_class = "wide";
                        $field_class = "";
                    }

                    ?>
                    <?php if ($j % 2 == 0 || $field->getSize() == 'wide' || $prev->getSize() == 'wide') {
                        $j = 0; ?>
                        <?php if ($k > 1) { ?></li><?php } ?>
                        <li>
                    <?php } ?>
                    <?php if ($size_class != "wide"){ ?>
                    <div id="field_<?php echo $field->getId()?>"
                         class="<?php echo $field_class?> webforms-fields-<?php echo $field->getId()?><?php if ($field->getCode()) { ?> webforms-fields-<?php echo $field->getCode();
                         }?>"
                        <?php if ($field->getData('logic_visibility') == 'hidden') echo 'style="display:none"';?>>
                <?php } ?>

                    <?php if ($field->getType() != 'html') { ?>
                        <label for="field_<?php echo $field->getId()?>">


                            <?php echo $field->getName()?>

                            <?php if ($field->getRequired()) { ?>
                                <span class="required">*</span>
                            <?php }?>
                        </label>
                    <?php } ?>

                    <br/>

                    <?php if ($size_class != "wide"){ ?>
                    <div class="input-box">
                <?php } ?>

                    <?php echo $field->toHtml(); ?>

                    <?php if ($field->getComment()) { ?>
                        <p class="webforms-fields-comment">
                            <?php echo nl2br($field->getComment())?>
                        </p>
                    <?php } ?>
                    <?php if ($field->getValidationAdvice()){?>
                        <div style="display:none" class="validation-advice" id="advice-required-entry-field<?php echo $field->getId()?>">
                            <?php echo $field->getValidationAdvice()?>
                        </div>
                    <?php }?>
                    <?php if ($size_class != "wide"){ ?>
                    </div>
                <?php } ?>

                    <?php if ($size_class != "wide"){ ?>
                    </div>
                <?php } ?>
                    <?php if ($k == $fields_count - 1) { ?>
                        </li>
                    <?php } ?>
                    <?php
                    $k++;
                    $j++;
                    $prev = $field;
                }?>
            </ul>

        </fieldset>

    <?php
    } // foreach 'fields_to_fieldsets'
    ?>

    <?php if (Mage::getStoreConfig('webformscrf/captcha/registration')) { ?>
        <fieldset class="group-select wide">
            <h2 class="legend">Captcha</h2>
            <ul class="form-list">
                <li>
                    <div class="input-box">
                        <?php echo $this->getCaptcha()->getHTML()?>
                    </div>
                </li>
            </ul>
        </fieldset>
    <?php }?>

    <div class="button-set">
        <p class="required"><?php echo $this->__('* Required Fields')?></p>
        <button type="button" id="webform_<?php echo $this->getWebform()->getId()?>_submit_button"
                onclick="webform_<?php echo $this->getWebform()->getId()?>_submit()" class="form-button"
                title="<?php echo $this->__('submit')?>">
            <span><?php echo $this->__('Submit')?></span>
        </button>
		<span class="please-wait" id="webform_<?php echo $this->getWebform()->getId()?>_sending_data"
              style="display:none;">
			<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"
                 alt="<?php echo $this->__('Sending...') ?>" title="<?php echo $this->__('Sending...') ?>"
                 class="v-middle"/><span
                id="webform_<?php echo $this->getWebform()->getId()?>_progress_text"><?php echo $this->__('Sending...') ?></span>
		</span>
    </div>

    </form>

    </div>

    <?php echo $this->getLayout()->createBlock(
        'core/template',
        'webform_' . $this->getWebform()->getId() . '_submit_script',
        array(
            'webform' => $this->getWebform(),
            'ajax' => $this->isAjax(),
            'template' => 'webforms/scripts/submit.phtml',
        )
    )->toHtml();
    ?>

    <?php if ($this->getWebform()->getLogic())
        echo $this->getLayout()->createBlock(
            'core/template',
            'webform_' . $this->getWebform()->getId() . '_logic',
            array(
                'webform' => $this->getWebform(),
                'template' => 'webforms/scripts/logic.phtml',
            )
        )->toHtml();
    ?>

    <script type="text/javascript">
        //<![CDATA[
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>);
        <?php endif; ?>
        //]]>
    </script>

<?php
} // if(show_success)
} // log out message
?>
