<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <h5 class="closing-text">Best wishes,<br />
            the Team of Deep Nature Project</h5>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
