<!--@subject Email - Support @-->
<p>
    If you have any questions please feel free to contact us. Either at <a href="mailto:{{var store_email}}">{{var store_email}}</a> or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>. We are there for you from Monday to Friday from 8 a.m. until 5 p.m. 
</p>
