<?php
/**
 * @author       Vladimir Popov
 * @copyright    Copyright (c) 2014 Vladimir Popov
 */

// in case redirect fails
if (Mage::registry('redirect_url')) {
    ?>
    <meta http-equiv="refresh" content="0;url=<?php echo Mage::registry('redirect_url') ?>">
    <script type="text/javascript">
        window.location = "<?php echo Mage::registry('redirect_url')?>";
    </script>
<?php
}
?>

<div class="account-create">

<?php if (in_array('customer_account_create', $this->getLayout()->getUpdate()->getHandles())) { ?>
    <div class="page-title">
        <h1><?php echo $this->__('Create an Account') ?></h1>
    </div>
<?php } ?>

<?php
// show logout message
if (Mage::helper('customer')->isLoggedIn()){
    ?>
    <p><?php echo Mage::helper('webformscrf')->__('Please <a href="%s">log out</a> of the previous session.', Mage::getUrl('customer/account/logout')) ?></p>
<?php
} else {
?>

<?php if ($this->isAjax()) { ?>
    <div id="webform_<?php echo $this->getWebform()->getId() ?>_success_text" class="std webforms-success-text"
         style="display:none"></div>
<?php } ?>

<?php
if (Mage::registry('show_success')){
    ?>
    <div class="std webforms-success-text">
        <?php echo $this->getWebform()->getSuccessText() ?>
    </div>
<?php
} else {
?>

<div id="webform_<?php echo $this->getWebform()->getId() ?>_form">

<?php if ($this->getWebform()->getDescription()) { ?>
    <div class="std">
        <?php echo $this->getWebform()->getDescription(); ?>
    </div>
<?php } ?>

<?php if ($this->isAjax()) { ?>
    <iframe id="webform_<?php echo $this->getWebform()->getId() ?>_iframe"
            name="webform_<?php echo $this->getWebform()->getId() ?>_iframe"
            style="width:0;height:0;border:0;position:absolute"></iframe>
<?php } ?>

<form action="<?php echo $this->getFormAction() ?>" method="post"
      name="webform_<?php echo $this->getWebform()->getId() ?>" id="webform_<?php echo $this->getWebform()->getId() ?>"
      enctype="<?php echo $this->getEnctype() ?>" class="webforms-<?php echo $this->getWebform()->getCode() ?>"
      <?php if ($this->isAjax()){ ?>target="webform_<?php echo $this->getWebform()->getId() ?>_iframe"<?php } ?>>


    <input type="hidden" name="submitWebform_<?php echo $this->getWebform()->getId() ?>" value="1"/>
    <input type="hidden" name="webform_id" value="<?php echo $this->getWebform()->getId() ?>"/>
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />

<?php if (is_array($this->getData('hidden'))) {
    foreach ($this->getData('hidden') as $key => $value) {
        ?>
        <input type="hidden" name="<?php echo $key ?>" value="<?php echo $value ?>"/>
    <?php
    }
}?>

<?php if (count($this->getWebform()->_getHidden())) {
    foreach ($this->getWebform()->_getHidden() as $field) {
        echo $field->toHtml();
    }
} ?>

<!-- Web-form -->

<div class="panel-group accordion" id="accordion">

<!-- Default registration fields -->
<?php 
$webformId = $this->getWebform()->getId();

$idx = 0;
?>

<div class="panel panel-default">
    <div class="fieldset" id="personal-information">
        <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>"/>
        <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>"/>
    
        <div class="panel-heading">
        	<h2 class="legend">
            	<a data-toggle="collapse" data-parent="#accordion" data-target="#collapse<?php echo $idx; ?>" class="blocked"><?php echo $this->__('Personal Information') ?></a>
            </h2>
            <a class="edit-step blocked" data-toggle="collapse" data-parent="#accordion" data-target="#collapse<?php echo $idx; ?>"><span><?php echo $this->__("Edit") ?></span></a>
        </div>
        
        <div id="collapse<?php echo $idx; ?>" class="panel-collapse collapse">
            <ul class="form-list">
                <li>
                    <div class="field">
                        <label for="company<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('Company') ?></label>
                        <div class="input-box">
                            <input type="text" name="company" id="company" value="<?php echo $this->escapeHtml($this->getFormData()->getCompany()) ?>" title="<?php echo $this->quoteEscape($this->__('Company')) ?>" class="input-text required-entry" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setFieldIdFormat('%s'.$webformId)->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
                </li>
                <li>
                    <div class="field">
                        <label for="email_address<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                        <div class="input-box">
                            <input type="text" name="email" id="email_address<?php echo $webformId?>"
                                   value="<?php echo $this->htmlEscape($this->getFormData()->getEmail()) ?>"
                                   title="<?php echo $this->__('Email Address') ?>"
                                   class="input-text validate-email required-entry"/>
                        </div>
                    </div>
        
                    <?php if (Mage::helper('core')->isModuleEnabled('Diglin_Username')) { ?>
                    <div class="field">
                        <label for="username<?php echo $webformId?>" class="required"><em>*</em><?php echo Mage::helper('username')->__('Username') ?></label>
                        <div class="input-box">
                            <input type="text" name="username" id="username<?php echo $webformId?>" value="<?php echo $this->escapeHtml($this->getFormData()->getUsername()) ?>" title="<?php echo Mage::helper('username')->__('Username') ?>" class="input-text required-entry" />
                        </div>
                    </div>
                    <?php } ?>
                </li>
                
                <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender')->setFieldIdFormat('%s'.$webformId) ?>
                <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob')->setWebformId($webformId)->setFieldIdFormat('%s'.$webformId) ?>
                
                <?php if ($_gender->isEnabled() || $_dob->isEnabled()): ?>
                    <li class="fields">                
                        <?php if ($_gender->isEnabled()): ?>
                            <div class="field">
                            	<?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?>
                            </div>
                        <?php endif ?>
                        
                        <?php if ($_dob->isEnabled()): ?>
                            <div class="field">
                            	<?php echo $_dob->setTemplate('webformscrf/register/dob.phtml')->setDate($this->getFormData()->getDob())->toHtml() ?>
                            </div>
                        <?php endif ?>                    
                    </li>
                <?php endif ?>
                
                <?php #$_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat')->setFieldIdFormat('%s'.$webformId) ?>
                <?php #if ($_taxvat->isEnabled()): ?>
                    <li>
                        <label for="taxvat<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('Tax/VAT number') ?></label>
                        <div class="field">
                            <div class="input-box">
                                <input type="text" id="taxvat<?php echo $webformId?>" name="taxvat" value="" title="<?php echo $this->__('Tax/VAT number') ?>" class="input-text required-entry"  />
                            </div>
                        </div>
                    </li>
                <?php #else: ?>
                <?php #endif ?>
                
            </ul>
        </div>
    </div>
	<div class="clearfix"></div>
    <?php $idx ++; ?>
</div>

<?php if ($this->getShowAddressFields()): ?>
	<div class="panel panel-default">
        <div class="fieldset" id="address-fields">
            <input type="hidden" name="create_address" value="1"/>
    
            <div class="panel-heading"><h2 class="legend"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse<?php echo $idx; ?>" class="blocked"><?php echo $this->__('Address Information') ?></a></h2><a class="edit-step blocked" data-toggle="collapse" data-parent="#accordion" data-target="#collapse<?php echo $idx; ?>"><span><?php echo $this->__("Edit") ?></span></a></div>
            
            <div id="collapse<?php echo $idx; ?>" class="panel-collapse collapse">
                <ul class="form-list">
                    <li class="wide">
                        <label for="street_1<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
        
                        <div class="input-box">
                            <input type="text" name="street[]"
                                   value="<?php echo $this->htmlEscape($this->getFormData()->getStreet(0)) ?>"
                                   title="<?php echo $this->__('Street Address') ?>" id="street_1<?php echo $webformId?>"
                                   class="input-text required-entry"/>
                        </div>
                    </li>
                    <?php for ($_i = 1, $_n = $this->helper('customer/address')->getStreetLines(); $_i < $_n; $_i++): ?>
                        <li class="wide">
                            <div class="input-box">
                                <input type="text" name="street[]"
                                       value="<?php echo $this->htmlEscape($this->getFormData()->getStreet($_i)) ?>"
                                       title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i ?><?php echo $webformId?>"
                                       class="input-text"/>
                            </div>
                        </li>
                    <?php endfor ?>
        
                    <?php if (method_exists($this->helper('customer/address'), 'isVatAttributeVisible')) { ?>
                        <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                        	<!--
                            <li class="wide">
                                <label for="vat_id<?php echo $webformId?>"><?php echo $this->__('VAT Number') ?></label>
        
                                <div class="input-box">
                                    <input type="text" name="vat_id"
                                           value="<?php echo $this->escapeHtml($this->getFormData()->getVatId()) ?>"
                                           title="<?php echo $this->__('VAT Number') ?>" id="vat_id<?php echo $webformId?>"
                                           class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>"/>
                                </div>
                            </li>
                            -->
                        <?php endif; ?>
                    <?php } // if method exists ?>
        
                    <li class="fields">
                        <div class="field">
                            <label for="zip<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
        
                            <div class="input-box">
                                <input type="text" name="postcode"
                                       value="<?php echo $this->htmlEscape($this->getFormData()->getPostcode()) ?>"
                                       title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip<?php echo $webformId?>"
                                       class="input-text validate-zip-international required-entry"/>
                            </div>
                        </div>
                        <div class="field">
                            <label for="city<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                            <div class="input-box">
                                <input type="text" name="city"
                                       value="<?php echo $this->htmlEscape($this->getFormData()->getCity()) ?>"
                                       title="<?php echo $this->__('City') ?>" class="input-text required-entry" id="city<?php echo $webformId?>"/>
                            </div>
                        </div>
                        <div class="field">
                            <label for="region_id<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
        
                            <div class="input-box">
                                <select id="region_id<?php echo $webformId?>" name="region_id" title="<?php echo $this->__('State/Province') ?>"
                                        class="validate-select" style="display:none;">
                                    <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                </select>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    $('region_id<?php echo $webformId?>').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                                    //]]>
                                </script>
                                <input type="text" id="region<?php echo $webformId?>" name="region"
                                       value="<?php echo $this->htmlEscape($this->getRegion()) ?>"
                                       title="<?php echo $this->__('State/Province') ?>" class="input-text"
                                       style="display:none;"/>
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label for="country<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
        
                            <div class="input-box">
                                <?php echo $this->getCountryHtmlSelect() ?>
                            </div>
                        </div>
                        <div class="field">
                            <label for="telephone<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
        
                            <div class="input-box">
                                <input type="text" name="telephone" id="telephone<?php echo $webformId?>"
                                       value="<?php echo $this->htmlEscape($this->getFormData()->getTelephone()) ?>"
                                       title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry"/>
                            </div>
                        </div>
                    </li>
                </ul>
                <input type="hidden" name="default_billing" value="1"/>
                <input type="hidden" name="default_shipping" value="1"/>
            </div>
        </div>
        <div class="clearfix"></div>
    	<?php $idx ++; ?>
    </div>
<?php endif; ?>

<?php

foreach (Mage::registry('fields_to_fieldsets') as $fieldset_id => $fieldset) {
	/*
	echo "<pre>";
	print_r($fieldset);
	echo "</pre>";
    */
    ?>

	<div class="panel panel-default">
        <div id="fieldset_<?php echo $fieldset_id ?>" class="fieldset fieldset-<?php echo $fieldset_id ?> <?php if(!empty($fieldset['css_class'])) echo $fieldset['css_class'];?>"
            <?php if (!empty($fieldset['logic_visibility']) && $fieldset['logic_visibility'] == 'hidden') echo 'style="display:none"'; ?>>
    
            <?php if (!empty($fieldset['name'])) { ?>
                <div class="panel-heading"><h2 class="legend"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse<?php echo $idx; ?>" class="blocked"><?php echo $fieldset['name'] ?></a></h2><a class="edit-step blocked" data-toggle="collapse" data-parent="#accordion" data-target="#collapse<?php echo $idx; ?>"><span><?php echo $this->__("Edit") ?></span></a></div>
            <?php } ?>
    
            <div id="collapse<?php echo $idx; ?>" class="panel-collapse collapse">
                <ul class="form-list">
                    <?php
                    $k = 0;
                    $j = 0;
                    $prev = false;
                    $fields_count = count($fieldset['fields']);
                    foreach ($fieldset['fields'] as $field) {
        
                        $size_class = "fields";
                        $field_class = "field";
                        if ($field->getSize() == 'wide') {
                            $size_class = "wide";
                            $field_class = "";
                        }
        
                        ?>
                        <?php if ($j % 2 == 0 || $field->getSize() == 'wide' || $prev->getSize() == 'wide') {
                            $j = 0; ?>
                            <?php if ($k > 1) { ?></li><?php } ?>
                            <li <?php if ($size_class == 'wide') { ?>id="field_<?php echo $field->getId() ?>_row" <?php } ?>
                            class="<?php echo $size_class ?> <?php if ($size_class == 'wide') { ?>webforms-fields-row-<?php echo $field->getId() ?><?php } ?>"
                            <?php if ($size_class == 'wide' && $field->getData('logic_visibility') == 'hidden') echo 'style="display:none"'; ?>>
                        <?php } ?>
                        <div id="field_<?php echo $field->getId() ?>"
                             class="<?php echo $field_class ?> <?php echo $field->getCssClassContainer()?> webforms-fields-<?php echo $field->getId() ?><?php if ($field->getCode()) { ?> webforms-fields-<?php echo $field->getCode();
                             }?>"
                            <?php if ($field->getData('logic_visibility') == 'hidden') echo 'style="display:none"'; ?>>
        
                            <?php if ($field->getType() != 'html') { ?>
                                <label for="field_<?php echo $field->getId() ?>"
                                       <?php if ($field->getRequired()){ ?>class="required"<?php } ?>>
        
                                    <?php if ($field->getRequired()) { ?>
                                        <em>*</em>
                                    <?php } ?>
        
                                    <?php echo $field->getName() ?>
        
                                </label>
                            <?php } ?>
        
                            <div class="input-box">
                                <?php echo $field->toHtml(); ?>
        
                                <?php if ($field->getComment()) { ?>
                                    <p class="webforms-fields-comment">
                                        <?php echo nl2br($field->getComment()) ?>
                                    </p>
                                <?php } ?>
                                <?php if ($field->getValidationAdvice()){?>
                                    <div style="display:none" class="validation-advice" id="advice-required-entry-field<?php echo $field->getId()?>">
                                        <?php echo $field->getValidationAdvice()?>
                                    </div>
                                <?php }?>
                            </div>
        
                        </div>
                        <?php if ($k == $fields_count - 1) { ?>
                            </li>
                        <?php } ?>
                        <?php
                        $k++;
                        $j++;
                        $prev = $field;
                    }?>
                </ul>
            </div>
    
        </div>
        <div class="clearfix"></div>
    </div>

<?php
$idx ++;
} // foreach 'fields_to_fieldsets'
?>

<div class="panel panel-default">
    <div class="fieldset" id="login-information">
        <div class="panel-heading"><h2 class="legend"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse<?php echo $idx; ?>" class="blocked"><?php echo $this->__('Login Information') ?></a></h2><a class="edit-step blocked" data-toggle="collapse" data-parent="#accordion" data-target="#collapse<?php echo $idx; ?>"><span><?php echo $this->__("Edit") ?></span></a></div>
        <div id="collapse<?php echo $idx; ?>" class="panel-collapse collapse">
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="password<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
        
                        <div class="input-box">
                            <input type="password" name="password" id="password<?php echo $webformId?>" title="<?php echo $this->__('Password') ?>"
                                   class="input-text required-entry validate-password"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="confirmation<?php echo $webformId?>" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
        
                        <div class="input-box">
                            <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>"
                                   id="confirmation<?php echo $webformId?>" class="input-text required-entry validate-cpassword"/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <?php $idx ++; ?>
</div>

<?php if (Mage::helper('webformscrf')->showCaptchaRegistration()) { ?>
	<div class="panel panel-default">
        <div class="fieldset">
            <div class="panel-heading"><h2 class="legend"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse<?php echo $idx; ?>" class="blocked">Captcha</a></h2><a class="edit-step blocked" data-toggle="collapse" data-parent="#accordion" data-target="#collapse<?php echo $idx; ?>"><span><?php echo $this->__("Edit") ?></span></a></div>
            <div id="collapse<?php echo $idx; ?>" class="panel-collapse collapse">
                <ul class="form-list">
                    <li class="fields">
                        <div class="field">
                            <?php echo $this->getCaptcha()->getHTML() ?>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
		<?php $idx ++; ?>
    </div>
<?php } ?>

<?php if (Mage::getStoreConfig('webforms/honeypot/enable')) {
    echo $this->getLayout()->createBlock(
        'core/template',
        'webform_' . $this->getWebform()->getId() . '_honeypot',
        array(
            'webform' => $this->getWebform(),
            'template' => 'webforms/scripts/honeypot.phtml',
        )
    )->toHtml();
}?>

<p class="required"><?php echo $this->__('* Required Fields') ?></p>

<p><?php echo $this->__('By submitting this form you are accepting to receive our partner news periodically by email.') ?></p>

<div class="buttons-set">
    <button type="button" class="button btn-success" id="webform_<?php echo $this->getWebform()->getId() ?>_submit_button"
            onclick="webform_<?php echo $this->getWebform()->getId() ?>_submit()"
            title="<?php echo $this->__('submit') ?>">
				<span>
					<span><?php echo $this->__('Submit') ?></span>
				</span>
    </button>
			<span class="please-wait" id="webform_<?php echo $this->getWebform()->getId() ?>_sending_data"
                  style="display:none;">
				<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"
                     alt="<?php echo $this->__('Sending...') ?>" title="<?php echo $this->__('Sending...') ?>"
                     class="v-middle"/><span
                    id="webform_<?php echo $this->getWebform()->getId() ?>_progress_text"><?php echo $this->__('Sending...') ?></span>
			</span>
</div>

</div>	<!-- END OF PANEL-GROUP -->

</form>

</div>

</div>

<?php echo $this->getLayout()->createBlock(
    'core/template',
    'webform_' . $this->getWebform()->getId() . '_submit_script',
    array(
        'webform' => $this->getWebform(),
        'ajax' => $this->isAjax(),
        'template' => 'webforms/scripts/submit.phtml',
    )
)->toHtml();
?>

<?php if ($this->getWebform()->getLogic())
    echo $this->getLayout()->createBlock(
        'core/template',
        'webform_' . $this->getWebform()->getId() . '_logic',
        array(
            'webform' => $this->getWebform(),
            'template' => 'webforms/scripts/logic.phtml',
        )
    )->toHtml();
?>

    <script type="text/javascript">
        //<![CDATA[
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country<?php echo $webformId?>', 'region<?php echo $webformId?>', 'region_id<?php echo $webformId?>', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip<?php echo $webformId?>');
        <?php endif; ?>
        //]]>
    </script>

<?php
} // if(show_success)
} // log out message
?>

</div>