<!--@subject Passwort für {{var customer.name}} setzen @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/initpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Hallo {{htmlescape var=$customer.name}},</h1>
            <p>wir freuen uns sehr, dass Sie unseren neuen Shop besuchen!</p>
            <p>Bitte klicken Sie auf den folgenden Link, um Ihr neues Passwort zu setzen: </p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}"><span>Passwort setzen</span></a>
                    </td>
                </tr>
            </table>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td class="action-content">
                    	<!--
                        <p>Falls der Link nicht funktioniert, kopieren Sie bitte den Link (<a href="{{store url="customer/account/initpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" target="_blank">{{store url="customer/account/initpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a>) und fügen Sie Ihn direkt in die Adresszeile Ihres Browsers ein.</p>
                        -->
                        <p>Bei Fragen wenden Sie sich bitte direkt an uns!</p>
                    </td>
                </tr>                        
            </table>
            {{block type="magesetup/imprint_content" template="magesetup/imprint/email_footer_dnp.phtml"}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}