<?php
/**
 * @author       Vladimir Popov
 * @copyright    Copyright (c) 2014 Vladimir Popov
 */
?>

<div id="webform_<?php echo $this->getWebform()->getId()?>_form">

    <?php if ($this->getWebform()->getDescription()) { ?>
        <div class="std">
            <?php echo $this->getWebform()->getDescription();?>
        </div>
    <?php }?>

    <iframe id="webform_<?php echo $this->getWebform()->getId()?>_iframe"
            name="webform_<?php echo $this->getWebform()->getId()?>_iframe"
            style="width:0;height:0;border:0;position:absolute"></iframe>


        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
        <input type="hidden" name="submitWebform_<?php echo $this->getWebform()->getId()?>" value="1"/>
        <input type="hidden" name="webform_id" value="<?php echo $this->getWebform()->getId()?>"/>
        <input type="hidden" name="result_id" id="result_id" value=""/>

        <?php if (is_array($this->getData('hidden'))) {
            foreach ($this->getData('hidden') as $key => $value) {
                ?>
                <input type="hidden" name="<?php echo $key?>" value="<?php echo $value?>"/>
            <?php
            }
        }?>

        <?php if (count($this->getWebform()->_getHidden())) {
            foreach ($this->getWebform()->_getHidden() as $field) {
                echo $field->toHtml();
            }
        } ?>

        <?php
        foreach (Mage::registry('fields_to_fieldsets') as $fieldset_id => $fieldset) {
            ?>

            <div id="fieldset_<?php echo $fieldset_id?>" class="fieldset-<?php echo $fieldset_id?>"
                <?php if (!empty($fieldset['logic_visibility']) && $fieldset['logic_visibility'] == 'hidden') echo 'style="display:none"';?>>
                <div class="webformscrf-onepage-fieldset">
                    <?php    if (!empty($fieldset['name'])) { ?>
                        <?php echo $fieldset['name'] ?>
                    <?php }    ?>
                </div>

                    <?php
                    $k = 0;
                    $j = 0;
                    $prev = false;
                    $fields_count = count($fieldset['fields']);
                    foreach ($fieldset['fields'] as $field) {

                        $size_class = "one-field";
                        $field_class = "field";
                        if ($field->getSize() == 'two-fields') {
                            $size_class = "two-fields";
                            $field_class = "";
                        }

                        ?>
                        <?php if ($j % 2 == 0 || $field->getSize() == 'two-fields' || $prev->getSize() == 'two-fields') {
                            $j = 0; ?>
                            <?php if ($k > 1) { ?></li><?php } ?>
                            <li <?php if ($size_class == 'two-fields') { ?>id="field_<?php echo $field->getId() ?>_row" <?php } ?>
                            class="<?php if ($size_class == 'two-fields') { ?>webforms-fields-row-<?php echo $field->getId() ?><?php } ?>"
                            <?php if ($size_class == 'two-fields' && $field->getData('logic_visibility') == 'hidden') echo 'style="display:none"'; ?>>
                        <?php } ?>
                        <div id="field_<?php echo $field->getId()?>"
                             class="<?php echo $field_class?> <?php echo $size_class?> webforms-fields-<?php echo $field->getId()?><?php if ($field->getCode()) { ?> webforms-fields-<?php echo $field->getCode();
                             }?>"
                            <?php if ($field->getData('logic_visibility') == 'hidden') echo 'style="display:none"';?>>

                            <?php if ($field->getType() != 'html') { ?>
                                <label for="field_<?php echo $field->getId()?>">

                                    <?php echo $field->getName()?>
                                    
                                    <?php if ($field->getRequired()) { ?>
                                        <span class="required">*</span>
                                    <?php }?>

                                </label><br>
                            <?php } ?>

                                <?php    echo $field->toHtml();?>

                                <?php if ($field->getComment()) { ?>
                                    <p class="webforms-fields-comment">
                                        <?php echo nl2br($field->getComment())?>
                                    </p>
                                <?php }?>
                            <?php if ($field->getValidationAdvice()){?>
                                <div style="display:none" class="validation-advice" id="advice-required-entry-field<?php echo $field->getId()?>">
                                    <?php echo $field->getValidationAdvice()?>
                                </div>
                            <?php }?>

                        </div>
                        <?php if ($k == $fields_count - 1) { ?>
                            </li>
                        <?php } ?>
                        <?php
                        $k++;
                        $j++;
                        $prev = $field;
                    }?>
            </div>


        <?php
        } // foreach 'fields_to_fieldsets'
        ?>

        <?php if (Mage::getStoreConfig('webforms/honeypot/enable')) {
            echo $this->getLayout()->createBlock(
                'core/template',
                'webform_' . $this->getWebform()->getId() . '_honeypot',
                array(
                    'webform' => $this->getWebform(),
                    'template' => 'webforms/scripts/honeypot.phtml',
                )
            )->toHtml();
        }?>

        <?php if (Mage::helper('webformscrf')->showCaptchaCheckout()) { ?>
            <div class="webformscrf-onepage-fieldset">Captcha</div>
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <?php echo $this->getCaptcha()->getHTML()?>
                    </div>
                </li>
            </ul>
        <?php }?>

</div>

<?php if ($this->getWebform()->getLogic())
    echo $this->getLayout()->createBlock(
        'core/template',
        'webform_' . $this->getWebform()->getId() . '_logic',
        array(
            'webform' => $this->getWebform(),
            'template' => 'webforms/scripts/logic.phtml',
        )
    )->toHtml();
?>

