<style>
.question-entry{background: #f7f7f7;border: 1px solid #DDDDDD;border-top: medium none;
  padding: 8px;}
	.question-entry:nth-child(2n+1) {
  background: none repeat scroll 0 0 #fff;
 
  padding: 8px;
}
.entry-comment {
  font-size: 13px;
  font-weight: bold;
}
.question-entry p {
  color: #999999;
  font-size: 11px;
  font-style: italic;
}
</style>
<div class="collateral-box" style="margin-top:16px">
    <div class="head" style="border-bottom: 1px solid #E5DCC3;">
    <h4><?php echo $this->__('Frequently Asked Questions and Answers') ?></h4>
    </div>
    <div class="collateral-box" id="product-q-a">
        <p><strong><a href="#question-form" id="add-question"><?php echo $this->__('Ask your question'); ?></strong></a></p>
            <?php $entries = $this->getEntries(); ?>
	        <?php if(!$entries->getSize()): ?>
	        <p><strong><?php echo $this->__('There are no entries.') ?></strong></p> 
	        <?php else: ?>	 
	        <?php echo $this->getPagerHtml(); ?>      
	        <?php foreach($entries as $entry): ?>
	        <div class="question-entry">
		        <div class="entry-comment"><strong><?php echo $this->__('Q'); ?>: </strong><?php echo $this->htmlEscape($entry->getQuestion()); ?></div>
		        <p>
		            <small class="added-on"><?php echo $this->__('Posted On: '); ?><?php echo $this->formatDate($entry->getCreatedOn()); ?></small>
		            <small class="added-on"><?php echo $this->__('By: '); ?><?php echo $entry->getName(); ?></small>
		        </p>
		        <div class="entry-answer"><strong><?php echo $this->__('A'); ?>: </strong><?php echo $this->htmlEscape($entry->getAnswer()); ?></div>
	        </div>
	        <?php endforeach; ?>	        
	        <?php endif; ?>	   
	        <br />     
	        <?php echo $this->getChildHtml('questionForm'); ?>
    </div>
</div>    


