<?php
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  FireGento
 * @package   FireGento_MageSetup
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2013-2015 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
?>
<?php
/**
 * @see FireGento_MageSetup_Block_Imprint_Content
 */
?>
<?php if (strlen(trim($this->getTelephone()))): ?>
    <?php echo $this->__('Telephone') ?>: <a href="tel:<?php echo $this->getTelephone() ?>" title="<?php echo $this->getTelephone() ?>"><?php echo $this->getTelephone() ?></a>
    <?php if (strlen(trim($this->getTelephoneAdditional()))): ?>
        (<?php echo $this->getTelephoneAdditional() ?>)
    <?php endif ?>
    <br />
<?php endif ?>
<?php if (strlen(trim($this->getFax()))): ?>
    <?php echo $this->__('Fax') ?>: <?php echo $this->getFax() ?><br />
<?php endif ?>
<?php if (strlen(trim($this->getWeb()))): ?>
    <?php echo $this->__('Web') ?>: <a href="<?php echo $this->getWeb(true) ?>" title="<?php echo $this->getCompanyFirst() ?>"><?php echo $this->getWeb() ?></a><br />
<?php endif ?>
<?php echo $this->__('E-Mail') ?>: <?php echo $this->getEmail(true) ?>
