<div class="ones-column">
	<?php if(Mage::helper('dynamicsitemap')->showCategories()): ?>
        <div class="sitempan">
            <h2 class="smh2"><?php echo $this->__('Our Categories and Products') ?></h2>
            <?php $_helper = Mage::helper('catalog/category') ?>
            <?php $_categories = $_helper->getStoreCategories() ?>
            <?php if (count($_categories) > 0): ?>
                <ul class="sitecatul">
                    <?php foreach($_categories as $_category): ?>
                        <?php //echo $_category->isEnabled(); ?>
                        <li class="cat">
                            <a href="<?php echo $_helper->getCategoryUrl($_category) ?>" title="<?php echo $_category->getName() ?>"><strong class="strongsm"><?php echo $_category->getName() ?></strong></a>
                            <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>                        
                            <?php $_subcategories = $_category->getChildrenCategories() ?>
                            <?php if (count($_subcategories) > 0): ?>
                                <ul>
                                    <?php foreach($_subcategories as $_subcategory): ?>
                                        <?php $_nextcategory = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>
                                        <?php $_nextsubcategories = $_nextcategory->getChildrenCategories() ?>
                                        <li>
                                            <a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>" title="<?php echo $_subcategory->getName() ?>">
                                                <?php echo $_subcategory->getName() ?>
                                            </a>
                            
                                            <?php
                                            $_productCollection = Mage::getResourceModel('catalog/product_collection')
                                                ->addAttributeToSelect('*')
                                                ->addCategoryFilter($_subcategory)
                                                ->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
                                               
                                            if ((count($_productCollection) > 0) && (count($_nextsubcategories) == 0)) {
                                                echo "<ul>";
                                                foreach ($_productCollection as $_product){
                                                   echo '<li><a href="'.$_product->getProductUrl().'">'.$_product->getName().'</a></li>';
                                                }
                                                echo "</ul>";
                                            }
                                            ?>
                                            
                                            <?php if (count($_nextsubcategories) > 0): ?>
                                            <ul>
                                                <?php foreach($_nextsubcategories as $_nextsubcat): ?>
                                                    <li>
                                                        <a href="<?php echo $_helper->getCategoryUrl($_nextsubcat) ?>" title="<?php echo $_subcategory->getName() ?> - <?php echo $_nextsubcat->getName() ?>">
                                                            <?php echo $_nextsubcat->getName() ?>
                                                        </a>
                            
                                                        <?php
                                                        $_productCollection = Mage::getResourceModel('catalog/product_collection')
                                                            ->addAttributeToSelect('*')
                                                            ->addCategoryFilter($_nextsubcat)
                                                            ->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
                                                           
                                                        if (count($_productCollection) > 0) {
                                                        	echo "<ul>";
                                                            foreach ($_productCollection as $_product){
                                                               echo '<li><a href="'.$_product->getProductUrl().'">'.$_product->getName().'</a></li>';
                                                            }
                                                        	echo "</ul>";
                                                        }
                                                        ?>
                                                        
                                                    </li>
                                                <?php endforeach; ?>
                                            </ul>
                                            <?php endif; ?>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
		</div>
	<?php endif; ?>
	<div class="sitempan">
        <?php if(Mage::helper('dynamicsitemap')->showCMS() || Mage::helper('dynamicsitemap')->showXMLSitemap()): ?>
        	<h2 class="smh2"><?php echo $this->__('Our Main Site Pages') ?></h2>
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sitemap_pages')->toHtml(); ?>
            <!--
            <ul class="siteul">
                <?php if(Mage::helper('dynamicsitemap')->showCMS()): ?>
                    <?php echo $this->getCreareCMSPages(); // prints out our cms page ?>
                <?php endif; ?>
                <?php if(Mage::helper('dynamicsitemap')->showXMLSitemap()): ?>
                    <?php $sitemap = Mage::getModel('sitemap/sitemap')->load(1); ?>
                    <?php $sitemapfilename = $sitemap->getSitemapFilename(); ?>
                    <?php if($sitemapfilename != ""): ?>
                        <li><a href="<?php echo Mage::getBaseUrl().$sitemapfilename; ?>" title="XML Sitemap">XML Sitemap</a></li>
                    <?php endif; ?>
                <?php endif; ?>
            </ul>
            -->
        <?php endif; ?>
        <?php if(Mage::helper('dynamicsitemap')->showAccount() || Mage::helper('dynamicsitemap')->showContact()): ?>
            <ul class="siteul">
                <?php if(Mage::helper('dynamicsitemap')->showContact()): ?>
                    <li><a href="<?php echo Mage::getBaseUrl(); ?>contacts" title="Contact">Contact</a></li>
                <?php endif; ?>
                <?php if(Mage::helper('dynamicsitemap')->showAccount()): ?>
                    <?php 
                    if($this->helper('customer')->isLoggedIn()) {
                        echo '<li><a href="'.Mage::getBaseUrl().'customer/account/index/" title="Account">Account</a></li>';
                        echo '<li><a href="'.Mage::getBaseUrl().'customer/account/logout/" title="Log Out">Log Out</a></li>';
                    } else {
                        echo '<li><a href="'.Mage::getBaseUrl().'customer/account/" title="Register/Log In">Register/Log In</a></li>'; 
                    }
                    ?>
                    <li><a href="<?php echo Mage::getBaseUrl(); ?>catalogsearch/advanced" title="Advanced Search">Advanced Search</a></li>
                <?php endif; ?>
            </ul>
        <?php endif; ?>
	</div>
</div>