.btn2,.btn-primary,.quickview-index-view .product-img-box-slider .slick-prev,.quickview-index-view .product-img-box-slider .slick-next,.btn3,button,.button,input[type="button"],input[type="reset"],input[type="submit"],.btn,.catalog-owl-next,.catalog-owl-prev,.owl-next,.owl-prev{
border-color:#303030;
background-color:#000;
color:#fff;
}
.btn2.active,.btn-primary.active,.quickview-index-view .product-img-box-slider .slick-prev.active,.quickview-index-view .product-img-box-slider .slick-next.active,.btn3.active,button.active,.button.active,input[type="button"].active,input[type="reset"].active,input[type="submit"].active,.btn.active,.catalog-owl-next.active,.catalog-owl-prev.active,.owl-next.active,.owl-prev.active,.btn2:active,.btn-primary:active,.quickview-index-view .product-img-box-slider .slick-prev:active,.quickview-index-view .product-img-box-slider .slick-next:active,.btn3:active,button:active,.button:active,input[type="button"]:active,input[type="reset"]:active,input[type="submit"]:active,.btn:active,.catalog-owl-next:active,.catalog-owl-prev:active,.owl-next:active,.owl-prev:active,.btn2:hover,.btn-primary:hover,.quickview-index-view .product-img-box-slider .slick-prev:hover,.quickview-index-view .product-img-box-slider .slick-next:hover,.btn3:hover,button:hover,.button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover,.btn:hover,.catalog-owl-next:hover,.catalog-owl-prev:hover,.owl-next:hover,.owl-prev:hover,.btn2:focus,.btn-primary:focus,.quickview-index-view .product-img-box-slider .slick-prev:focus,.quickview-index-view .product-img-box-slider .slick-next:focus,.btn3:focus,button:focus,.button:focus,input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,.btn:focus,.catalog-owl-next:focus,.catalog-owl-prev:focus,.owl-next:focus,.owl-prev:focus,.btn2.focus,.btn-primary.focus,.quickview-index-view .product-img-box-slider .slick-prev.focus,.quickview-index-view .product-img-box-slider .slick-next.focus,.btn3.focus,button.focus,.button.focus,input[type="button"].focus,input[type="reset"].focus,input[type="submit"].focus,.btn.focus,.catalog-owl-next.focus,.catalog-owl-prev.focus,.owl-next.focus,.owl-prev.focus{
color:#fff;
background-color:#666;
border-color:#666;
}
.btn2,.btn-primary,.quickview-index-view .product-img-box-slider .slick-prev,.quickview-index-view .product-img-box-slider .slick-next{
border-color:#fff;
background-color:rgba(0, 0, 0, 0);
color:#fff;
}
.btn2.active,.btn-primary.active,.quickview-index-view .product-img-box-slider .slick-prev.active,.quickview-index-view .product-img-box-slider .slick-next.active,.btn2:active,.btn-primary:active,.quickview-index-view .product-img-box-slider .slick-prev:active,.quickview-index-view .product-img-box-slider .slick-next:active,.btn2:hover,.btn-primary:hover,.quickview-index-view .product-img-box-slider .slick-prev:hover,.quickview-index-view .product-img-box-slider .slick-next:hover,.btn2:focus,.btn-primary:focus,.quickview-index-view .product-img-box-slider .slick-prev:focus,.quickview-index-view .product-img-box-slider .slick-next:focus,.btn2.focus,.btn-primary.focus,.quickview-index-view .product-img-box-slider .slick-prev.focus,.quickview-index-view .product-img-box-slider .slick-next.focus{
border-color:#666;
background-color:#666;
color:#fff;
}
.btn3{
color:#272727;
background:rgba(0, 0, 0, 0);
border-color:#272727;
}
.btn3.active,.btn3:active,.btn3:hover,.btn3:focus,.btn3.focus{
color:#fff;
background-color:#c0d03d;
border-color:#c0d03d;
}
textarea,.input-text,input[type=email],input[type=search],input[type=number],input[type=password],input[type=tel],input[type=text]{
border:1px solid #d7d7d7;
background-color:#fff;
color:#272727;
}
textarea:focus,.input-text:focus,input[type=email]:focus,input[type=search]:focus,input[type=number]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=text]:focus{
border-color:#c0d03d;
background:#ececec;
color:#272727;
}
#customer-reviews #product-review-table .radio:checked ~ label:before{
color:#000;
}
.nav > li > a:hover,.nav > li > a:focus{
color:#8d9b00;
}
.nav > li.disabled > a:hover,.nav > li.disabled > a:focus{
color:#c0d03d;
}
.nav .open > a,.nav .active > a,.nav .open > a:hover,.nav .active > a:hover,.nav .open > a:focus,.nav .active > a:focus{
color:#8d9b00;
}
.nav-tabs{
border-bottom:1px solid #000;
}
.nav-pills > li.active > a,.nav-pills > li.active > a:hover,.nav-pills > li.active > a:focus{
color:#8d9b00;
}
.nav-tabs-justified > .active > a,.nav-tabs.nav-justified > .active > a,.nav-tabs-justified > .active > a:hover,.nav-tabs.nav-justified > .active > a:hover,.nav-tabs-justified > .active > a:focus,.nav-tabs.nav-justified > .active > a:focus{
border:1px solid #000;
}
@media (min-width:768px){
.nav-tabs-justified > li > a,.nav-tabs.nav-justified > li > a{
border-bottom:1px solid #000;
}
.nav-tabs-justified > .active > a,.nav-tabs.nav-justified > .active > a,.nav-tabs-justified > .active > a:hover,.nav-tabs.nav-justified > .active > a:hover,.nav-tabs-justified > .active > a:focus,.nav-tabs.nav-justified > .active > a:focus{
border-bottom-color:#000;
}
}
.dropdown-menu > li > a{
color:#c0d03d;
}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{
color:#8d9b00;
}
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{
color:#8d9b00;
}
.dropdown-menu > .disabled > a,.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus{
color:#8e8e8e;
}
.dropdown-header{
color:#8e8e8e;
}
html{
font-size:12px;
}
body{
font-size:12px;
color:#8e8e8e;
font-family:Open Sans;
background-color:#fff;
}
a{
color:#c0d03d;
}
a:hover,a:focus{
color:#8d9b00;
}
.tooltip{
font-family:Open Sans;
}
h1,.h1{
font-size:2em;
}
h2,.h2{
font-size:1.75em;
}
h3,.h3{
font-size:1.429em;
}
h4,.h4{
font-size:1.286em;
}
h5,.h5{
font-size:1.143em;
}
h6,.h6{
font-size:1em;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
color:#272727;
font-family:Roboto Slab;
}
.label,label{
color:#272727;
}
.btn3{
}
.global-site-notice{
background:#eee;
}
.promo-msg{
color:#eee;
}
.success{
color:#008000;
}
.error{
color:#f00;
}
.notice{
color:#ffa500;
}
.messages li li{
background:#eee;
}
.messages .error-msg li{
background:#f00;
}
.messages .notice-msg li{
background:#ffa500;
}
.messages .success-msg li{
background:#008000;
}
.rating-box,.rating-box .rating{
color:#ebc52d;
}
.toolbar{
color:#b8b8b8;
background:#fff;
}
.toolbar .btn{
border-color:#ebebeb;
}
.toolbar a,.toolbar .btn{
background:rgba(0, 0, 0, 0);
color:#b8b8b8;
font-weight:400;
}
.toolbar a:hover,.toolbar .btn:hover{
background:rgba(0, 0, 0, 0);
color:#666;
border-color:#666;
}
.toolbar .dropdown-menu a:hover{
background:rgba(0, 0, 0, 0);
color:#666;
}
.toolbar .open .btn{
background:rgba(0, 0, 0, 0);
color:#666;
border-color:#666;
}
.toolbar .view-mode strong{
background:rgba(0, 0, 0, 0);
color:#666;
border-color:#666;
}
.toolbar .bootstrap-select .dropdown-menu{
background:#fff;
}
.toolbar .view-limiter a:before{
color:#b8b8b8;
}
.toolbar .view-limiter a.selected{
background:rgba(0, 0, 0, 0);
color:#666;
}
.category-products .toolbar ~ .toolbar .pages{
border-top:1px solid #ebebeb;
border-bottom:1px solid #ebebeb;
}
.toolbar ~ .toolbar .pages ol li{
border:1px solid #ebebeb;
background:rgba(0, 0, 0, 0);
}
.toolbar ~ .toolbar .pages ol li:hover{
color:#b8b8b8;
background:rgba(0, 0, 0, 0);
}
.toolbar ~ .toolbar .pages ol li.current{
color:#666;
background:rgba(0, 0, 0, 0);
}
label.required:after,span.required:after{
color:#f00;
}
input[disabled]{
background:#ebebeb;
}
.input-text.validation-failed{
border-color:#f00;
}
.input-text.validation-failed:focus{
outline-color:#f00;
}
::-webkit-input-placeholder{
color:#8e8e8e;
}
p.required,.validation-advice{
color:#f00;
}
.form-list select{
border:1px solid #d7d7d7;
}
#login-form{
border-color:#000;
}
.contact-form,.newsletter-validate-detail{
}
.contact-form .validation-advice,.newsletter-validate-detail .validation-advice{
font-family:Open Sans;
}
th{
color:#333;
}
.data-table{
background:#fff;
}
.data-table thead{
border:1px solid #ededed;
background:#fff;
color:#333;
}
.data-table th{
border:1px solid #ededed;
}
.data-table tbody tr{
border:1px solid #ededed;
}
.data-table tr td{
border:1px solid #ededed;
}
.data-table tfoot{
border-top:1px solid #ededed;
}
.table,.data-table{
color:#b8b8b8;
}
.table a,.data-table a{
color:#272727;
}
.table a:hover,.data-table a:hover{
color:#da5171;
}
#product-attribute-specs-table,#product-attribute-specs-table th,#product-attribute-specs-table td{
border:1px solid #ededed;
}
@media (max-width:767px){
table.arw-responsive-table td:before{
color:#333;
}
}
.block .link-cart{
border:1px solid #303030;
color:#fff;
background:#000;
}
.block .link-cart:hover{
border-color:#666;
color:#fff !important;
background:#666;
}
.block-subtitle{
color:#272727;
}
.sidebar .block .actions a{
color:#000;
}
.block-account li + li,.block-cms-menu li + li{
border-top:1px solid #ebebeb;
}
.block-account li.current strong,.block-cms-menu li.current strong{
color:#c0d03d;
}
.block-layered-nav dt{
color:#000;
border-color:#ccc;
}
.block-layered-nav .currently .value{
color:#000;
}
.block-layered-nav .configurable-swatch-list li a > .swatch-label{
border:1px solid #ebebeb;
}
.block-layered-nav .configurable-swatch-list li:hover a > .swatch-label{
background:#000;
border-color:#000;
}
.opc-block-progress .block-content dt{
border-bottom:1px solid #ebebeb;
}
.opc-block-progress .block-content dd.complete{
border-bottom:1px solid #ebebeb;
}
.block.block-tags ul.tags-list li a{
border:1px solid #ebebeb;
}
.block.block-tags ul.tags-list li a:hover{
background:#000;
border-color:#000;
}
.block.block-tags .actions a{
color:#000;
}
.mini-products-list .price{
color:#000;
}
.main{
background:#fff;
}
.arw-page-title{
background-color:#fff;
}
.arw-page-title .arw_breadcrumbs .breadcrumbs li a{
color:#000;
}
.arw-page-title .arw_breadcrumbs .breadcrumbs li a:hover{
color:#c0d03d;
}
.arw-page-title .arw_breadcrumbs .breadcrumbs li strong{
color:#c0d03d;
}
.arw-page-title .arw_breadcrumbs .breadcrumbs li span{
color:#000;
}
.arw-product-labels .product-sale-label{
background:#c00;
color:#fff;
border-color:#c00;
}
.arw-product-labels .product-new-label{
background:#ababab;
color:#fff;
border-color:#ababab;
}
.header-container{
}
.header-container .header-top{
color:#272727;
background:rgba(0, 0, 0, 0);
}
.header-container .header-top a{
color:#272727;
background:rgba(0, 0, 0, 0);
}
.header-container .header-top a:hover{
color:#666;
background:rgba(0, 0, 0, 0);
}
.header-container .header-top .active > a{
color:#666;
background:rgba(0, 0, 0, 0);
}
.header-container .header-top .header-top-link .header-top-link-ul > li > span{
color:#272727;
background:rgba(0, 0, 0, 0);
}
.header-container .header-top .header-top-link .header-top-link-ul > li > span span{
color:#666;
}
.header-container .header-top .header-top-link .header-top-link-ul > li > span span:before{
color:#272727;
}
.header-container .header-top .header-top-link .header-top-link-ul > li.header-dropdown-currency li.active > a:after{
color:#b2b2b2;
}
.header-container .header-top .header-top-link ul.links{
background:#272727;
color:#b2b2b2;
}
.header-container .header-top .header-top-link ul.links li a{
color:#b2b2b2;
background:rgba(0, 0, 0, 0);
}
.header-container .header-top .header-top-link ul.links li + li > a{
border-top:1px solid #303030;
}
.header-container .header-top .header-top-link ul.links li.active > a,.header-container .header-top .header-top-link ul.links li:hover > a{
color:#666;
background:rgba(0, 0, 0, 0);
}
.header-container .header-quick-access .arw-toggle-container .arw-toggle-content{
background:#fff;
color:#000;
}
.header-container .header-quick-access .arw-toggle-container.active .arw-toggle-control.mini-cart-header,.header-container .header-quick-access .arw-toggle-container:hover .arw-toggle-control.mini-cart-header{
color:#000;
}
.header-container .header-quick-access .arw-toggle-control{
color:#000;
}
.header-container .header-quick-access .btn-open-search:hover span{
color:#000;
}
.header-container .header-quick-access .mini-cart-header .total-badge{
background:#000;
}
.header-container .header-quick-access .mini-products-list li.item{
border-bottom:1px solid #000;
}
.header-container .header-quick-access .mini-products-list li.item .btn-remove{
color:#000;
}
.header-container .header-quick-access .mini-products-list li.item .btn-remove:hover,.header-container .header-quick-access .mini-products-list li.item .product-name a:hover{
color:#666;
}
.header-container .header-quick-access .block .subtotal .price{
color:#000;
}
.header-container .header-quick-access .block .button:hover{
background:#000;
border-color:#000;
}
.header-container .header-quick-access .search_mini_form .button{
background:#fff;
}
.header-container .header-quick-access .search_mini_form .button:hover{
background:#000;
}
.footer_link_fa div a:hover{
border-color:#000;
background-color:#000;
}
.footer_link_fa div a:hover i{
color:#fff;
}
.footer_link_fa div a i{
color:#515151;
}
.top-link-benz .header-top-link-ul-benz .nv-language{
color:#000;
font-size:12px;
}
.top-link-benz .header-top-link-ul-benz .links a:hover{
color:#000;
}
.top-link-benz .header-top-link-ul-benz .current-benz .down-current-benz span span{
color:#000;
padding-left:5px;
}
.layout-header-special .header-container:not(.active-sticky) .header-quick-access .btn-headertop:hover span{
color:#000;
}
.toolbar-bottom .toolbar .pages ol .current strong{
border-color:#000;
color:#000;
}
.megamenu li.active a span:after{
border-color:#000;
}
.layout-header-special .megamenu li.active a span:after{
border-color:#000;
}
.header-container.header_style_vertical .header-wrapper .block-footer-home-6 .icon-footer-home-4 a:hover i{
color:#000;
}
.layout-header-special .header-container:not(.active-sticky) .nav-primary-container ul#nav > li:not(.active) > a:hover:after,.layout-header-special .header-container:not(.active-sticky) .nav-primary-container .megamenu > li:not(.active) > a:hover:after,.header-container:not(.active-sticky) .nav-primary-container ul#nav > li:not(.active) > a:hover:after,.header-container:not(.active-sticky) .nav-primary-container .megamenu > li:not(.active) > a:hover:after{
border-color:#000;
}
.layout-header-special .header-container .nav-primary-container ul#nav > li:not(.active) > a:hover:after,.layout-header-special .header-container .nav-primary-container .megamenu > li:not(.active) > a:hover:after,.header-container .nav-primary-container ul#nav > li:not(.active) > a:hover:after,.header-container .nav-primary-container .megamenu > li:not(.active) > a:hover:after{
border-color:#000;
}
.line_slider_epro,.block_sidebar_left .product-tab-list-mini .products-list .outer-image:hover{
border-color:#000;
}
.color_jewel,.bake_one_content:hover .bake_icon i,.title_jewelry_2 span,.block_home_three_1 .btn_continue_cosmetic:hover,.block_home_three_1 .money_cosmetic{
color:#000;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .actions .link-actions .button:hover span,.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .actions .btn-cart:hover span span{
color:#000;
}
.nova_block_title span{
font-family:Roboto Slab;
}
.block_home_two_1 .arw-title h2 span span,.block_home_one_3 .post-excerpt,.block_home_one_3 .arw-sub-title,.block_home_one_3 .post-date .by,.text_block_1,.text_jewelry,.footer_jewel_text,.footer_jewel_pro li,.wrapper-copyright address,.bake_text,.footer_bake_pro li,.footer_bike_pro li,.footer_bike_pro .test_subscribe_footer,.text_seven_1,.text_seven_3,.text_footer_sunpro_1,.footer_sun_pro li,.text_eight,.text_discover_before,.text_discover_after,.sub-title-home-ten,.address_office p,.fontfamily_opensan{
font-family:Open Sans;
}
.color_active,.link_footer_elec a:hover{
color:#000 !important;
}
.block_home_nine_2 .btn_continue_cosmetic:hover,.header_style_8 .block_menu_home_9 .block_menu_home_nine ul li:hover a,.far_btn_headertop .btn-headertop:hover span,.btn_header_left span:hover,.header_left_300 .icon-footer-home-4 a:hover,.block_home_ten_4 .post-item .post-item-content .post-readmore a:hover{
color:#000;
}
.btn3:hover::before,.btn3:focus::before,.btn2:hover::before,.btn2:focus::before,.btn_eight:hover::before,.btn_eight:focus::before{
border-color:#000;
}
.newsletter_style_footer.newletter_elec .block-subscribe .block-content .actions .btn_subscribe_footer,.tag-cloud > a:hover,.header-container.header_style_8 .header-quick-access .search_mini_form .button,.header_categories_left .navleft-container .megamenu-title{
background-color:#000 !important;
}
.block_home_nine_8 .ftr-icn:hover{
background-color:#000 !important;
border-color:#000;
}
@media (min-width:768px){
.layout-header-special .header-container:not(.active-sticky) .header-top a:hover{
color:#000;
}
.layout-header-special .header-container:not(.active-sticky) .nav-primary-container .megamenu > li > a:hover,.layout-header-special .header-container:not(.active-sticky) .nav-primary-container ul#nav > li > a:hover{
color:#000;
}
}
.nav-primary-container ul#nav > li > a{
background:rgba(0, 0, 0, 0);
color:#000;
}
.nav-primary-container ul#nav > li:hover > a,.nav-primary-container ul#nav > li.active > a{
background:rgba(0, 0, 0, 0);
color:#666;
}
.nav-primary-container ul#nav ul{
background:#fff;
}
.nav-primary-container ul#nav ul ul{
background:rgba(0, 0, 0, 0);
}
.nav-primary-container ul#nav > li > ul > li > a{
background:rgba(0, 0, 0, 0);
color:#000;
}
.nav-primary-container ul#nav > li > ul > li:hover > a,.nav-primary-container ul#nav > li > ul > li.active > a{
background:rgba(0, 0, 0, 0);
color:#666;
}
.nav-primary-container ul#nav li li ul,.nav-primary-container ul#nav li.level1 ul.level1{
background:rgba(0, 0, 0, 0);
}
.nav-primary-container ul#nav li li ul li > a,.nav-primary-container ul#nav li.level1 ul.level1 li > a{
background:rgba(0, 0, 0, 0);
color:#999;
}
.nav-primary-container ul#nav li li ul li.active > a,.nav-primary-container ul#nav li.level1 ul.level1 li.active > a,.nav-primary-container ul#nav li li ul li:hover > a,.nav-primary-container ul#nav li.level1 ul.level1 li:hover > a{
background:rgba(0, 0, 0, 0);
color:#000;
}
.nav-primary-container ul#nav ul li + li > a{
border-top:1px solid #000;
}
.nav-primary-container ul#nav ul li li + li > a{
border-top:1px solid #999;
}
.sidebar .block{
color:#b8b8b8;
}
.sidebar .block .block-title{
background:#fff;
color:#272727;
border-bottom:1px dashed #ccc;
}
.sidebar .block .block-title:after{
background:#272727;
}
.sidebar .block .block-content{
background:#fff;
}
.sidebar .block .block-content p.empty{
border:1px solid #ebebeb;
}
.sidebar .block a{
color:#272727;
}
.sidebar .block a:hover{
color:#c0d03d;
}
.sidebar .block.block-nav a{
color:#272727;
}
.sidebar .block.block-nav li:hover > a,.sidebar .block.block-nav li.active > a{
color:#c0d03d;
}
.footer-container{
background:#333;
color:#515151;
}
.footer-container a{
color:#fff;
}
.footer-container a:hover{
color:#666;
}
.footer-container .block .block-title{
color:#fff;
}
.footer-container .block .block-content .address-ft{
color:#666;
}
.footer-container .footer-copyright{
background:#000;
color:#666;
}
.footer-container .footer-copyright a{
color:#fff;
}
.footer-container .footer-copyright a:hover{
color:#666;
}
.footer-about{
color:#515151;
font-family:Open Sans;
}
.products-list .product-name a,.products-grid .product-name a{
color:#000;
}
.products-list .product-name a:hover,.products-grid .product-name a:hover{
color:#666;
}
.products-list .configurable-swatch-list span,.products-grid .configurable-swatch-list span{
border:1px solid #000;
}
.products-grid .btn-cart{
background:#000;
color:#fff;
border-color:#000;
}
.products-grid .btn-cart:hover{
background:#333;
color:#fff;
border-color:#333;
}
.products-grid .link-wishlist{
background:#000;
color:#fff;
border-color:#000;
}
.products-grid .link-wishlist:hover{
background:#333;
color:#fff;
border-color:#333;
}
.products-grid .link-compare{
background:#000;
color:#fff;
border-color:#000;
}
.products-grid .link-compare:hover{
background:#333;
border-color:#333;
color:#fff;
}
.products-grid .link-quickview{
background:#000;
color:#fff;
border-color:#000;
}
.products-grid .link-quickview:hover{
background:#333;
color:#fff;
border-color:#333;
}
.products-grid .price-box .minimal-price .price,.products-grid .price-box .special-price,.products-grid .price-box .regular-price{
color:#eaeaea;
}
.products-grid .availability span{
background:#ababab;
color:#fff;
border-color:#ababab;
}
.products-list .outer-image{
border-color:#000;
}
.products-list .product-name a{
color:#666;
}
.products-list .product-name a:hover{
color:#666;
}
.products-list .price-box .special-price,.products-list .price-box .regular-price{
color:#eaeaea;
}
.products-list .btn-cart{
background:#000;
color:#fff;
border-color:rgba(0, 0, 0, 0);
}
.products-list .btn-cart:hover{
background:#666;
color:#fff;
border-color:rgba(0, 0, 0, 0);
}
.products-list .link-wishlist{
background:#333;
color:#949494;
border-color:rgba(0, 0, 0, 0);
}
.products-list .link-wishlist:hover{
background:#000;
color:#fff;
border-color:rgba(0, 0, 0, 0);
}
.products-list .link-compare{
background:#333;
color:#949494;
border-color:rgba(0, 0, 0, 0);
}
.products-list .link-compare:hover{
background:#000;
color:#fff;
border-color:rgba(0, 0, 0, 0);
}
.products-list .link-quickview{
background:#333;
color:#949494;
border-color:rgba(0, 0, 0, 0);
}
.products-list .link-quickview:hover{
background:#000;
color:#fff;
border-color:rgba(0, 0, 0, 0);
}
.grid-style-2 .products-grid .product-info{
background:#000;
}
.product-view .product-shop-inner{
background-color:#fff;
}
.product-view .product-essential .product-name{
color:#272727;
}
.product-view .product-essential .availability{
border:1px solid #ebebeb;
}
.product-view .product-essential .availability span{
color:#272727;
}
.product-view .product-essential .availability.out-of-stock span:before{
color:#000;
}
.product-view .product-essential .short-description{
border-top:1px solid #ebebeb;
border-bottom:1px solid #ebebeb;
}
.product-view .product-essential .rating-links{
color:#8e8e8e;
}
.product-view .product-essential .rating-links a{
color:#8e8e8e;
}
.product-view .product-essential .rating-links a:hover{
color:#8d9b00;
}
.product-view .product-essential .btn-cart{
background:#272727;
color:#fff;
border-color:#272727;
}
.product-view .product-essential .btn-cart:hover{
background:rgba(0, 0, 0, 0);
color:#666;
border-color:#666;
}
.product-view .product-essential .link-wishlist{
background:#ebebeb;
color:#fff;
border-color:#ebebeb;
}
.product-view .product-essential .link-wishlist:hover{
background:#666;
color:#fff;
border-color:#666;
}
.product-view .product-essential .link-compare{
background:#ebebeb;
color:#fff;
border-color:#ebebeb;
}
.product-view .product-essential .link-compare:hover{
background:#666;
color:#fff;
border-color:#666;
}
.product-view .product-essential .price-box .special-price,.product-view .product-essential .price-box .regular-price{
color:#666;
}
.product-collateral .product-collateral-item .widget{
background-color:#fff;
}
.product-shop .grouped-items-table .name-wrapper{
color:#8e8e8e;
}
.product-tabs-content a{
color:#272727;
}
.product-tabs-content a:hover{
color:#666;
}
.product_details_tabs .product-tabs li a{
color:#ccc;
background:#fff;
}
.product_details_tabs .product-tabs li.active a,.product_details_tabs .product-tabs li:hover a{
color:#000;
background:#fff;
border-bottom:2px solid #000;
}
.product_details_tabs .product-tabs-content{
color:#b8b8b8;
background:#fff;
}
.product_details_tabs .product-accordion-heading{
color:#ccc;
background:#fff;
border-color:#ebebeb;
}
.product_details_tabs .product-accordion-heading.active,.product_details_tabs .product-accordion-heading:hover{
color:#000;
background:#fff;
}
.product_details_tabs.active_mode_accordion .product-accordion-heading.active + .product-tabs-content,.product_details_tabs.mode_accordion .product-accordion-heading.active + .product-tabs-content{
border-color:#ebebeb;
}
#customer-reviews dl dt{
color:#8e8e8e;
}
.block-message-cart .arw-services-box.active .service-title,.block-message-cart .arw-services-box.active .service-icon{
color:#000;
}
.data-table.cart-table tbody tr{
border-top:1px solid #ededed;
}
.cart-table .price{
color:#000;
}
.cart-collaterals .discount > h2,.cart-collaterals .shipping > h2{
background:#fff;
color:#272727;
}
.cart-collaterals .discount > h2:after,.cart-collaterals .shipping > h2:after{
background:#272727;
}
.cart-collaterals .discount select,.cart-collaterals .shipping select{
border:1px solid #d7d7d7;
}
.cart-collaterals .cart-totals{
border:2px solid #000;
}
.cart-collaterals .cart-totals #shopping-cart-totals-table{
color:#272727;
}
.cart-collaterals .cart-totals #shopping-cart-totals-table tfoot .price{
color:#000;
}
.cart-collaterals .cart-totals .btn-proceed-checkout{
background:#000;
border-color:#000;
}
#checkoutSteps .section{
border-color:#000;
}
#checkoutSteps .section .step-title{
color:#272727;
}
#checkoutSteps .section.active.allow .step-title:before{
background:#272727;
}
#checkoutSteps .section .step h3,#checkoutSteps .section .step h4{
font-size:1.143em;
}
#checkoutSteps .section .step select{
border:1px solid #d7d7d7;
}
#checkoutSteps .section .step .data-table .price{
color:#000;
}
ul#checkout-progress-state li{
background:#fff;
color:#272727;
}
ul#checkout-progress-state li.active{
background:#000;
}
.multiple-checkout form,.multiple-checkout table,.multiple-checkout .col3-set{
background:#fff;
}
.multiple-checkout #multishipping-billing-form #payment-tool-tip{
background:#fff;
}
.multiple-checkout #checkout-review-submit .grand-total .price{
color:#000;
}
.multiple-checkout > p{
background:#fff;
}
.dashboard .box-account .box-head{
color:#272727;
}
.dashboard .box-account .box-head:before{
background:#272727;
}
.dashboard .box-account li.item + li{
border-top:1px solid #000;
}
.dashboard .box-account > .col2-set > .box .box-title h3{
color:#272727;
}
.my-account .cart-cell .price{
color:#000;
}
.my-account .product-review .product-details dt{
color:#8e8e8e;
}
.my-account .product-review h2{
font-size:1.286em;
}
.my-account .product-review h3{
font-size:1.143em;
}
.my-account .my-tag-edit .btn-remove:hover{
color:#8d9b00;
}
.my-account #my-tags-table .add-to-links a{
background:#000;
}
.my-account #my-tags-table .add-to-links a:hover{
background:#666;
}
.my-account #wishlist-table .product-name{
font-size:1.143em;
}
.arw-parallax-slider .parallax-body .parallax-content-slider .content-slider .slider-button a:hover{
border-color:#000;
background:#000;
}
.parallax-dots a span{
font-family:Open Sans;
}
.contact-infomation-line .fa{
border:1px solid #000;
color:#272727;
}
.post-item .post-by a{
color:#a6a6a0;
}
.post-item .post-by:hover{
color:#000;
}
.post-item .post-category a{
color:#a6a6a0;
}
.post-item .post-category:hover{
color:#000;
}
.post-item .post-title{
font-family:Open Sans;
}
.blog-detail .post-item{
border-bottom:1px solid #000;
}
.block-recent-post ul li + li{
border-top:1px solid #ebebeb;
}
.commentWrapper{
border:1px solid #000;
}
.commentWrapper h4.username{
color:#000;
}
.commentWrapper .commentCreate{
color:#272727;
}
.price-slider{
background:#ebebeb;
}
.price-slider .price-slider-handle{
border:2px solid #868686;
background-color:#868686;
}
.price-slider .price-slider-handle:hover,.price-slider .price-slider-handle:focus{
border-color:#000;
background-color:#000;
}
.price-slider .price-slider-span{
background:#000;
}
.layer-price{
color:#272727;
}
.arw_tab_slider .slider-tab li{
color:#000;
}
.arw_tab_slider .slider-tab li:hover,.arw_tab_slider .slider-tab li.active{
color:#000;
}
.tab-control-highlight-font .arw_tab_slider .slider-tab{
font-family:Open Sans;
}
.sidebar ul.chars-filter li.active a,.sidebar ul.chars-filter li a:hover{
background:#000;
}
.nav-accordion li.parent .expand{
color:#8d9b00;
}
.nav-accordion li.parent > span:hover{
color:#8d9b00;
}
.nav-accordion li.active > a{
color:#8d9b00;
}
.cat-label-1{
background-color:rgba(0, 0, 0, 0);
}
.cat-label-2{
background-color:rgba(0, 0, 0, 0);
}
.cat-label-3{
background-color:rgba(0, 0, 0, 0);
}
.cat-label-4{
background-color:rgba(0, 0, 0, 0);
}
.arw-mobile-menu{
background:#212121;
}
.arw-mobile-menu-header{
background:#000;
}
.nav-mobile-accordion.nav-accordion li.parent > span{
color:#fff;
}
.nav-mobile-accordion.nav-accordion li.parent > span:hover{
color:#666;
}
.nav-mobile-accordion.nav-accordion li a{
color:#fff;
}
.nav-mobile-accordion.nav-accordion li:hover > a,.nav-mobile-accordion.nav-accordion li.active > a{
color:#666;
}
.nav-mobile-accordion.nav-accordion li li > a{
color:#e6e6e6;
}
.nav-mobile-accordion.nav-accordion li li:hover > a,.nav-mobile-accordion.nav-accordion li li.active > a{
color:#666;
}
.arw-toggle-menu-mobile{
background:#b8b8b8;
color:rgba(0, 0, 0, 0);
}
.nav-primary-container{
background:#fff;
color:#000;
}
.megamenu{
}
.megamenu .arwmenu-block ul .groups .title-group{
color:#000;
}
.megamenu > li > a{
background:rgba(0, 0, 0, 0);
color:#000;
}
.megamenu > li:hover > a,.megamenu > li.active > a{
background:rgba(0, 0, 0, 0);
color:#666;
}
.megamenu > li > .sub-wrapper{
background:#fff;
}
.megamenu > li > .sub-wrapper li.level1 > a{
background:rgba(0, 0, 0, 0);
color:#000;
}
.megamenu > li > .sub-wrapper li.level1.active > a,.megamenu > li > .sub-wrapper li.level1:hover > a{
background:rgba(0, 0, 0, 0);
color:#666;
}
.megamenu li.level1 .groups-wrapper,.megamenu li.level1 .sub-wrapper{
background:rgba(0, 0, 0, 0);
}
.megamenu li.level1 .groups-wrapper li.level2 > a,.megamenu li.level1 .sub-wrapper li.level2 > a{
background:rgba(0, 0, 0, 0);
color:#999;
}
.megamenu li.level1 .groups-wrapper li.level2.active > a,.megamenu li.level1 .sub-wrapper li.level2.active > a,.megamenu li.level1 .groups-wrapper li.level2:hover > a,.megamenu li.level1 .sub-wrapper li.level2:hover > a{
background:rgba(0, 0, 0, 0);
color:#000;
}
.megamenu li li ul,.megamenu li.level1 ul.level1{
background:rgba(0, 0, 0, 0);
}
.megamenu li li ul li > a,.megamenu li.level1 ul.level1 li > a{
background:rgba(0, 0, 0, 0);
color:#999;
}
.megamenu li li ul li.active > a,.megamenu li.level1 ul.level1 li.active > a,.megamenu li li ul li:hover > a,.megamenu li.level1 ul.level1 li:hover > a{
background:rgba(0, 0, 0, 0);
color:#000;
}
#toPopup{
color:#8e8e8e;
}
#toPopup select{
border:1px solid #d7d7d7;
}
#toPopup .price{
color:#000;
}
.cloud-zoom-big{
border-color:#ebebeb;
}
.more-views{
}
.more-views .slick-slider .slick-next,.more-views .slick-slider .slick-prev{
color:#c0d03d;
}
.more-views .slick-slider .slick-next:hover,.more-views .slick-slider .slick-prev:hover{
color:#8d9b00;
}
.product-options .swatch-link{
border:1px solid #000;
}
li.selected .swatch-link{
border-color:#000;
background:#000;
}
.not-available .swatch-link{
border-color:#333;
background:#333;
}
.swatch-link .x{
border-top:1px solid #000;
}
.currently .swatch-link:hover{
border-color:#000;
}
.configurable-swatch-list .hover .swatch-link,.configurable-swatch-list .selected .swatch-link,.swatch-link:hover{
border-color:#000;
}
.configurable-swatch-box{
}
.configurable-swatch-box .validation-advice{
background:#f00;
}
.highlight-font{
font-family:Open Sans;
}
.home-block-border{
border:1px solid #000;
}
.home-block-shop-location ul li .fa{
border:1px solid #000;
color:#272727;
}
.search-autocomplete ul li:hover{
background:#000;
}
.slick-slider .slick-dots li button{
border:2px solid #000;
background:#000;
}
.slick-slider .slick-dots li.slick-active button{
border-color:#000;
}
.owl-carousel .owl-dots .owl-dot{
border:2px solid #000;
background:#000;
}
.owl-carousel .owl-dots .owl-dot.active{
border-color:#000;
}
.social-networks a{
background:#000;
color:#272727;
}
.social-networks a:hover{
background:#000;
}
.support-people{
}
.support-people h5{
font-family:Open Sans;
color:#8e8e8e;
}
.support-people a{
color:#8e8e8e;
}
.arw-banner.style-1 .banner-button a{
color:#272727;
}
.arw-banner.style-1 .banner-button a:hover{
background:#000;
}
.arw-banner.style-2 .banner-text{
font-family:Open Sans;
}
.arw-banner.style-2 .banner-button a:hover{
background:#000;
border-color:#000;
}
.arw-banner.style-4 .banner-button a:hover{
color:#000;
}
.arw-banner.style-5 .banner-button a:hover{
border-color:#000;
background:#000;
}
.arw-banner.style-6 .banner-button a:hover{
background:#000;
}
.banner-overlay-primary{
}
.banner-overlay-primary .arw-banner-image:before{
background:#000 !important;
}
.arw-title.style-2 h2 > span:after,.arw-title.style-2 h2 > span:before{
border-bottom:2px solid #000;
}
.arw-sub-title{
font-family:Open Sans;
}
.arw-services-box .service-thumb.thumb-style-1 .service-icon{
background:#8e8e8e;
}
.arw-services-box .service-thumb.thumb-style-2 .service-icon{
border:1px solid #000;
}
.arw-services-box:hover .service-thumb.thumb-style-1 .service-icon{
background:#000;
}
.arw-services-box:hover .service-thumb.thumb-style-2 .service-icon{
color:#000;
}
.arw-services-box.style-1:hover .service-thumb .service-icon{
background:#000;
}
.arw-services-box.style-2:hover .service-thumb .service-icon{
color:#000;
}
.arw-services-box.style-2 .service-thumb .service-icon{
border:1px solid #808080;
}
.arw-services-box.style-2 .service-content{
font-family:Open Sans;
color:#8e8e8e;
}
.arw-services-box.style-3 .service-icon{
background:#000;
}
.arw-services-box.style-3 .service-title{
color:#272727;
}
.arw-services-box.style-3 .service-content{
font-family:Open Sans;
}
.arw-services-box.style-4 .service-content{
font-family:Open Sans;
}
.our-team-item h5{
color:#8e8e8e;
font-family:Open Sans;
}
.arw-testimonial-box .testimonial-author-position,.arw-testimonial-box .testimonial-text{
font-family:Open Sans;
}
.arw-testimonial-box .testimonial-author{
font-family:Roboto Slab;
}
.arw-testimonial-box.style-2 .testimonial-text{
border-bottom:1px solid #000;
}
.arw-testimonial-box.style-3 .testimonial-author{
color:#272727;
}
.arw-testimonial-box.style-4 .testimonial-author{
color:#272727;
}
.lookbook-item .lookbook-content .lookbook-title a:hover{
color:#000;
}
.lookbook-item .lookbook-content .lookbook-desc{
color:#8e8e8e;
}
.lookbook-item .lookbook-content .lookbook-readmore{
color:#000;
}
.product-image-slideshow .catalog-owl-nav .catalog-owl-next:hover,.product-image-slideshow .catalog-owl-nav .catalog-owl-prev:hover{
background:#000;
border-color:#000;
}
.title-divider-style-4,.title-divider-style-3,.title-divider-style-2,.title-divider-style-1{
border-color:#000;
}
.title-divider-style-5{
border-left:2px solid #000;
}
.title-divider-style-6{
border-bottom:1px solid #000;
}
.title-divider-style-6:before{
border:1px solid #000;
}
.title-divider-style-7{
border-bottom:1px solid #000;
}
.title-divider-style-7:before{
border:1px solid #000;
}
.slider-tab-toggle{
border:1px solid #000;
color:#272727;
}
.arw_tab_slider .slider-tab-toggle.open-tab + .slider-tab{
border-color:#000;
}
.arw_tab_slider .slider-tab-toggle.open-tab + .slider-tab li{
border-bottom:1px solid #000;
}
.tab_style_2 .owl-nav .owl-next,.tab_style_2 .owl-nav .owl-prev{
border-color:#000;
}
.tab_style_3 .arw_tab_slider .slider-tab li{
border:none;
color:#272727;
}
.tab_style_3 .arw_tab_slider .slider-tab li:hover,.tab_style_3 .arw_tab_slider .slider-tab li.active{
color:#272727;
border-color:#000;
}
.tab_style_3 .arw_tab_slider .slider-tab li.first.active{
border-color:#000;
}
.control-style-testimonial .owl-next:hover,.control-style-testimonial .owl-prev:hover{
color:#000;
}
.text-color-heading{
color:#272727;
}
.color-heading{
color:#272727;
}
.background-heading{
background-color:#272727 !important;
}
.background-primary{
background-color:#000 !important;
}
.background-body{
background-color:#fff !important;
}
.border-color-primary{
border-color:#000 !important;
}
.border-color{
border-color:#000;
}
.border-color-heading{
border-color:#272727 !important;
}
.color-primary{
color:#000 !important;
}
.text-color-primary{
color:#000 !important;
}
.text-color-body{
color:#8e8e8e !important;
}
.color-body{
color:#8e8e8e !important;
}
.tp-caption.arw-sebian-slider-button a:hover{
background:#000;
border-color:#000;
}
.tp-caption.arw-sebian-slider-button-3 a:hover{
background:#000;
}
.rev_slider_wrapper .tp-rightarrow.default:hover,.rev_slider_wrapper .tp-leftarrow.default:hover{
color:#000;
}
.footer-container{
}
@media (min-width:1200px){
.body-stretched .container{
width :1200px;
}
}
.header-container.header_fixed_menu.active-sticky .nav-primary-container .wrap-nav{
max-width :1200px;
}
