<?php
/**
 * Magmodules.eu - http://www.magmodules.eu.
 *
 * NOTICE OF LICENSE
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://www.magmodules.eu/MM-LICENSE.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magmodules.eu so we can send you a copy immediately.
 *
 * @category      Magmodules
 * @package       Magmodules_Alternatelang
 * @author        Magmodules <info@magmodules.eu>
 * @copyright     Copyright (c) 2017 (http://www.magmodules.eu)
 * @license       https://www.magmodules.eu/terms.html  Single Service License
 */

if ($alternate = $this->getAlternateData()) {

    if (isset($alternate['urls']) && !isset($alternate['errors'])) {
        $alternateUrls = $alternate['urls'];
        if (count(array_unique($alternateUrls)) > 1) {
            foreach ($alternateUrls as $language => $url) {
                echo '<link rel="alternate" hreflang="' . $language . '" href="' . $url . '" />' . "\n";
            }
        }
    }

    if ($this->getAlternateDebug()) {

        $storeHtml = '';

        if (isset($alternate['stores'])) {
            $stores = $alternate['stores'];
            $storeHtml = '';
            foreach ($stores as $store) {
                $group = $store['group'];
                $name = Mage::getModel('core/store')->load($store['store_id'])->getName();
                $storeHtml .= Mage::helper('alternatelang')->__('Storeview: %s (ID: %s) - Selected language code: %s', $name, $store['store_id'], $store['language_code']) . '<br/>';
            }
        }

        if (!isset($group)) {
            $group = Mage::helper('alternatelang')->__('Not set');
        }

        $setupHtml = Mage::helper('alternatelang')->__('Alternate Language: Group %s - Current store ID: %s - Router: %s', $group, Mage::app()->getStore()->getStoreId(), $alternate['router']) . '<br/>';
        echo '<p class="demo-notice" style="background-color: #E03F2C; color: #fff; text-align: center;"">' . $setupHtml . '</p>';

        if ($storeHtml) {
            echo '<p class="demo-notice" style="background-color: #B32927; color: #fff; text-align: center;">' . $storeHtml . '</p>';
        }

        if (isset($alternate['urls'])) {
            $alternateUrls = $alternate['urls'];
            $linkHtml = '';
            foreach ($alternateUrls as $language => $url) {
                if(isset($alternate['errors'])) { $linkHtml .=  '<s>'; }
                $linkHtml .= htmlentities('<link rel="alternate" hreflang="' . $language . '" href="' . $url . '" />') . '<br/>';
                if(isset($alternate['errors'])) { $linkHtml .=  '</s>'; }
            }
            if ($linkHtml) {
                echo '<p class="demo-notice" style="background-color: #E03F2C; color: #fff; text-align: center;"">' . $linkHtml . '</p>';
            }
        }

        if (isset($alternate['errors'])) {
            echo '<p class="demo-notice" style="background-color: #B32927; color: #fff; text-align: center;">' . $alternate['errors'] . '</p>';
        }
        if (count(array_unique($alternateUrls)) == 1) {
            echo '<p class="demo-notice" style="background-color: #B32927; color: #fff; text-align: center;">' . Mage::helper('alternatelang')->__('Only one URL found. URL cannot be a Alternate of is own.') . '</p>';
        }
    }

}