<?php
$theme_helper = Mage::helper('sebian');
$_template = $this->getData('template') ? $this->getData('template') : 'template_1';
$_column = $this->getData('column') ? $this->getData('column') : 1;
$post_per_page = 12/$_column;
$class_post = "col-xs-12 col-sm-$post_per_page col-md-$post_per_page col-lg-$post_per_page";
?>

<?php if (($posts = $this->getRecent()) && (count($posts) > 0)): ?>
    <?php if($_template == 'template_1'):?>
        <div class="box-account">
            <div class="box-head">
                <h2><?php echo $this->__('Up-to-date Information') ?></h2>
            </div>
            <ul class="partner-info-list">
                <?php $idx = 0; ?>
                <?php foreach ($posts as $post): ?>
                    
                    <li>
                        <h4><?php echo $post->getTitle(); ?></h4>
                        <?php echo Mage::helper('cms')->getPageTemplateProcessor()->filter($post->getShortContent()); ?>
                    </li>
                    
                    <?php $idx ++; ?>
                <?php endforeach;?>
            </ul>
        </div>
    <?php endif;?>
<?php endif; ?>
