<?php
$theme_helper = Mage::helper('sebian');
$_template = $this->getData('template') ? $this->getData('template') : 'template_1';
$_column = $this->getData('column') ? $this->getData('column') : 1;
$post_per_page = 12/$_column;
$class_post = "col-xs-12 col-sm-$post_per_page col-md-$post_per_page col-lg-$post_per_page";
?>

<?php if ($posts = $this->getRecent()): ?>
    <?php if($_template == 'template_1'):?>
        <div class="fluid-width block_home_five_2 latest-posts">
        	<?php $idx = 0; ?>
            <?php foreach ($posts as $post): ?>
            	<?php
                $postCats = Mage::getModel('blog/post')->getCategoriesForPosts(array($post->getPostId()));
                $isNewsPost = false;
                if (!empty($postCats)):
                	foreach ($postCats as $data):
						if ($data['identifier'] == 'news') {
                        	$isNewsPost = true;
						}
                	endforeach;
                endif;
                ?>
                <div class="row">
                    <div class="col-md-6 nopadding<?php if ($idx % 2 == 0) : ?> col-md-push-6<?php endif; ?>">
                        <div class="authur">
                            <div class="post-item">
                                <div class="post-item-inner">
                                    <div class="post-thumbnail">
                                        <?php if($post->getImage()):?>
                                            <?php if ($isNewsPost): ?>
                                                <img src="<?php echo $theme_helper->resizeImage($post->getImage());?>" alt="<?php echo $post->getTitle(); ?>"/>
                                            <?php else: ?>
                                                <a href="<?php echo $post->getAddress(); ?>">
                                                    <img src="<?php echo $theme_helper->resizeImage($post->getImage());?>" alt="<?php echo $post->getTitle(); ?>"/>
                                                </a>
                                                <a class="btn-viewmore btn2" title="<?php echo Mage::helper('blog')->__('View this post')?>" data-toggle="tooltip" href="<?php echo $post->getAddress(); ?>">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            <?php endif; ?>
                                        <?php endif;?>
                                        <div class="overlay_background"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 nopadding<?php if ($idx % 2 == 0) : ?> col-md-pull-6<?php endif; ?>">
                        <div class="content_bake_two_left">
                            <div class="arw-title">
                                <?php if ($isNewsPost): ?>
                                    <h2 class="post-title"><span><span><?php echo $post->getTitle(); ?></span></span></h2>
                                <?php else: ?>
                                    <h2 class="post-title"><span><span><a href="<?php echo $post->getAddress(); ?>"><?php echo $post->getTitle(); ?></a></span></span></h2>
                                <?php endif; ?>
                            </div>
                            <div class="post-meta">
                                <?php if (!$isNewsPost): ?>
                                    <div class="post-date">
                                        <a class="authur" href="<?php echo $post->getAddress(); ?>" style="display: none;"><span><?php echo $post->getUser(); ?></span></a><span class="by"><?php echo Mage::helper('blog')->__('Posted on ')?></span>
                                        <span class="media-meta" style="color: #000000;">
                                            <span class="day_post">
                                                <?php $_ct= new Zend_Date($post->getCreatedTime());
                                                echo $_ct->toString('dd.'); ?>
                                            </span>
                                            <span class="mounth_post">
                                                <?php $_ct= new Zend_Date($post->getCreatedTime());
                                                echo $_ct->toString('MMM'); ?>
                                            </span>
                                            <span class="year_post">
                                                <?php $_ct= new Zend_Date($post->getCreatedTime());
                                                echo $_ct->toString(' yyyy'); ?>
                                            </span>
                                        </span>
                                    </div>
                                <?php endif; ?>
                                <?php if (!$isNewsPost): ?>
                                    <div class="post-by"><span style="text-transform: lowercase"><?php echo Mage::helper('blog')->__('by ')?></span><a href="<?php echo $post->getAddress(); ?>" style="color: #000000;"><span><?php echo $post->getUser(); ?></span></a></div>
                                    <?php
                                    if (!empty($postCats)): ?>
                                        <?php echo ('  in  ') ?>
                                        <div class="post-category">
                                            <?php foreach ($postCats as $data): ?>
                                                <a style="color: #000000;" href="<?php echo $this->getBlogUrl(null,array(AW_Blog_Helper_Data::CATEGORY_URI_PARAM  => $data['identifier'])); ?>"><?php echo $data['title']; ?></a>
                                            <?php endforeach; ?>
                                        </div>
                                    <?php endif;?>
                                <?php endif; ?>
                            </div>
                            <div class="post-excerpt std">
                                <?php if ($isNewsPost): ?>
                                    <?php echo $post->getPostContent(); ?>
                                <?php else: ?>
                                    <?php
                                        $strManager = new AW_Blog_Helper_Substring(
                                            array(
                                                'input' => Mage::helper('blog')->filterWYS($post->getPostContent())
                                            )
                                        );
                                        echo $strManager->getHtmlSubstr(120);
                                    ?>
                                <?php endif; ?>
                            </div>
                            <?php if (!$isNewsPost): ?>
                                <div class="post-meta">
                                    <?php if ($this->getCommentsEnabled() && $post->getCommentCount()): ?>
                                        <div class="post-view"><a href="<?php echo $post->getAddress(); ?>#commentBox"><i class="fa fa-eye"></i><span><?php echo $post->getCommentCount();?></span></a></div>
                                    <?php endif;?>
                                </div>
                                <div class="post-readmore">
                                    <a href="<?php echo $post->getAddress(); ?>" class="btn_continue"><?php echo Mage::helper('blog')->__('Continue')?><span class="lnr lnr-arrow-right" style="margin-left: 10px"></span></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?php $idx ++; ?>
            <?php endforeach;?>
        </div>
    <?php endif;?>
<?php endif; ?>
