<?php
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  FireGento
 * @package   FireGento_MageSetup
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2013-2015 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
?>
<?php
/**
 * @var $this Mage_Catalog_Block_Product_View_Abstract
 */
?>
<?php if ($this->getProduct()->getDeliveryTime()): ?>
    <p class="delivery-time">
        <!--<?php echo $this->__('Delivery Time') ?>:--><?php echo $this->getProduct()->getDeliveryTime() ?>
    </p>
    <?php    
    #if ($this->getRequest()->getControllerName()=='product') {
        # we are on a product detail page
        
        #$websitecode = Mage::app()->getWebsite()->getCode();
        
        #if (($websitecode == 'dnp_ah') || ($websitecode == 'dnp_nl') || ($websitecode == 'dnp_gh') || ($websitecode == 'dnp_wv')) {
        ?>
        	<!--
            <p class="delivery-time-xmas">
                <span class="lnr lnr-star"></span> <span><?php echo $this->__('Shipment before Christmas can only be guaranteed for orders received by December 7, 2018.<br>Goods that are ordered after this date can only be shipped again from January 7, 2019.<br>From December 22, 2018 to January 6, 2019 we are closed due to Christmas holidays.') ?></span>
            </p>
            -->
        <?php
        #} else {
        ?>
        	<!--
            <p class="delivery-time-xmas">
                <span class="lnr lnr-star"></span> <span><?php echo $this->__('Orders with payments received after December 15, 2018 will not be shipped again until January 7, 2019.<br>From December 22, 2018 to January 6, 2019 we will be on Christmas holiday.') ?></span>
            </p>
            -->
        <?php
        #}
        ?>
    <?php
    #}
    ?>
<?php endif ?>
