<?php
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  FireGento
 * @package   FireGento_MageSetup
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2013-2015 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
?>
<?php
/**
 * @var $this Mage_Checkout_Block_Cart_Shipping
 */
?>
<?php $shippingCostUrl = Mage::helper( 'magesetup' )->getShippingCostUrl() ?>
<?php if( !empty( $shippingCostUrl )): ?>
    <div class="shipping">
        <h2><?php echo $this->__('Shipping Costs') ?></h2>
        <p><a href="<?php echo $shippingCostUrl ?>"><?php echo $this->__('Here you find information regarding the shipping costs.') ?></a></p>
        <p class="free-shipping"><?php echo $this->__('Free standard shipping from &euro; 50.- order value for Austria and Germany!') ?></p>
    </div>
<?php endif ?>
