/**
 * Copyright 2016 The Valdecode Cookie Law Compliance Authors. All rights reserved.
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE.txt file.
 */
#v-cookielaw { overflow: hidden; background: #fff; color: #333; z-index: 9999; font-size: 14px; }
#v-cookielaw .v-message { padding: 5px 10px; text-align: left;}
#v-cookielaw .v-actions { }
#v-cookielaw .v-button { color: #fff; display: inline-block; background-color: #9b9b9b; padding: 6px 35px; text-decoration: none; text-transform: uppercase; transition: background 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;}
#v-cookielaw .v-button.v-accept{ background-color: #c0d03d;}
#v-cookielaw .v-button:hover,
#v-cookielaw .v-button:focus,
#v-cookielaw .v-button:active {background-color: #000; }

#v-cookielaw .v-button.v-accept:hover,
#v-cookielaw .v-button.v-accept:focus,
#v-cookielaw .v-button.v-accept:active {background-color: #8d9b00; }

#v-cookielaw.v-bar { display: table; width: 100%; padding: 10px 5px; }
#v-cookielaw.v-bar .v-message { display: table-cell; }
#v-cookielaw.v-bar .v-actions { display: table-cell; vertical-align: middle; width: 420px; padding-right: 10px; text-align: right; }
#v-cookielaw.v-bar.v-top { position: relative; border-bottom: 1px solid #000; }
#v-cookielaw.v-bar.v-bottom { position: fixed; bottom: 0; border-top: 1px solid #000; }

#v-cookielaw.v-box { position: fixed; max-width: 300px; border: 1px solid #000; border-radius: 3px; margin: 10px; }
#v-cookielaw.v-box .v-actions { float: left; margin: 5px 10px; }
#v-cookielaw.v-box.v-top-left { top: 0; left: 0; }
#v-cookielaw.v-box.v-top-right { top: 0; right: 0; }
#v-cookielaw.v-box.v-bottom-left { bottom: 0; left: 0; }
#v-cookielaw.v-box.v-bottom-right { bottom: 0; right: 0; }

/* RWD */
@media (max-width: 767px) {
    #v-cookielaw.v-box { display: block; width: 100% !important; padding: 5px 0 0; position: fixed; bottom: 0 !important; top: auto !important; border-top: 1px solid #000; max-width: 100%; margin: 0; border-radius: 0; border-right: 0; border-left: 0; border-bottom: 0; }
    #v-cookielaw .v-button{display:block; margin-top:5px; text-align: center;}
    #v-cookielaw.v-bar .v-message { display:block; }
    #v-cookielaw.v-bar .v-actions { display:block; margin: 5px 10px; padding:0; width: auto; }
}

/* Skin - Yellow Alert */
#v-cookielaw.v-yellow-alert { background: #ECEFCE; border-color: #c0d03d !important; }

/* Skin - Dark Clean */
#v-cookielaw.v-dark-clean { color: #fff; background: #2c2c2c; border-color: #55575f !important; }
#v-cookielaw.v-dark-clean .v-button { color: #fff; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); border-color: #3072b3; border-bottom-color: #2a65a0; background-color: #2a65a0; background-image: linear-gradient(#599bdc, #3072b3); }
#v-cookielaw.v-dark-clean .v-button:hover,
#v-cookielaw.v-dark-clean .v-button:focus { background-color: #3678a0; background-image: linear-gradient(#68abdc, #387cb3); }

/* Skin - Minimalist */
#v-cookielaw.v-minimalist { color: #2c2c2c; background: #f0f0f0; border-color: #e0e0e0 !important; font-size: 11px; font-family: Verdana; }
#v-cookielaw.v-bar.v-minimalist { padding: 2px 0; }
#v-cookielaw.v-box.v-minimalist { width: 260px; }
#v-cookielaw.v-box.v-minimalist .v-actions { margin: 5px; }
#v-cookielaw.v-box.v-minimalist .v-message { padding: 5px; }
#v-cookielaw.v-minimalist .v-button { padding: 3px 6px; }
