/* Max-width 1920px */
@media (max-width: 1920px) {
    .header-container.header_style_vertical #header{
        position: fixed;
        width: 300px;
    }

}
/* Max-width 1800px */
@media (max-width: 1800px) {
    .header-container.header_style_1 #header .header-fullwidth{
        margin: 0 30px;
    }
}
/* Max-width 1650px */
@media (max-width: 1650px) {

}
/* Max-width 1500px */
@media (max-width: 1500px) {

}
/* Max-width 1300px */
@media (max-width: 1300px) {

}
/* Max-width 1250px */
@media (max-width: 1250px) {
    .button_slider_faspro,
    .with_margin_left_slider{
        margin-left: 30px !important;
    }
}
/* Max-width 1200px */
@media (max-width: 1200px) {
    .block_slider_1.owl-carousel .owl-nav.disabled{
        top: 94%;
    }
    .header-container.header_style_8 .header-quick-access .arw-toggle-container .top-search-inner{
        width: 700px;
    }
    .header_categories_left{
        width: 240px !important;
    }
    .style_owl_navigation .arw_tab_slider .owl-nav,
    .style_owl_navigation .owl-carousel .owl-nav.disabled{
        left: 92.5%;
    }
    .footer-fashion-logo{
        padding: 25px 0 30px;
    }
    .block_home_one_3 .post-item .post-excerpt {
        margin: 0 130px 10px 130px;
    }
    .block_home_seven_3 .owl-carousel .owl-stage-outer .owl-item .style-countdown{
        top: 55%;
    }
}

/* Max-width 1190px */
@media (max-width: 1190px) {

}


/* Max-width 1170px */
@media (max-width: 1170px) {

}

/* Max-width 1075px */
@media (max-width: 1075px) {
    .header-container.header_style_vertical .header-top .header-top-right-inner {
        left: 4%;
        position: absolute;
    }
    .nofooter-home6 .header-container.header_style_vertical .btn-menu-close,
    .nofooter-home6 .btn-menu {
        display: block !important;
        position: fixed;
    }
    .nofooter-home6 .btn-close{
        display: block !important;
        position: fixed;
    }
    .header-container.header_style_vertical{
        width: 300px;
        display: none;
    }
    .header-container.header_style_vertical .header-quick-access .arw-toggle-container .arw-toggle-content{
        top: 275px;
    }
    .header_home_2 .btn-headertop{
        right: 60px;
    }
    .header-container.header_style_vertical .header-quick-access .arw-toggle-container #arw_mini_cart_header{
        right: -300px;
    }
    .header_home_2{
        margin-left: 0;
    }
    .header-container.header_style_vertical .header-quick-access .header-mini-cart{
        position: static;
    }
    .header-container.header_style_vertical .header-quick-access{
        position: static;
        margin-left: 50px;
    }
    .header-container.header_style_vertical #header .container{
        width: 300px;
    }
    .header-container.header_style_vertical .header-logo a.logo {
        margin: 0;
    }
    .header-container.header_style_vertical .header-quick-access .header-mini-search{
        left: 248px;
    }
    .header-container.header_style_vertical .nav-primary-container .megamenu li.level-top{
        padding: 0 0 0 36px;
    }
    .header-container.header_style_vertical .header-logo a.logo{
        left: 18%;
    }
    .header-container.header_style_vertical .header-top .header-top-link ul.links{
        left: -30px;
    }
    .block_home_four_1 .slider-tab-toggle{
        display: none;
    }
    .nofooter-home6 .main-page{
        margin-left: 0;
    }
    .nova-home4-col-1,
    .nova-home4-col-2{
        width: 50%;
    }
    .margin-ct-reponsive{
        margin-bottom: 30px;
    }
    .header-container.header_style_vertical .btn-headertop{
        left: 63px;
    }
    .header-container.header_style_vertical #header{
        position: static !important;
        width: 300px;
        font-family: Montserrat;
    }

}
/* Max-width 991px */
@media (max-width: 991px) {
    /* header*/
    .header-container.header_style_1 .nav-primary-container .nav-container{
        text-align: left;
    }
    .arw_tab_slider .slider-tab li::after{
        content: '';
        border-bottom: none !important;
    }
    .col-nova-1{
        width: 100%;
        padding-left: 15px !important;
        margin-bottom: 30px;
    }
    .col-nova-2{
        width: 100%;
    }
    .col-nova-3{
        width: 100%;
        padding-right: 15px !important;
    }
    .autumwinter{
        margin-bottom: 30px;
    }
    .margin-reponsive{
        margin: 30px 0;
    }
    .block_cosmetic_one_2{
        margin: 30px 0;
    }
    .footer_link_fa{
        text-align: center;
    }
    .footer-container .footer-copyright .wrapper-copyright{
        float: none;
    }
    .newsletter_style_1 .block-subscribe .block-title{
        left: 41%;
    }
    .header-container.header_style_2 #header {
        padding: 40px 0 20px;
    }
    .header-container.header_style_2 .header-logo{
        width: 100%;
    }
    .header-container.header_style_2 .header-logo .logo{
        padding: 30px 0 !important;
    }
    .header-container.header_style_2 .nav-primary-container{
        width: 100%;
    }
    .jewel_padding_right{
        padding-right: 0 !important;
    }
    .jewel_padding_left{
        padding-left: 0;
    }
    .content_four_2_left,
    .content_four_3_left,
    .content_four_4_left,
    .content_four_1_left{
        margin-bottom: 10px;
    }
    .block_home_six_1 .around{
        top: 6%;
    }
    .block_home_six_2 .around{
        top: 40px;
    }
    .about-epro-title{
        margin-bottom: 30px;
    }
    .header-container.header_style_vertical .header-quick-access .header-mini-cart{
        top: -188px;
    }
    .block_home_seven_3 .owl-carousel .owl-stage-outer .owl-item .style-countdown {
        left: 0;
        top: 0;
    }
    .block_home_ten_3 .arw_tab_slider .slider-tab-toggle.no-icon{
        display: none !important;
    }
    .header-container.header_style_8 .header-quick-access .arw-toggle-container .top-search-inner {
        width: 480px;
        padding: 10px ;
        top: 120px;
    }
    .active-sticky .header_categories_left{
        top: 0px !important;
    }
    .header_categories_left{
        top: 132px !important;
    }
    .header-container.header_style_8 #header {
        padding: 20px 0 68px;
    }
    .header_style_8 .block_menu_home_9 .block_menu_home_nine ul li:first-child a{
        padding-left: 0;
    }
    .header-container.header_style_8 .header-quick-access .search_mini_form .button{
        right: 10px;
        width: 110px;
    }
    .header-container.header_style_8 .header-logo{
        width: 100%;
    }
    .header-container.header_style_8 .nav-primary-container{
        width: 100%;
    }
    .block_elec_two_2{
        margin: 30px 0;
    }
    .slider_elepro{
        width: 220px !important;
        height: 250px !important;
    }
    .header-container.header_style_8 .header-logo .logo{
        padding: 0 !important;
    }
    .style_owl_navigation .arw_tab_slider .owl-nav,
    .style_owl_navigation .owl-carousel .owl-nav.disabled{
        left: 90.5%;
    }
    .block_home_nine_4 .slider-tab-toggle,
    .block_home_nine_6 .slider-tab-toggle{
        display: none;
    }
    .block_home_nine_7 .post_block_7 .col-lg-12:first-child .post-item{
        padding: 25px 0 70px;
    }
    .latest_post_electronic{
        margin-top: 30px;
    }
    .block_home_nine_8 .ftr-wrap{
        margin-bottom: 30px;
    }
    .header-container.header_style_1 .header-logo .logo,
    .header-container.header_style_3 .header-logo .logo,
    .header-container.header_style_4 .header-logo .logo,
    .header-container.header_style_5 .header-logo .logo,
    .header-container.header_style_6 .header-logo .logo,
    .header-container.header_style_7 .header-logo .logo{
        padding: 0 !important;
    }
    .header_style_8 .block_menu_home_9 .block_menu_home_nine ul li a{
        padding: 10px 15px;
    }
    .footer_elec_pro .col-sm-6:nth-child(2n+1)
    {
        clear: left;
    }



}

/* Max-width 870px */
@media (max-width: 870px) {
    .header_style_8 .block_menu_home_9 .block_menu_home_nine ul li a{
        padding: 10px;
    }
}


/* Max-width 830px */
@media (max-width: 830px) {
    .header_style_8 .block_menu_home_9 .block_menu_home_nine{
        margin-left: 80px;
    }
}

/* Max-width 768px */
@media (max-width: 768px) {
    .header-container.header_style_vertical .header-top .header-top-right-inner {
        left: 2%;
        position: absolute;
    }
    .header-container.header_style_vertical .header-logo{
        padding: 0 0 30px;
    }
    .header-container.header_style_vertical .header-quick-access .header-mini-search{
        left: 57px;
        top: 190px;
    }
    .header-container.header_style_vertical .header-quick-access .header-mini-cart{
        top: 150px;
    }
    .header-container.header_style_vertical .header-wrapper .nav-primary-container .block-footer-home-6{
        top: 380px;
    }
    .header-container.header_style_vertical{
        min-height: 750px;
        overflow: hidden;
        z-index: 44;
    }

    .header_style_1 .top-link-benz{
        top: 29px;
        left: 0;
    }
    .newsletter_style_1 .block-subscribe .newsletter-validate-detail{
        width: 47% !important;
        left: 50%;
    }
    .newsletter_style_1 .block-subscribe .block-title{
        display: none;
    }

    .nova-home4-col-1,
    .nova-home4-col-2{
        width: 100%;
    }
    .header-container.header_style_vertical .nav-primary-container{
        padding: 40px 0;
    }
    .header-container.header_style_vertical .arw-btn-menu-mobile{
        top: -25px;
    }
    .header-container.header_style_vertical .header-quick-access .arw-toggle-container #arw_mini_cart_header{
        left: 9px;
        top: 75px;
    }
    .header-container.header_style_vertical .nav-primary-container .arw-mobile-menu{
        top: 0;
    }
    .header-container.header_style_vertical .header-quick-access .arw-toggle-container .arw-toggle-control{
        margin-left: -35px;
    }
    .header-container.header_style_vertical .btn-headertop{
        left: 60px;
        position: absolute;
        top: 85px;
    }
    .header_style_vertical .top-link-benz{
        top: 110px;
        z-index: 999;
    }
    .header-container .header-quick-access .arw-toggle-container.header-mini-search .arw-toggle-content{

    }
    .header-container .header-quick-access .arw-toggle-container .arw-toggle-content.has_cat_search .input-text{
        padding-left: 110px;
    }
    .header-container .header-quick-access .arw-toggle-container .has_cat_search{
        margin-top: 0;
    }
    .header-container .header-quick-access .arw-toggle-container .arw-toggle-content{

    }
    .header-container.header_style_vertical .header-quick-access .arw-toggle-container:not(.header-mini-cart){
        padding-top: 0;
        width: auto;
    }
    .header-container.header_style_vertical .header-quick-access .search_mini_form .button{
        top: 0;
    }
    .arw_layout_global_top{
        top: 0 !important;
        margin-bottom: 0 !important;
    }
    .block_footer_jewel_pro_2,
    .block_footer_jewel_pro_3{
        margin-left: 0px;
    }
    .btn-headertop{
        font-size: 30px;
    }


    /* header_style_1 */
    .header-container.header_style_1 .header-logo{
        width: 100%;
        float: none !important;
    }
    .header-container.header_style_1 .header-logo .logo img{
        margin: 0 auto;
    }
    .header-container.header_style_1 .nav-primary-container{
        width: 100%;
    }
    .header_style_1 .arw-btn-menu-mobile{
        color: #303030;
        text-align: center;
        top: 88px;
        width: 25%;
    }
    .header_style_1 .top-link-benz{
        left: 0;
        top: 140px;
        width: 100%;
    }
    .header-container.header_style_1 .header-logo{
        padding: 15px 0;
    }
    .header-container .header-quick-access .far_btn_headertop{
        display: inline-block;
        text-align: center;
        width: 33.333%;
    }
    .header-container .header-quick-access .arw-toggle-container{
        width: 33.333%;
    }
    .header-container .header-quick-access .arw-toggle-container .arw-toggle-control{
        margin: 0 auto;
    }
    /* header_style_left */
    .header-container.header_style_left .nav-primary-container{
        width: 100%;
    }
    .header-container.header_style_left .header-quick-access .arw-toggle-container .search_mini_form .input-text{
        height: 48px;
    }
    .header-container.header_style_left .header-logo{
        display: block;
        float: none;
        width: 100%;
    }
    .header-container.header_style_left .header-logo .logo img{
        margin: 0 auto;
    }
    .header_style_left .arw-btn-menu-mobile{
        color: #303030;
        text-align: center;
        top: 88px;
        width: 25%;
        display: none;
    }
    .header_style_left .btn_header_left{
        color: #303030;
        width: 25%;
        position: absolute;
        z-index: 9999;

    }
    .header_style_left .btn_header_left span{
        background-color: #CCCCCC;
    }
    .header_style_left .top-link-benz{
        left: 0;
        top: 57px;
        width: 100%;
    }
    .header_left_300 .arw-btn-menu-mobile{
        left: 37px;
        top: -73px;
    }
    .header_left_300 .nav-primary-container .arw-mobile-menu{
        top: -20px;
        width: 290px;
    }


    /* header_style_2 */
    .header_style_2 .header-top{
        display: none !important;
    }
    .header-container.header_style_2 #header .nav-primary-container .wrap-nav .arw-btn-menu-mobile{
        top: 0px;
        width: 25%;
        text-align: center;
    }
    .header-container.header_style_2 .nav-primary-container .arw-mobile-menu{
        top: 100% !important;
    }
    .header_style_2 .far_btn_headertop{
        margin-top: 0;
    }
    .header_style_2 .header-quick-access .btn-headertop{
        display: block;
    }
    .header_style_2  .btn-headertop span{
        line-height: 15px;
    }
    .header_style_2 .arw-btn-menu-mobile label,.header_style_2 .arw-btn-menu-mobile span{
        line-height: 43px;
    }
    /* header_style_3 */
    .header_style_3 .header-top{
        display: none !important;
    }
    .header_style_3 .header-quick-access .btn-headertop{
        display: block;
    }
    .header-container.header_style_3 .header-logo{
        width: 100%;
    }
    .header-container.header_style_3 .header-logo .logo img{
        margin: 0 auto;
    }
    .header-container.header_style_3 .nav-primary-container{
        width: 100%;
    }
    .header_style_3 .arw-btn-menu-mobile{
        color: #303030;
        text-align: center;
        top: 88px;
        width: 25%;
    }
    .header_style_3 .top-link-benz{
        left: 0;
        top: 140px;
        width: 100%;
    }
    .header_style_3 .far_btn_headertop{
        margin-top: 0;
    }
    .header-container.header_style_3 #header{
        padding: 0;
    }
    .header_style_3 .btn-headertop span{
        line-height: 15px;
    }
    .header_style_3 .arw-btn-menu-mobile label,.header_style_3 .arw-btn-menu-mobile span{
        line-height: 43px;
    }

    /* header_style_4 */
    .header-container.header_style_4 .header-logo{
        width: 100%;
    }
    .header-container.header_style_4 .header-logo .logo img{
        margin: 0 auto;
    }
    .header-container.header_style_4 #header{
        padding: 0;
        background-color: #000000;
    }
    .header-container.header_style_4 .nav-primary-container{
        width: 100%;
        background-color: #000000;
    }
    .header_style_4 .arw-btn-menu-mobile{
        color: #303030;
        text-align: center;
        top: 88px;
        width: 25%;
    }
    .header_style_4 .top-link-benz{
        left: 0;
        top: 140px;
        width: 100%;
    }
    .header_style_4 .far_btn_headertop{
        margin-top: 15px;
    }
    .header_style_4 .line_header_cake{
        display: none !important;
    }
    .header_style_4 .btn-headertop span{
        line-height: 15px;
        color: #fff;
    }
    .header_style_4 .arw-btn-menu-mobile span{
        color: #ffffff;
    }
    .header-container.header_style_4 .header-quick-access .arw-toggle-control{
        color: #ffffff;
    }
    .block_home_five_1 .bake_one_content{
        margin-bottom: 30px;
    }
    /* header_style_5 */
    .header-container.header_style_5 .header-logo{
        width: 100%;
    }
    .header-container.header_style_5 .header-logo .logo img{
        margin: 0 auto;
    }
    .header-container.header_style_5 #header{
        padding: 0;
        background-color: #ffffff;
    }
    .header-container.header_style_5 .nav-primary-container{
        width: 100%;
        background-color: #ffffff;
    }
    .header_style_5 .arw-btn-menu-mobile{
        color: #303030;
        text-align: center;
        top: 88px;
        width: 25%;
    }
    .header-container.header_style_1 .header-logo .logo,
    .header-container.header_style_3 .header-logo .logo,
    .header-container.header_style_4 .header-logo .logo,
    .header-container.header_style_5 .header-logo .logo,
    .header-container.header_style_6 .header-logo .logo,
    .header-container.header_style_7 .header-logo .logo{
        padding: 20px 0 10px !important;
    }
    .header_style_5 .top-link-benz{
        left: 0;
        top: 140px;
        width: 100%;
    }
    .header_style_5 .far_btn_headertop{
        margin-top: 15px;
    }
    .header_style_5 .line_header_cake{
        display: none !important;
    }
    .header_style_5 .btn-headertop span{
        line-height: 15px;
    }
    .block_home_six_1 .around{
        top: 3%;
    }
    .block_home_six_2 .around{
        top: 40px;
    }
    .style_footer_bikepro .footer-copyright .wrapper-copyright .paypal_footer{
        float: none;
        margin-top: 20px;
    }
    .style_footer_bikepro .footer-copyright address{
        float: none;
    }
    .tabcontent_six_2 .tabs_six_02 li{
        width: 100%;
    }
    /* header_style_6 */
    .header-container.header_style_6 .header-logo{
        width: 100%;
    }
    .header-container.header_style_6 .header-logo .logo img{
        margin: 0 auto;
    }
    .header-container.header_style_6 #header{
        padding: 0;
        background-color: #ffffff;
    }
    .header-container.header_style_6 .nav-primary-container{
        width: 100%;
        background-color: #ffffff;
    }
    .header_style_6 .arw-btn-menu-mobile{
        color: #303030;
        text-align: center;
        top: 79px;
        width: 25%;
    }
    .header_style_6 .top-link-benz{
        left: 0;
        top: 140px;
        width: 100%;
    }
    .header_style_6 .far_btn_headertop{
        margin-top: 15px;
    }
    .header_style_6 .line_header_cake{
        display: none !important;
    }
    .header_style_6 .btn-headertop span{
        line-height: 15px;
    }
    /* header_style_7 */
    .header-container.header_style_7 .header-logo{
        width: 100%;
    }
    .header-container.header_style_7 .header-logo .logo img{
        margin: 0 auto;
    }
    .header-container.header_style_7 #header{
        padding: 0;
        background-color: #ebebeb;
    }
    .header-container.header_style_7 .nav-primary-container{
        width: 100%;
        background-color: #ebebeb;
    }
    .header_style_7 .arw-btn-menu-mobile{
        color: #303030;
        text-align: center;
        top: 79px;
        width: 25%;
    }
    .header_style_7 .top-link-benz{
        left: 0;
        top: 140px;
        width: 100%;
    }
    .header_style_7 .far_btn_headertop{
        margin-top: 15px;
    }
    .header_style_7 .line_header_cake{
        display: none !important;
    }
    .header_style_7 .btn-headertop span{
        line-height: 15px;
    }
    /* header_style_8 */
    .header_categories_left{
        display: none !important;
    }
    .slider_elepro{
        width: 300px !important;
        height: 330px !important;
    }
    .header-container.header_style_8 .header-quick-access .arw-toggle-container .top-search-inner {
        display: none;
    }
    .header-container.header_style_8 .header-quick-access .arw-toggle-container .mini-cart-header .total_product{
        display: none !important;
    }
    .header_style_8 .header-quick-access .btn-headertop{
        display: block;
        color: #fff;
        padding: 12px 0 15px 15px;
    }
    .header_style_8 .top-link-benz{
        top: 135px;
    }
    .header_style_8 .nav-primary-container .arw-mobile-menu{
        top: 116%;
    }
    .header-container.header_style_8 .header-logo .logo img{
        margin: 0 auto;
    }
    .header_style_8 .header-top{
        display: none !important;
    }
    .block_home_eight_1 .slider-tab-toggle,
    .block_home_eight_2 .slider-tab-toggle{
        display: none;
    }
    .header-container.header_style_8 #header {
        padding: 20px 0;
    }
    .header_style_8 .far_btn_headertop{
        margin-top: 0;
    }
    .header_style_8 .arw-btn-menu-mobile{
        width: 25%;
        text-align: center;
    }
    .faq_electronic{
        margin-top: 30px;
    }
    .header-container.header_style_8 .header-quick-access .search_mini_form .button .text-search{
        display: none !important;
    }
    .header-container.header_style_8 .header-quick-access .arw-toggle-container .arw-toggle-content.has_cat_search .input-text {
        height: 46px;
    }
    .header-container.header_style_8 .header-quick-access .arw-toggle-container .search_mini_form .search-select-cat .btn{
        height: 46px;
        line-height: 46px;
    }
    .header-container.header_style_8 .header-quick-access .search_mini_form .search-select-cat{
        left: 0;
    }
    .header-container.header_style_8 .header-quick-access .arw-toggle-container .search_mini_form .input-text + .button{
        height: 46px;
    }
    .header-container.header_style_8 .header-quick-access .search_mini_form .button i{
        margin-left: -8px;
    }
    .header-container.header_style_8 .header-quick-access .search_mini_form .button{
        top: 0;
    }
    /* header_style_9 */
    .header-container.header_style_9 .nav-primary-container{
        width: 100%;
    }
    .header-container.header_style_9 .btn_header_left{
        width: 25%;
        position: absolute;
        left: 0;
        text-align: center;
    }
    .block_home_ten_3 .arw_tab_slider .slider-tab-toggle.no-icon,
    .header_style_9 .arw-btn-menu-mobile{
        display: none !important;
    }
    .header-container.header_style_9 .header-logo{
        display: block;
        width: 100%;
    }
    .header-container.header_style_9 .header-logo .logo img{
        margin: 0 auto;
    }
    .header_style_9 .top-link-benz{
        top: 140px;
    }
    .block_home_ten_5 .background_title,
    .block_home_ten_5 .address_office{
        padding-left: 15px;
    }
    .block_home_ten_4 .post-item{
        display: inline-block;
    }

    .product-view .col-main-details-style_1.option_style_1 .product-img-box,
    .product-view .col-main-details-style_1.option_style_1 .product-shop,
    .product-view .col-main-details-style_1.option_style_2 .product-img-box,
    .product-view .col-main-details-style_1.option_style_2 .product-shop,
    .product-view .col-main-details-style_1.option_style_3 .product-img-box,
    .product-view .col-main-details-style_1.option_style_3 .product-shop,
    .product-view .col-main-details-style_1.option_style_4 .product-img-box,
    .product-view .col-main-details-style_1.option_style_4 .product-shop{
        width: 100%;
        padding: 0 30px;
    }
    .product_collateral_style_3 .product_details_tabs .product-tabs,
    .product_collateral_style_3 .product_details_tabs .tab-content,
    .product_collateral_style_4 .product_details_tabs .product-tabs,
    .product_collateral_style_4 .product_details_tabs .tab-content{
        width: 100%;
    }
    .footer_cos_pro .footer-fashion a,
    .footer_fashion_pro .footer-fashion a{
        line-height: 50px;
    }
    .block_home_one_3 .post-item .post-thumbnail img{
        display: none;
    }
    .block_home_one_3 .post-item .post-excerpt {
        margin: 0 10px 10px;
    }
    .block_home_two_2 .address_home2 {
        margin: 0 15px;
    }
    .block_footer_jewel_pro_2, .block_footer_jewel_pro_3{
        margin-bottom: 30px;
    }
    .block_home_eight_3 .content_eight_right_3 .text_eight,
    .block_home_five_2 .content_bake_two_left .text_bake_two {
        margin: 0 20px;
    }
    .block_footer_bike_pro_1,
    .block_footer_bike_pro_2{
        margin-bottom: 30px;
    }
    .img_seven_1 img{
        margin-left: 40px;
    }
    .line_seven_1{
        right: -45px;
    }
    .footer_elec_pro .col-sm-6{
        padding: 30px 15px;
    }



}
@media (max-width: 767px) {


}
/* Max-width 730px */
@media (max-width: 730px) {

}

/* Max-width 700px */
@media (max-width: 700px) {
    .block_home_nine_7 .post_block_7 .col-lg-12:first-child .post-item {
        padding: 25px 0 20px;
    }
}

/* Max-width 650px */
@media (max-width: 650px) {
    .slider_elepro{
        width: 220px !important;
        height: 250px !important;
    }
}

/* Max-width 600px */
@media (max-width: 600px) {
    .style_owl_navigation .arw_tab_slider .owl-nav, .style_owl_navigation .owl-carousel .owl-nav.disabled {
        left: 84.5%;
    }
}

/* Max-width 570px */
@media (max-width: 570px) {

}


/* Max-width 500px */
@media (max-width: 500px) {
    .slider_elepro{
        width: 170px !important;
        height: 200px !important;
    }
}

/* Max-width 480px */
@media (max-width: 480px) {
    .block_footer_bake_pro_2{
        margin: 30px 0;
    }
}


/* Max-width 450px */
@media (max-width: 450px) {

}
/* Max-width 380px */
@media (max-width: 380px) {
    .slider_elepro{
        display: none;
    }
}

/* Max-width 350px */
@media (max-width: 350px) {

}

/* Max-width 320px */
@media (max-width: 320px) {

}



