/*================================== style static block Epro ==================================*/
/*================================== header ==================================*/
.header_style_2 .header-top{
    display: block !important;
}
.header_style_2 #header{
    background-color: #000000;
}
.header_style_2 .header-quick-access .btn-headertop{
    display: none;
}
.header_style_2 .header-welcome{
    margin: 0;
    padding: 8px 0;
}
.header_style_2 .header-top .line_header_bottom{
    border-bottom: 1px solid #262626;
}




.header_style_3 .header-top{
    display: block !important;
}
.header_style_3 .header-quick-access .btn-headertop{
    display: none;
}
.header_style_3 .header-welcome{
    margin: 0;
    padding: 8px 0;
}


.header_style_4 .line_header_cake{
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,0.2);
    margin: 0 50px;
}

.header_style_5 .line_header_cake{
    border-bottom: 1px solid;
    border-color: rgba(0,0,0,0.2);
    margin: 0 75px;
}


.header_style_6 .line_header_cake{
    border-bottom: 1px solid;
    border-color: rgba(0,0,0,0.2);
    margin: 0 75px;
}

.header_style_8 .header-top{
    display: block !important;
}
.header_style_8 #header{
    background-color: #313131;
}
.header_style_8 .header-quick-access .btn-headertop{
    display: none;
}
.header_style_8 .header-welcome{
    margin: 0;
    padding: 8px 0;
}


.top-link-benz{
    background-color: #141414;
    padding: 15px;
    position: absolute;
    right: 0;
    width: 175px;
    display: none;
    top: 57px;
    z-index: 44;
}
.header_style_vertical .top-link-benz{
    top: -5px;
}


/* home_v2 */


/* end */

.top-link-benz .header-top-link-ul-benz ul.links{
    padding-left: 10px;
    display: none;
}
.top-link-benz .header-top-link-ul-benz ul.links a{
    color: #ebebeb;
}
.top-link-benz .header-top-link-ul-benz .nv-language{
    padding: 0;
    color: #7a4a4b;
}
.top-link-benz .header-top-link-ul-benz .arow-down span{
    color: #fff;
}
.top-link-benz .header-top-link-ul-benz .arow-down{
    position: relative;
    cursor: pointer;
    padding: 7px 0;
}
.top-link-benz .header-top-link-ul-benz .arow-down:after{
    content: '\f107';
    font-family: fontawesome;
    position: absolute;
    right: 0;
    color: #fff;
}
/*================================== slider ==================================*/
.text-one-slider-2{
    letter-spacing: 0;
}
.text-shadow-none{
    text-shadow: none;
}
.title_slider{
    text-transform: uppercase;
}
.sub_title_slider{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.btn_slider{
    color: #ffffff;
    text-transform: uppercase;
}
.line_slider_epro{
    border-top: 5px solid;
    width: 70px;
    margin: 0 auto;
}
.ico_button_slider_bake{
    margin-left: 30px;
    padding: 15px 0 18px 25px;
    border-left: 1px solid #262626;
    margin-right: -15px;

}
.slider_sunglass .sub_title_slider{
    color: #999999;
    font-weight: normal;
}
.slider_sunglass .title_slider{
    font-family: Oswald;
    font-size: 50px;
    line-height: 56px;
    font-weight: bold;
    margin-bottom: 20px;
}
.slider_sunglass .text_slider{
    color: #999999;
    font-family: "Open Sans";
    font-weight: normal;
    margin-bottom: 70px;
}
.slider_sunglass >div{
    line-height: 54px !important;
}
.slider_sunglass .btn_slider{
    background-color: #000000;
    padding: 15px 40px 15px 40px;
}

/*================================== categories ==================================*/
 .block-layered-nav .block-content .block-subtitle,
 .block-layered-nav .block-content #narrow-by-list dd,
 .block-tags .block-content,
 .block-subscribe .block-content,
 .block-nav .block-content .nav-categories{
     padding-left: 25px !important;
 }
 .block-layered-nav .block-content #narrow-by-list dd.last ol li,
 .sidebar .block.block-nav li > a{
     border-bottom: 1px dashed #CCCCCC;
 }
.product-essential .product-img-box .product-img-box-bottom{
    overflow: hidden !important;
}
/*================================== main page ==================================*/
.arw_breadcrumbs .breadcrumbs{
    text-align: left;
    margin-left: 15px;
}
.arw-page-title.has-page-title{
    background-image: url("../images/background-title-about-us.jpg");
    background-size: cover;
    background-position: center;
}
.arw-page-title.has-page-title.background_contacts{
    background-image: url("../images/background-contacts.jpg");
    background-size: cover;
    background-position: center;
}

/*================================== button ==================================*/
.btn3:before,
.btn2:before,
.btn:before,
.btn_eight:before,
.button_slider_faspro:before,
.button_slider_cospro:before,
.btn_slider:before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.3s;
    transition-property: top, right, bottom, left;
}
.btn3:before,
.btn2:before,
.btn:before,
.btn_eight:before,
.button_slider_faspro:before,
.button_slider_cospro:before,
.btn_slider:before{
    border: 4px solid transparent;
}
.btn3,
.btn2,
.btn,
.btn_eight,
.button_slider_faspro,
.button_slider_cospro,
.btn_slider{
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;
    transform: translateZ(0px);
    vertical-align: middle;
}
.btn3:hover::before, .btn3:focus::before,
.btn2:hover::before, .btn2:focus::before,
.btn:hover::before, .btn:focus::before,
.btn_eight:hover::before, .btn_eight:focus::before,
.button_slider_faspro:hover::before, .button_slider_faspro:focus::before,
.button_slider_cospro:hover::before, .button_slider_cospro:focus::before,
.btn_slider:hover::before, .btn_slider:focus::before{
    bottom: -8px;
    left: -8px;
    right: -8px;
    top: -8px;
}
.btn3:hover::before, .btn3:focus::before,
.btn2:hover::before, .btn2:focus::before,
.btn_eight:hover::before, .btn_eight:focus::before{
    border: 4px solid #999;
}
.btn_slider:hover::before, .btn_slider:focus::before,
.button_slider_faspro:hover::before, .button_slider_faspro:focus::before,
.btn.btn_contacts_home:hover::before, .btn.btn_contacts_home:focus::before,
.btn3.btn_viewmore_home10:hover::before, .btn3.btn_viewmore_home10:focus::before{
    border: 4px solid #000;
}
.button_slider_cospro:hover::before, .button_slider_cospro:focus::before{
    border: 4px solid #fff;
}

/*================================== video content ==================================*/
.video-text-wrap {
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.video-text-wrap p {
    color: #fff !important;
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto;
    text-transform: none;
    max-width: 100%;
    margin-bottom: 110px;
}
.video-text-wrap button.playvideo{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.video-content #video1 {
    width: 100%;
    opacity: 0;
    padding: 0 30px;
}
.video-content{
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.video-content #video1{
    left: 50%;
    position: relative;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.video-text-wrap{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.video-text-wrap .newvideo{
    font-size: 24px;
    margin-bottom: 10px;
}
.video-text-wrap p{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.video-text-wrap button{
    background-color: transparent;
    border: none;
    left: 50%;
    padding: 0;
    position: absolute;
    top: 110%;
    transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}
.video-text-wrap button span{
    font-size: 64px;
}
.video-text-wrap button:hover{
    background-color: transparent !important;
}
.video-text-wrap button i{
    color: #fff;
    font-size: 18px;
    margin-left: 3px;
}

/*================================== footer ==================================*/
/*=====.footer fashion pro====*/
.footer-fashion-logo{
    padding-top: 25px;
}
.footer-fashion-link{
    padding: 35px 0 70px;
}
.footer-fashion-link .footer-fashion a span{
    font-family: Montserrat;
    padding: 0 17px;
    text-transform: uppercase;
}
/*=====.footer_inter_pro====*/
.style_footer_interpro .footer-copyright{
    display: none;
}
/*=====.footer_cos_pro====*/
.style_footer_cospro .footer-copyright .wrapper-copyright{
    padding: 16px 0 59px;
}
.style_footer_cospro .footer_cos_pro .footer-fashion-link{
    padding: 35px 0 15px;
}
/*=====.footer_jewel_pro====*/
.footer_jewel_pro .line_footer_jewel{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 85px;
}
.line_footer_jewel_after{
    border-bottom: 1px solid #e5e5e5;
    margin-top: 55px;
}
.footer_jewel_text{
    font-size: 12px;
    margin-top: 40px;
}
.block_footer_jewel_pro_2,
.block_footer_jewel_pro_3{
    margin-left: 45px;
}
.block_footer_jewel_pro_2 .block-content ul li,
.block_footer_jewel_pro_3 .block-content ul li{
    position: relative;
    padding-left: 20px;
}
.block_footer_jewel_pro_2 .block-content ul li:before,
.block_footer_jewel_pro_3 .block-content ul li:before{
    content: '\f0c8';
    font-family: fontawesome;
    position: absolute;
    left: 0;
    font-size: 7px;
    line-height: 32px;
    color: #999999;
}

.block_footer_jewel_pro_2 .block-content ul li,
.block_footer_jewel_pro_3 .block-content ul li{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: translate(0,0);
}
.block_footer_jewel_pro_2 .block-content ul li:hover,
.block_footer_jewel_pro_3 .block-content ul li:hover{
    transform: translate(15px,0);
}
.block_footer_jewel_pro_2 .block-content ul li:hover:before,
.block_footer_jewel_pro_3 .block-content ul li:hover:before{
    color: #000000;
}
.block_footer_jewel_pro_4 .block-content ul li{
    display: inline-flex;
    display: -webkit-inline-box;
    width: 100%;
}
.block_footer_jewel_pro_4 .block-content ul li i{
    font-size: 25px;
    width: 25px;
    margin-right: 20px;
}
.block_footer_jewel_pro_4 .block-content ul li i.fa-mobile{
    margin: 0 14px 0 6px;
}
.footer_jewel_pro .block .block-title{
    margin-bottom: 45px;
}
/*=====.footer_bake_pro====*/
.style_footer_bakepro {
    background-size: cover;
    background-position: center;
}
.footer_bake_pro{
    padding: 65px 0 115px;
}
.style_footer_bakepro .block .block-title{
    margin-bottom: 50px;
}
.block_footer_bake_pro_2 .block-content,
.block_footer_bake_pro_3 .block-content{
    font-size: 11px;
}
.style_footer_bakepro .footer-copyright .wrapper-copyright{
    padding: 60px 0;
}
.footer_bake_pro_2_link{
    margin-top: 30px;
    font-size: 16px;
}
.footer_bake_pro_2_link a{
    margin-right: 15px;
}
.style_footer_bakepro .line_footer_bake{
    border-bottom: 2px solid;
    border-color: rgba(255,255,255,0.05);
}
/*=====.footer_bike_pro====*/
.style_footer_bikepro .block .block-title{
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
}
.footer_bike_pro{
    padding: 60px 0 115px;
}
.style_footer_bikepro .line_footer_bike{
    border-bottom: 2px solid;
    border-color: rgba(0,0,0,0.03);
}
.style_footer_bikepro .footer-copyright .wrapper-copyright{
    padding: 55px 0;
    float: left;
    width: 100%;
}
.style_footer_bikepro .footer-copyright address{
    float: left;
}
.style_footer_bikepro .footer-copyright .wrapper-copyright .paypal_footer{
    display: block !important;
    float: right;
}
.newsletter_style_footer {
    position: relative;
    max-width: 300px;
}
.newsletter_style_footer .block-subscribe .block-content .actions{
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.newsletter_style_footer .block-subscribe .block-content .actions .btn_subscribe_footer{
    background-color: transparent;
    border: medium none;
    color: #666666;
    padding: 9px 20px;
    font-size: 18px;
}
.newsletter_style_footer .block-subscribe .block-content .actions .btn_subscribe_footer:hover span{
    color: #000000;
}
.newsletter_style_footer .block-subscribe .block-content .input-box .input_subscribe_footer{
    border-color: #CCCCCC;
    color: #666666;
}
/*=====.footer_sun_pro====*/
.style_footer_sunpro .block .block-title{
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
}
.style_footer_sunpro .footer-copyright .wrapper-copyright{
    padding: 28px 0;
}
.footer_sun_pro_4_link{
    font-size: 20px;
    margin-top: 25px;
}
.footer_sun_pro_4_link a{
    margin: 0 15px;
}
.footer_sun_pro{
    padding: 0 0 80px;
}
.footer_sun_pro .have_boder{
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: rgba(102,102,102, 0.04);
}

/*=====.footer_bar_pro====*/
.style_footer_barpro {
    background-size: cover;
    background-position: center;
}
.style_footer_barpro .block .block-title{
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
}
.footer_bar_pro{
    padding: 60px 0 115px;
}
.style_footer_barpro .line_footer_bike{
    border-bottom: 2px solid;
    border-color: rgba(255,255,255,0.03);
}
.style_footer_barpro .footer-copyright .wrapper-copyright{
    padding: 55px 0;
}
.newsletter_style_header_vertical .block-content,
.newsletter_style_footer .block-content{
    padding: 0 !important;
}
/*=====.footer_elec_pro====*/
.tag-cloud > a {
    background-color: #535353;
    color: #999999;
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    margin: 0 4px 10px 0;
    padding: 7px 15px;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
}
.style_footer_elecpro .block .block-title{
    font-size: 18px;
    margin-bottom: 37px;
}
.logo_footer_elec{
    margin-bottom: 23px;
}
.local_footer_elec ul li{
    border-top: 1px solid #474747;
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    vertical-align: middle;
    width: 100%;
    position: relative;
}
.text_footer_elec p{
    margin-bottom: 20px;
}
.local_footer_elec ul li i{
    color: #525252;
    display: inline-block;
    font-size: 20px;
    vertical-align: sub;
    width: 35px;
}
.local_footer_elec ul li:first-child i{
    font-size: 30px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.local_footer_elec ul li:first-child p{
    margin-left: 35px;
}
.local_footer_elec ul li p{
    display: inline-block;
}
.newsletter_style_footer.newletter_elec .block-subscribe .block-content .actions .btn_subscribe_footer{
    color: #ffffff;
}
.newsletter_style_footer.newletter_elec .block-subscribe .block-content .input-box .input_subscribe_footer{
    background-color: #535353;
    border-color: #535353;
    color: #ffffff;
    font-style: italic;
}
.link_footer_elec{
    border-top: 1px solid #535353;
    margin-top: 25px;
    padding-top: 20px;
}
.link_footer_elec a{
    font-size: 16px;
    padding-right: 15px;
}
.block_footer_elec_pro_3 .post-item .post-item-inner .post-thumbnail,
.block_footer_elec_pro_3 .post-item .post-item-inner .post-item-content .post-meta,
.block_footer_elec_pro_3 .post-item .post-item-inner .post-item-content .post-excerpt,
.block_footer_elec_pro_3 .post-item .post-item-inner .post-item-content .post-readmore{
    display: none;
}
.block_footer_elec_pro_3 .post-item{
    border-bottom: 1px solid #535353;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}
.block_footer_elec_pro_3 .post-item:before{
    content: '\f101';
    font-family: fontawesome;
    position: absolute;
    left: 0;
    top: -3px;
}
.block_footer_elec_pro_3 .block-content .post_footer .row .col-lg-12:last-child .post-item{
    border-bottom: none;
}
.block_footer_elec_pro_3 .post-item .post-item-inner .post-item-content{
    padding: 0;
    text-align: left;
}
.block_footer_elec_pro_3 .post-item .post-item-inner .post-item-content .post-title{
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    text-transform: none;
    margin: 0 0 0 25px;
    letter-spacing: 1px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
}
.block_footer_elec_pro_3 .post-item:hover .post-item-inner .post-item-content .post-title{
    transform: translate(15px,0);
    -webkit-transform: translate(15px,0);
}
.block_footer_elec_pro_3 .post-item .post-item-inner .post-item-content .post-title:hover{
    color: #fff;
}
.style_footer_elecpro .footer-copyright .wrapper-copyright{
    padding: 0;
}
.style_footer_elecpro .footer-copyright address{
    float: left;
    padding: 25px 0;
}
.style_footer_elecpro .footer-copyright .paypal_footer{
    display: block !important;
    float: right;
    padding: 25px 0;
}
.block_footer_elec_pro_4 .text_footer_elec p{
    margin-top: -8px;
}
.block_footer_elec_pro_3 .post_footer{
    margin-top: -4px;
}
/*=====.footer_ten_pro====*/
.design_footer_fashion_pro_2{
    padding: 70px 0;
}
.design_footer_fashion_pro_2 .footer-copyright{
    display: none;
}
.footer-fashion-link-2 .footer-fashion a{
    font-size: 19px;
    margin: 0 9px;
}
.made_by_nova{
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 5px;
    line-height: 24px;
    text-transform: uppercase;
}


/*================================== content ==================================*/
.remove-header{
    opacity: 0;
}
.block_product_detail_3column .block_home_one_8{
    margin-top: 10px;
}
.block_sidebar_left .ratings,
.block_sidebar_left .actions{
    display: none !important;
}
.block_sidebar_left .slider-tab li span{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family:"Montserrat",sans-serif;
    font-style: normal;
}
.block_sidebar_left .slider-tab{
    border-bottom: 1px dashed #CCCCCC;
}
.block_sidebar_left .arw_tab_slider ol.products-list{
    padding-left: 25px;
}
.block_sidebar_left .arw_tab_slider ol.products-list li{
    padding-bottom: 20px;
    border-bottom: 1px dashed #CCCCCC;
}
.block_sidebar_left .arw_tab_slider ol.products-list li:last-child{
    padding-bottom: 0;
    border-bottom: none;
}
.block_sidebar_left .product-tab-list-mini .products-list .product-name{
    text-transform: capitalize;
}
.block_sidebar_left .product-tab-list-mini .products-list .outer-image{
    padding: 0;
}
.block_sidebar_left .product-tab-list-mini .products-list .outer-image:hover{
    border: 1px solid #CCCCCC;
}
.block_sidebar_left .product-tab-list-mini .products-list .price-box .regular-price,
.block_sidebar_left .product-tab-list-mini .products-list .price-box .special-price,
.block_sidebar_left .product-shop .f-fix .price-box .old-price .price,
.block_sidebar_left .product-shop .f-fix .price-box .special-price .price{
    font-size: 14px;
}
/*=================== menu ========================*/
.slide-menu.owl-carousel .owl-nav.disabled{
    display: block !important;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.slide-menu.owl-carousel .owl-nav.disabled .owl-prev{
    height: 23px;
    margin-right: 5px;
    padding: 0;
    width: 23px;
    border-color: #fff;
    background-color: #fff;
    color: #232323;
}
.slide-menu.owl-carousel .owl-nav.disabled .owl-prev:before{
    left: 5px;
    top: -9px;
}
.slide-menu.owl-carousel .owl-nav.disabled .owl-next:hover,
.slide-menu.owl-carousel .owl-nav.disabled .owl-prev:hover{
    background-color: red;
    color: #fff;
    border-color: red;
}
.slide-menu.owl-carousel .owl-nav.disabled .owl-next{
    margin-left: 5px;
    height: 23px;
    padding: 0;
    width: 23px;
    border-color: #fff;
    background-color: #fff;
    color: #232323;
}
.slide-menu.owl-carousel .owl-nav.disabled .owl-next:before{
    right: 5px;
    top: -9px;
}
.slide-menu.owl-carousel .owl-dots{
    display: none !important;
}
.content-slide-menu-1{
    position: relative;
}
.content-slide-menu-1 .content-1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}
.content-slide-menu-1 .content-1 .summer{
    font-size: 18px;
    letter-spacing: 1px;
    color: #e0e0e0;
}
.content-slide-menu-1 .content-1 .festival{
    font-size: 36px;
    letter-spacing: 1px;
    color: #e0e0e0;
}
.content-slide-menu-1 .content-1 .years{
    font-size: 24px;
    letter-spacing: 1px;
    color: #e0e0e0;
}
/*======== contact us ================*/
.block_content-contact .block_contact_content .have_boder{
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #e5e5e5;
}
.block_content-contact .block_contact_content .lnr,
.block_content-contact .block_contact_content .fa{
    font-size: 50px;
    width: 60px;
}
.block_content-contact .block_contact_content .block-title{
    color: #000000;
    margin: 15px 0;
    text-transform: uppercase;
}
.phone_email,
.phone_contacts{
    margin: 0;
}
.contact_content_title{
    margin: 85px 0 55px;
}
.contact_content_title > span{
    font-family: Oswald;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    line-height: 34px;
    letter-spacing: 2px;
}
.block-contact-form .buttons-set{
    clear: both;
    margin-bottom: 95px;
    overflow: hidden;
    margin-top: 0;
    padding: 0;
}

/*======== about us ================*/
.about-epro-title{
    color: #000000;
    font-family: Oswald;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.about-epro-content-03 .translate-top img{
    width: 100%;
    height: auto;
}
.about-epro-content-title{
    color: #000000;
    font-weight: 700;
}
.about-epro-content-02 ul li i{
    font-size: 15px;
    margin-right: 10px;
    width: 15px;
    color: #525252;
}
.about-us-hour-work{
    font-weight: bold;
}
.about-us-hour-work span span{
    color: #000000;
}
.author-our-team{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.our-team-work{
    color: #000000;
}
.our-team-external-link a{
    font-size: 15px;
    margin: 0 5px;
}
.about-epro-content-03 .translate-top{
    position: relative;
    margin-right: 20px;
}
.about-epro-content-03 .translate-top .content-our-team:before{
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0px, 100%, 0px);
    transition: 0.5s;
    -webkit-transform: translate3d(0px, 100%, 0px);
    -webkit-transition: 0.5s;
    width: 100%;
    z-index: -1;
}
.about-epro-content-03 .translate-top:hover .content-our-team{
    opacity: 1;
}
.about-epro-content-03 .translate-top .content-our-team .sub-content-our-team{
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transition:  0.5s;
    -webkit-transition:  0.5s;
}
.about-epro-content-03 .translate-top:hover .content-our-team .sub-content-our-team{
    transform: translate(0,90%);
    -webkit-transform: translate(0,90%);
}
.about-epro-content-03 .our-team-hover-special:hover .content-our-team .sub-content-our-team{
    transform: translate(0,270%);
    -webkit-transform: translate(0,270%);
}
.content-our-team{
    height: 100%;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    overflow: hidden;
    z-index: 3;
}
.about-epro-content-03 .translate-top:hover .content-our-team:before{
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*======== about us progress ================*/

/*================================== home_v1 ==================================*/
/*======block_home_one_1=======*/

.block_home_one_1 .content_left_01{
    background-image: url("../images/01_home_fashion.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 472px;
}
.block_home_one_1 .content_left_03{
    background-image: url("../images/03_home_fashion.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 472px;
}
.block_home_one_1 .content_right_02{
    background-image: url("../images/02_home_fashion.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 472px;
}

.block_home_one_1 .nova_block_title span{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.block_home_one_1 .text_block_1{
    font-size: 14px;
}
.block_home_one_1 .content_right_01{
    border: 20px solid #f2f2f2;
}
.block_home_one_1 .line_block_1{
    border-bottom: 2px solid #f2f2f2;
}
.block_home_one_1 .block_1_link a{
    font-size: 16px;
    margin: 0 9px;
}
.block_home_one_1 .content_right_04{
    border: 20px solid #f2f2f2;
}
.block_home_one_1 .content_right_04 .block-title{
    margin-bottom: 10px;
}
.block_home_one_1 .content_right_04 .block-content .form-subscribe-header{
    margin-bottom: 20px;
}
.block_home_one_1 .content_right_04 .block-subscribe-content{
    position: relative;
    margin: 0 50px 80px 50px;
}
.block_home_one_1 .content_right_04 .block-content .actions{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    background-color: transparent;
}
.block_home_one_1 .content_right_04 .block-subscribe-content .input-box #newsletter{
    height: 53px;
}
.block_home_one_1 .content_right_04 .block-content .actions .button{
    padding: 13px 35px;
    background-color: transparent;
    border: none;
}
.block_home_one_1 .content_right_04 .block-content .actions .button span{
    color: #000000;
    font-size: 17px;
    line-height: 27px;
}
.block_home_one_1 .content_right_04 .block-content .actions .button .text_subscribe{
    display: none;
}
/*======block_home_one_2=======*/
.block_home_one_2 .owl-carousel .owl-nav .owl-prev,
.block_home_one_2 .owl-carousel .owl-nav .owl-next{
    background-color: transparent;
    border: medium none;
    color: #000;
    display: inline-block;
    font-size: 18px;
    height: 100%;
    letter-spacing: 0;
    line-height: 28px;
    padding: 0;
    text-indent: 0;
    text-transform: uppercase;
    width: 15px;
    word-wrap: break-word;
    text-align: left;
}
.block_home_one_2 .owl-carousel .owl-nav .owl-prev:hover,
.block_home_one_2 .owl-carousel .owl-nav .owl-next:hover{
    color: #cccccc;
}
.block_home_one_2 .owl-carousel .owl-next::before,
.block_home_one_2 .owl-carousel .owl-prev::before{
    content: '';
}

/*======block_home_one_3=======*/
.block_home_one_3{
    background-color: #f5f5f5;
}
.block_home_one_3 .arw-sub-title{
    font-size: 16px;
    font-weight: normal;
    text-transform: lowercase;
    color: #666;
}
.block_home_one_3 .post-item .post-thumbnail img{
    border-radius: 50%;
    height: 78px;
    width: 78px;
}
.block_home_one_3 .post-item .btn-viewmore{
    display: none;
}
.block_home_one_3 .post-item .post-thumbnail:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.block_home_one_3 .post-item{
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
}
.block_home_one_3 .col-lg-12:last-child .post-item{
    border: none;
}
.block_home_one_3 .post-item .post-title{
    text-transform: uppercase;
}
.block_home_one_3 .arw-title h2 span{
    background-color: transparent;
}
.block_home_one_3 .post-item .post-thumbnail{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: none;
}
.block_home_one_3 .post-item .post-excerpt{
    margin: 0 0 10px;
    display: none;
}
.block_home_one_3 .btn_continue{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
}
/* hover */
.block_home_one_3 .post-item .post-item-inner:hover .post-thumbnail,
.block_home_one_3 .post-item .post-item-inner:hover .post-excerpt,
.block_home_one_3 .post-item .post-item-inner:hover .btn_continue{
    display: block;
}
.block_home_one_3 .post-item .post-item-inner:hover .post-item-content{
    background-color: #ffffff;
}

/*=====.block_home_one_4====*/

/*=====.block_home_one_5====*/


/*=====.block_home_one_6====*/


/*=====.block_home_one_7====*/

/*=====.block_home_one_8====*/

/*=====.block_home_one_9====*/

/*=====.block_home_one_10====*/

/*=====.block_home_one_11====*/
/*=====.block_home_one_12====*/

/*=====.block_home_one_13====*/


/*================================== home_v2 ==================================*/
/*=====block_home_two_1====*/
.block_home_two_1 .products-grid .product-info{
    text-align: center;
}
.block_home_two_1{
    display: inline-block;
}
.block_home_two_1 .products-list .product-name a,
.block_home_two_1 .products-grid .product-name a{
    font-weight: normal;
}
/*=====block_home_two_2====*/
.block_home_two_2{
    padding: 35px 0;
    background-color: #ececec;
}
.block_home_two_2 .address_home2{
    color: #000000;
    text-transform: uppercase;
}
/*=====block_home_two_3====*/


/*=====block_home_two_4====*/

/*=====block_home_two_5====*/

/*=====block_home_two_6====*/


/*=====block_home_two_7====*/

/*=====block_home_two_8====*/

/*=====block_home_two_9====*/

/*=====block_home_two_10====*/

/*================================== home_v3 ==================================*/
/*=====block_home_three_1====*/
.block_home_three_1 .block_cosmetic_one_1{
    background-image: url("../images/01_home_cosmetic.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 218px;
    padding-left: 30px;
}
.block_home_three_1 .block_cosmetic_one_2{
    background-image: url("../images/02_home_cosmetic.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 218px;
    padding-left: 30px;
}
.block_home_three_1 .block_cosmetic_one_3{
    background-image: url("../images/03_home_cosmetic.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 218px;
    padding-left: 30px;
}
.block_home_three_1 .text_cosmetic_one{
    color: #fff;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    padding-top: 30px;
}
.block_home_three_1 .money_cosmetic{
    color: #fff;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 75px;
}
.block_home_three_1 .btn_continue_cosmetic{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
/*=====block_home_three_2====*/

/*=====block_home_three_3====*/
.block_home_three_3{
    margin-bottom: 130px;
}
.block_home_three_3 .block-content .actions .button .lnr-arrow-right{
    display: none;
}
.block_home_three_3 .block-subscribe-content{
    position: relative;
    max-width: 570px;
    margin: 0 auto;
}
.block_home_three_3 .block-subscribe-content .actions{
    margin: 0;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}
.block_home_three_3 .block-subscribe-content .block-content .input-box #newsletter{
    height: 61px;
}
/*=====block_home_three_4====*/

/*=====block_home_three_5====*/

/*=====block_home_three_6====*/

/*=====block_home_three_7====*/

/*=====block_home_three_8====*/

/*=====block_home_three_9====*/
/*=====block_home_three_10====*/

/*================================== home_v4 ==================================*/
.title_jewelry_1{
    color: #000;
    font-family: oswald;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 30px;
}
.title_jewelry_2{
    color: #000;
    font-family: oswald;
    font-size: 20px;
    text-transform: uppercase;
}
.sub_title_jewel{
    text-transform: uppercase;
    font-size: 14px;
}
.text_jewelry{
    font-size: 14px;
}
.btn_jewel{
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 15px;
}
.nopadding{
    padding: 0 !important;
}
.jewel_padding_right{
    padding-left: 0;
    padding-right: 5px;
}
.jewel_padding_left{
    padding-left: 5px;
    padding-right: 0;
}
.have_background_jewel{
    background-position: 50% 50%;
    background-size: cover;
    min-height: 448px;
}
/*=====block_home_four_1====*/
.block_home_four_1 .content_four_1_left{
    border: 1px solid #e5e5e5;
}
.block_home_four_1 .content_four_1_left .title_jewelry_1{
    margin: 138px 0 24px 0;
}
.block_home_four_1 .content_four_1_left .block_1_link{
    margin: 15px 0 140px;
}
.block_home_four_1 .content_four_1_left .block_1_link a{
    font-size: 20px;
    margin: 0 10px;
}
.block_home_four_1 .overlay_video{
    height: 87%;
    left: 0;
    margin: 30px;
    position: absolute;
    top: 0;
    width: 87.5%;
    background-color: rgba(255,255,255,0.8);
}
.block_home_four_1 .playvideo span,
.block_home_four_1 .video-text-wrap p{
    color: #000000 !important;
}

/*=====block_home_four_2====*/

/*=====block_home_four_3====*/
.block_home_four_2 .arw-title h2 span span{
    font-family: oswald;
    font-weight: normal;
}
.block_home_four_2.block_home_three_3 {
    margin-bottom: 50px;
}
/*=====block_home_four_4====*/

/*=====block_home_four_5====*/

/*=====block_home_four_6====*/
/*=====block_home_four_7====*/
/*=====block_home_four_8====*/
/*=====block_home_four_9====*/
/*=====block_home_four_10====*/

/*================================== home_v5 ==================================*/
.bake_title{
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.have_background_bake{
    background-position: 50% 50%;
    background-size: cover;
    min-height: 700px;
}
.bake_text{
    font-size: 13px;
}
/*=====block_home_five_1====*/
.bake_img{
    margin-bottom: 50px;
}
.bake_icon{
    margin-top: 5px;
}
.bake_icon i{
    color: #000000;
}
/*=====block_home_five_2====*/
.block_home_five_2 .content_bake_two_left .arw-title h2 span{
    background-color: transparent;
}
.block_home_five_2 .content_bake_two_left .arw-title{
    padding-top: 160px;
}
.block_home_five_2 .content_bake_two_left .arw-sub-title{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
.block_home_five_2 .content_bake_two_left .text_bake_two{
    color: #000000;
    font-family: DroidSerif;
    font-size: 15px;
}
.block_home_five_2 .content_bake_two_left .authur{
    font-family: "SignericaMedium";
    padding-top: 50px
}
.block_home_five_2 .video-content{
    height: 700px;
}
.block_home_five_2 .video-content #video1{
    padding: 0;
}
/*=====block_home_five_3====*/
.block_home_five_3 .products-list .product-name a,
.block_home_five_3 .products-grid .product-name a{
    font-weight: normal;
}
.block_home_five_3 .products-grid .product-info{
    text-align: center;
}

/*=====block_home_five_4====*/
.block_home_five_4{
    border-top: 1px solid #CCCCCC;
    background-color: #f5f5f5;
    padding: 105px 0 20px;
}
.block_home_five_4 .post-item .post-item-inner .post-item-content .post-excerpt,
.block_home_five_4 .post-item .post-item-inner .post-item-content .post-readmore,
.block_home_five_4 .post-item .post-item-inner .btn-viewmore{
    display: none;
}
.block_home_five_4 .post-item .post-item-inner .post-item-content{
    bottom: 0;
    left: 0;
    padding-left: 30px;
    position: absolute;
    text-align: left;
    width: 100%;
}
.block_home_five_4 .post-item .post-item-inner .post-item-content .post-title{
    font-size: 18px;
}
.block_home_five_4 .post-item .post-item-inner .post-item-content .post-title a,
.block_home_five_4 .post-item .post-item-inner .post-item-content .post-meta .post-date,
.block_home_five_4 .post-item .post-item-inner .post-item-content .post-meta .post-date .by,
.block_home_five_4 .post-item .post-item-inner .post-item-content .post-meta .post-date .media-meta,
.block_home_five_4 .post-item .post-item-inner .post-item-content .post-meta .post-by span,
.block_home_five_4 .post-item .post-item-inner .post-item-content .post-meta .post-by a span{
    color: #fff !important;
}
/*=====block_home_five_5====*/
/*=====block_home_five_6====*/
/*=====block_home_five_7====*/
/*=====block_home_five_8====*/
/*=====block_home_five_9====*/
/*=====block_home_five_10====*/

/*================================== home_v6 ==================================*/
/*=====block_home_six_1====*/
.block_home_six_1 {
    position: relative;
}
.block_home_six_1 .around{
    position: absolute;
    left: 50%;
    top: 9%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
/*=====block_home_six_2====*/
.block_home_six_2{
    margin-top: 110px;
}
.have_border_left{
    border-left: 1px solid #cacaca;
}
.have_border_right{
    border-right: 1px solid #cacaca;
}
.have_border_top{
    border-top: 1px solid #cacaca;
}
.block_home_six_2 .around{
    top: 40px;
}
.tabcontent_six_2 .tabs_six_02{
    border-bottom: none;
}
.tabcontent_six_2 .tabs_six_02 li{
    width: 25%;
    background-color: #f3f3f3;
    margin-bottom: 0;
}
.tabcontent_six_2 .tabs_six_02 li a{
    text-transform: uppercase;
    padding: 30px 40px;
    border-right: 1px solid #cfcfcf !important;
    border: none;
    border-radius: 0;
    margin-right: 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}
.tabcontent_six_2 .tabs_six_02 li a i{
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.tabcontent_six_2 .tabs_six_02 li.active a i{
    display: none;
}
.tabcontent_six_2 .tabs_six_02 li.active a{
    border-top: none;
}
.tabcontent_six_2 .tabs_six_02 li.active:hover a
.tabcontent_six_2 .tabs_six_02 li:hover a{
    border: none;
}
.block_home_six_2 .nav-tabs > li.active > a, .block_home_six_2 .nav-tabs > li.active > a:hover, .block_home_six_2 .nav-tabs > li.active > a:focus{
    border: none !important;
}

.have_background_product_1{
    background-position: 50% 50%;
    background-size: cover;
    min-height: 960px;
}
.have_background_product_2{
    background-position: 50% 50%;
    background-size: cover;
    min-height: 480px;
}

.block_home_six_2 .arw_tab_slider .slider-tab{
    display: none;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer{

}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item{
    padding: 0 20px;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item:hover .wrapper-item-inner .actions .link-actions,
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item:hover .wrapper-item-inner .actions .btn-cart{
    opacity: 1;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
}
.block_home_six_2 .have_product_six_style.maxheight_960 .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .outer-image .product-image img{
    height: 960px;
}.block_home_six_2 .have_product_six_style.maxheight_480 .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .outer-image .product-image img{
    height: 480px;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .product-info{
    bottom: 0;
    left: 80px;
    position: absolute;
    z-index: 22;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .product-info .product-name a{
    font-weight: normal;
    letter-spacing: 2px;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .product-info .ratings{
    display: none;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .product-info .price-box .price{
    font-size: 30px;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .actions .link-actions{
    opacity: 0;
    top: 50px;
    width: 60px;
    right: 5px;
    height: 150px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: translate(100px,0);
    -webkit-transform: translate(100px,0);
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .actions .btn-cart{
    height: 45px;
    opacity: 0;
    position: absolute;
    top: 220px;
    width: 60px;
    right: 6px;
    background-color: transparent;
    border: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: translate(100px,0);
    -webkit-transform: translate(100px,0);
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .actions .btn-cart .add_to_cart,
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .actions .btn-cart .home-six-bike-plus{
    display: none;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .actions .btn-cart .home-six-bike-bag{
    display: block !important;
    color: #000000;
    font-size: 25px;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .actions .link-actions .button{
    float: none;
    background-color: transparent;
    border: none;
}
.block_home_six_2 .have_product_six_style .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .actions .link-actions .button span{
    font-size: 25px;
    color: #000000;
}
.block_home_six_2 .slider-tab-toggle{
    display: none;
}
.have_back_white{
    background-image: url("../images/background_white.jpg");
}
    /*=====block_home_six_3====*/
.block_home_six_3 .sub_text_six_3{
    color: #000;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
    box-shadow: none;
}
.block_home_six_3 .title_six_3{
    color: #000;
    font-family: oswald;
    font-size: 38px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 60px;
    box-shadow: none;
}
.block_home_six_3 .text_six_3{
    color: #000000;
    font-weight: bold;
    box-shadow: none;
}
/*=====block_home_six_4====*/
/*=====block_home_six_5====*/
/*=====block_home_six_6====*/
/*=====block_home_six_7====*/
/*=====block_home_six_8====*/
/*=====block_home_six_9====*/
/*=====block_home_six_10====*/

/*================================== home_v7 ==================================*/
/*=====block_home_seven_1====*/
.block_home_seven_1{
    min-height: 745px;
    background-color: #f5f5f5;
}
.block_home_seven_1 .content_left_seven_1{
    position: relative;
}
.line_seven_1{
    border-bottom: 1px solid #000000;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 22%;
}
.deg-90{
    left: -48%;
    position: absolute;
    top: 38%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 100%;
}
.img_seven_1 img{
    border: 20px solid #fff;
    margin-left: 112px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.alittle_seven_1{
    color: #000;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.sub_title_seven_1{
    color: #666666;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 115px;
    text-transform: uppercase;
}
.title_seven_1{
    color: #000;
    font-family: oswald;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 55px;
}
.text_seven_1{
    color: #666666;
    margin-bottom: 80px;
}
.authur_seven_1{
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
.authur_seven_1 span{
    color: #999999;
}
/*=====block_home_seven_2====*/
/*=====block_home_seven_3====*/
.block_home_seven_3{
    background-image: url("../images/background_sunglasses.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 690px;
}
.block_home_seven_3 .content_seven_03{
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
}
.content_seven_3_left{
    padding-top: 100px;
}
.content_seven_3_right{
    padding-top: 60px;
}
.block_home_seven_3 .owl-carousel .owl-stage-outer{
    overflow: visible;
}
.block_home_seven_3 .owl-carousel .owl-stage-outer .owl-item .style-countdown{
    left: -105.5%;
    position: absolute;
    top: 43%;
    width: 100%;
}
.sub_title_seven3{
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sub_title_seven3 span{
    color: #000000;
    font-weight: bold;
}
.title_seven_3{
    font-size: 26px;
    font-family: oswald;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 35px;
}
.title_seven_3 span{
    color: #CC0000;
}
.text_seven_3{
    margin-bottom: 45px;
}
.text_seven_3 span{
    color: #000000;
}
.expires_in{
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
}
.block_home_seven_3 .content_seven_3_left a.bnt3{
    cursor: pointer;
}
.block_home_seven_3 .spb_heading,
.block_home_seven_3 .owl-dots,
.block_home_seven_3 .style-countdown .product-name,
.block_home_seven_3 .style-countdown .rating-product-box,
.block_home_seven_3 .style-countdown .price-box{
    display: none;
}
.block_home_seven_3 .content_seven_3 .mini-list .owl-stage .item .item-product-image-box{

}
/*=====block_home_seven_4====*/
.block_home_seven_4 .products-grid .product-info{
    text-align: center;
}
.block_home_seven_4 .products-list .product-name a,
.block_home_seven_4 .products-grid .product-name a{
    font-weight: normal;
}
/*=====block_home_seven_5====*/
.block_home_seven_5{
    background-color: #f5f5f5;
}
.blog_post_seven .col-xs-12{
    padding: 0;
}
.blog_post_seven .post-item .post-item-inner .post-thumbnail .btn-viewmore,
.blog_post_seven .post-item .post-item-inner .post-item-content .post-excerpt,
.blog_post_seven .post-item .post-item-inner .post-item-content .post-readmore{
    display: none;
}
.blog_post_seven .post-item .post-item-inner .post-item-content{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    display: none;
}
.blog_post_seven .overlay_background{
    height: 87%;
    margin: 15px;
    position: absolute;
    top: 0;
    width: 92.3%;
}
.blog_post_seven .post-item .post-item-inner:hover .overlay_background{
    background-color: rgba(255,255,255, 0.8);
}
.blog_post_seven .post-item .post-item-inner:hover .post-item-content{
    display: block;
}
/*=====block_home_seven_6====*/
/*=====block_home_seven_7====*/
/*=====block_home_seven_8====*/
/*=====block_home_seven_9====*/
/*=====block_home_seven_10====*/

/*================================== home_v8 ==================================*/
.sub_title_eight{
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
}
.title_eight{
    color: #fff;
    font-family: oswald;
    font-size: 60px;
    line-height: 74px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.text_eight{
    color: #fff;
    padding-bottom: 70px;
}
.btn_eight{
    border: 1px solid;
    color: #fff;
    padding: 20px 40px;
    text-transform: uppercase;
}
.btn_eight span{
    border-left: 1px solid;
    margin-left: 30px;
    padding-bottom: 27px;
    padding-left: 25px;
    padding-top: 25px;
}
.have_background_eight{
    background-position: 50% 50%;
    background-size: cover;
    min-height: 960px;
    position: relative;
}
.content_center_eight{
    position: absolute;
    top: 50%;
    transform: translateY( -50%);
    -webkit-transform: translateY( -50%);
    width: 100%;
}
/*=====block_home_eight_1====*/
.block_home_eight_1{
    margin-top: -1px;
}
.block_home_eight_1 .content_eight_left_1{
    background-image: url("../images/01_home_baber.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 960px;
    position: relative;
}
.block_home_eight_1 .content_eight_right_1 .img_eight_right_1{
    margin-left: -1px;
    background-image: url("../images/02_home_baber.jpg");
}
.block_home_eight_1 .content_eight_right_1 .img_eight_right_2{
    background-image: url("../images/03_home_baber.jpg");
}
.block_home_eight_1 .content_eight_right_1 .product_right_eight_1{
    background-image: url("../images/09_home_baber.jpg");
}
.block_home_eight_1 .content_eight_right_1 .product_right_eight_1,
.block_home_eight_1 .content_eight_right_1 .img_eight_right_1,
.block_home_eight_1 .content_eight_right_1 .img_eight_right_2{
    background-position: 50% 50%;
    background-size: cover;
    min-height: 480px;
    position: relative;
}
.block_home_eight_1 .content_eight_right_1 .img_eight_right_1 .png_eight_right_1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.block_home_eight_1 .arw_tab_slider .slider-tab{
    display: none;
}
.block_home_eight_1 .products-grid li.item > .wrapper-item{
    padding: 0 20px;
}
.block_home_eight_1 .max_height_480 .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .outer-image .product-image img{
    height: 480px;
}
.block_home_eight_1 .arw_tab_slider .owl-stage-outer .wrapper-item .product-info{
    bottom: 30px;
    left: 70px;
    position: absolute;
    z-index: 22;
}
.block_home_eight_1 .products-grid .price-box .price {
    font-size: 3.4em;
}
.block_home_eight_1 .products-grid .price-box{
    margin: 0;
}
.block_home_eight_1 .products-grid .product-name{
    font-size: 16px;
}
.block_home_eight_1 .products-grid .product-name a{
    font-weight: normal;
}
.block_home_eight_1 .products-grid .ratings{
    display: none;
}
.block_home_eight_1 .products-grid li.item > .wrapper-item .actions{
    display: none;
}
/*=====block_home_eight_2====*/
.block_home_eight_2 .content_eight_left_2{
    background-image: url("../images/08_home_baber.jpg");
}
.block_home_eight_2 .content_eight_right_2{
    background-image: url("../images/04_home_baber.jpg");
}
.block_home_eight_2 .arw_tab_slider .slider-tab{
    display: none;
}
.block_home_eight_2 .products-grid li.item > .wrapper-item{
    padding: 0 20px;
}
.block_home_eight_2 .products-grid li.item > .wrapper-item .actions{
    display: none;
}
.block_home_eight_2 .product_left_eight_2.max_height_960 .arw_tab_slider .owl-stage-outer .wrapper-item .wrapper-item-inner .outer-image .product-image img{
    height: 960px;
}
.block_home_eight_2 .arw_tab_slider .owl-stage-outer .wrapper-item .product-info{
    bottom: 30px;
    left: 70px;
    position: absolute;
    z-index: 22;
}
.block_home_eight_2 .products-grid .price-box .price {
    font-size: 3.4em;
}
.block_home_eight_2 .products-grid .price-box{
    margin: 0;
}
.block_home_eight_2 .products-grid .product-name{
    font-size: 16px;
}
.block_home_eight_2 .products-grid .product-name a{
    font-weight: normal;
}
.block_home_eight_2 .products-grid .ratings{
    display: none;
}
/*=====block_home_eight_3====*/
.icon_eight_1{
    color: #fff;
    font-size: 20px;
}
.block_home_eight_3 .content_eight_right_3 .text_eight{
    color: #999999;
}
.block_home_eight_3 .content_eight_right_3 .sub_title_eight{
    color: #999999;
    font-size: 14px;
}
.block_home_eight_3 .content_eight_right_3 .title_eight{
    color: #000000;
    font-size: 35px;
}

/*=====block_home_eight_4====*/
.block_home_eight_4{
    margin: 110px 0;
}
.btn_contacts_home span span{
    border-left: 1px solid #1f1f1f;
    margin-left: 30px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-top: 17px;
}
.btn_contacts_home:hover span span{
    border-color: #000;
    color: #000000;
}
.btn_contacts_home:hover span{
    color: #000000;
}
.btn_contacts_home:hover {
    background-color: transparent !important;
    border-color: #000 !important;
}
/*=====block_home_eight_5====*/
.block_home_eight_5{
    background-color: #f4f4f4;
}
/*=====block_home_eight_6====*/
/*=====block_home_eight_7====*/
/*=====block_home_eight_8====*/
/*=====block_home_eight_9====*/
/*=====block_home_eight_10====*/

/*================================== home_v9 ==================================*/

/*=====block_home_nine_1====*/
/*=====block_home_nine_2====*/
.block_home_nine_2 .block_elec_two_1{
    background-image: url("../images/01_home_electronic.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 231px;
    padding-left: 30px;
}
.block_home_nine_2 .block_elec_two_2{
    background-image: url("../images/02_home_electronic.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 231px;
    padding-left: 30px;
}
.block_home_nine_2 .block_elec_two_3{
    background-image: url("../images/03_home_electronic.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 231px;
    padding-left: 30px;
}
.block_home_nine_2 .title_elec_two{
    color: #fff;
    font-size: 30px;
    line-height: 18px;
    padding-top: 74px;
    text-transform: uppercase;
    font-family: Oswald;
    font-weight: 400;
}
.block_home_nine_2 .sub_title_elec_two{
    color: #ccc;
    line-height: 18px;
    text-transform: capitalize;
    margin: 15px 0;
    font-family: "Open Sans", sans-serif;
}
.block_home_nine_2 .btn_continue_cosmetic{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
/*=====block_home_nine_3====*/
.block_home_nine_3 .owl-stage-outer .item{
    margin: 0 15px;
}
.block_home_nine_3 .spb_heading,
.block_home_nine_3 .discover_now{
    display: none;
}
.block_home_nine_3 .style-countdown{
    position: relative;
    padding-bottom: 50px;
}
.block_home_nine_3 .style-countdown .calccountdown{
    position: absolute;
    bottom: 0;
    left: 48%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.block_home_nine_3 .style-countdown .product-name{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Montserrat;
    letter-spacing: 1px;
}
.block_home_nine_3 .style-countdown .price-box{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.block_home_nine_3 .style-countdown .price-box .old-price .price{
    font-size: 14px;
    font-family: oswald;
}
.block_home_nine_3 .style-countdown .price-box .special-price .price{
    color: #000000;
    font-family: oswald;
    font-size: 18px;
}
/*=====block_home_nine_4====*/
/*=====block_home_nine_5====*/
/*=====block_home_nine_6====*/
.style_owl_navigation .slider-tab{
    display: none;
}
.style_owl_navigation .arw-title{
    text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 15px 40px 15px;
}
.style_owl_navigation .arw-title h2 span span{
    padding: 0;
}
.style_owl_navigation .owl-dots{
    display: none !important;
}

.style_owl_navigation .owl-carousel .owl-nav.disabled{
    display: block !important;
    position: absolute;
    left: 94.5%;
    top: -86px;
    right: 15px;
}

.style_owl_navigation .arw_tab_slider .owl-nav{
    display: block !important;
    position: absolute;
    left: 94.5%;
    top: -80px;
    right: 15px;
}
.style_owl_navigation .owl-nav .owl-next,
.style_owl_navigation .owl-nav .owl-prev{
    background-color: #ebebeb;
    border-color: #ebebeb;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    width: 22px;
    color: #999;
}
.style_owl_navigation .owl-nav .owl-next:hover,
.style_owl_navigation .owl-nav .owl-prev:hover{
    background-color: #000000;
    color: #ffffff;
}
.style_owl_navigation .owl-nav .owl-prev{
    margin-right: 5px;
}
.style_owl_navigation .owl-nav .owl-prev:before{
    left: 6px;
}
.style_owl_navigation .owl-nav .owl-next:before{
    right: 6px;
}
.style_owl_navigation .products-grid .product-info{
    text-align: center;
}
.style_owl_navigation .products-grid .product-info .product-name a{
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 1px;
}

/*=====block_home_nine_7====*/
.newmacbook{
    background-image: url("../images/04_home_electronic.jpg");
    background-position: 90% 50%;
    background-size: cover;
    min-height: 405px;
    position: relative;
}
.content_text_mac{
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
}
.content_text_mac h2{
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.block_home_nine_7 .faq_electronic .content_faqs .faqs2{
    display: none;
    margin-left: 33px;
    color: #666666;
}
.block_home_nine_7 .arw-title{
    text-align: left;
    border-bottom: 1px solid #c3c3c3;
}
.block_home_nine_7 .arw-title h2 span span{
    padding: 15px 0;
}
.block_home_nine_7 .faq_electronic .content_faqs{
    padding-top: 30px;
}
.block_home_nine_7 .faq_electronic .content_faqs .pertinacia{
    margin: 0 0 25px;
}
.block_home_nine_7 .faq_electronic .content_faqs .faqs{
    color: #010101;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.1px;
    margin: 0;
}
.block_home_nine_7 .faq_electronic .content_faqs .faqs .ti-minus{
    background-color: #000000;
}
.block_home_nine_7 .faq_electronic .content_faqs .faqs i{
    font-size: 14px;
    font-weight: bold;
    background-color: #999999;
    color: #fff;
    padding: 3px;
    margin-right: 9px;
}
.latest_post_electronic,
.faq_electronic{
    min-height: 405px;
    background-color: #f4f4f4;
    padding: 15px 25px;
    position: relative;
}

/*owl_nav*/
.faq_electronic .owl-dots{
    display: none !important;
}
.faq_electronic .owl-nav{
    display: block !important;
    position: absolute;
    right: 0;
    top: -43px;
}
.faq_electronic .owl-nav .owl-next,
.faq_electronic .owl-nav .owl-prev{
    background-color: #ebebeb;
    border-color: #ebebeb;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    width: 22px;
    color: #999;
}
.faq_electronic .owl-nav .owl-next:hover,
.faq_electronic .owl-nav .owl-prev:hover{
    background-color: #000000;
    color: #ffffff;
}
.faq_electronic .owl-nav .owl-prev{
    margin-right: 5px;
}
.faq_electronic .owl-nav .owl-prev:before{
    left: 6px;
}
.faq_electronic .owl-nav .owl-next:before{
    right: 6px;
}


.block_home_nine_7 .post_block_7 .post-thumbnail,
.block_home_nine_7 .post_block_7 .post-thumbnail .btn-viewmore,
.block_home_nine_7 .post_block_7 .post-item-content .post-meta,
.block_home_nine_7 .post_block_7 .post-item-content .post-readmore,
.block_home_nine_7 .post_block_7 .post-item-content .post-excerpt {
    display: none;
}
.block_home_nine_7 .post-item .post-item-content{
    text-align: left;
    padding: 0;
}
.block_home_nine_7 .post-item .post-item-content .post-title{
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: none;
}
.block_home_nine_7 .post_block_7 .post-item-content .post-title{
    margin: 0;
}
.block_home_nine_7 .post-item{
    margin: 0;
    padding: 8px 0 8px 15px;
    position: relative;
}
.block_home_nine_7 .post-item:hover .post-item-content .post-title{
    font-weight: bold;
}
.block_home_nine_7 .post-item:before{
    content: '\f0c8';
    font-family: fontawesome;
    position: absolute;
    left: 0;
    color: #000000;
    font-size: 8px;
}
.block_home_nine_7 .post_block_7 .col-lg-12:first-child .post-item:before{
    display: none;
}
.block_home_nine_7 .post_block_7 .col-lg-12:first-child .post-item .post-item-content .post-title{
    font-weight: bold;
    margin-top: -5px;
}
.block_home_nine_7 .post_block_7 .col-lg-12:first-child .post-item-content .post-excerpt{
    display: block;
    margin: 0;
    text-align: left;
}
.block_home_nine_7 .post_block_7 .col-lg-12:first-child .post-item-content{
    display: inline-block;
    margin-left: 32%;
}
.block_home_nine_7 .post_block_7 .col-lg-12:first-child .post-thumbnail{
    width: 27%;
    display: block;
    position: absolute;
}
.block_home_nine_7 .post_block_7 .col-lg-12:first-child .post-item{
    padding: 25px 0 20px;
    border-bottom: 1px solid #c3c3c3;
}
/*=====block_home_nine_8====*/
.block_home_nine_8 .ftr-wrap {
    transition: all 0.4s ease-in-out 0s;
}
.block_home_nine_8 .ftr-icn {
    border: 2px solid #999;
    border-radius: 50%;
    color: #999999;
    display: inline-block;
    font-size: 25px;
    height: 65px;
    line-height: 60px;
    text-align: center;
    transition: all 0.4s ease-in-out 0s;
    vertical-align: middle;
    width: 65px;
}
.block_home_nine_8 .ftr-icn:hover{
    background-color: red;
    color: #ffffff;
}
.block_home_nine_8 .ftr-cnt{
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
    width: calc(100% - 85px);
}
.block_home_nine_8 .ftr-cnt .title-2{
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 0;
    text-transform: uppercase;
}
.block_home_nine_8 .ftr-cnt > p{
    margin: 5px 0 0;
    letter-spacing: 0.5px;
}
/*=====block_home_nine_9====*/
/*=====block_home_nine_10====*/

/*================================== home_v10 ==================================*/
/*=====block_home_ten_1====*/
.block_home_ten_1{
    padding: 185px 0 100px;
    position: relative;
}
.text-after-about{
    text-transform: uppercase;
    font-size: 200px;
    color: #cccccc;
    position: absolute;
    left: -35px;
    top: 215px;
    opacity: 0.1;
}
.block_home_ten_1 .text_discover_after {
    display: none;
}
.btn_viewmore_home10{
    cursor: pointer;
    margin-top: 70px;
    padding: 10px 35px;
}
.btn3.btn_viewmore_home10:hover{
    background-color: transparent;
    color: #000000;
    border-color: #000000;
}
.btn_viewmore_home10 span span{
    border-left: 1px solid #000;
    margin-left: 30px;
    padding: 15px 0 18px 35px;
}
.line_block_ten_1{
    border-bottom: 1px solid #000000;
    width: 70px;
    margin-top: 70px;
}
.title-home-ten h2{
    color: #000000;
    font-size: 48px;
    margin: 0;
    text-transform: uppercase;
}
/*=====block_home_ten_2====*/
.block_home_ten_2{
    margin-bottom: 100px;
}
.block_home_ten_2 .video-content {
    height: 560px;
}
.block_home_ten_2 .video-content #video1 {
    padding: 0;
}
.block_home_ten_2 .video-text-wrap{
    top: 65%;
    left: 25%;
    width: 50%;
    text-align: left;
    height: 250px;
}
.block_home_ten_2 .video-text-wrap button.playvideo1{
    left: 50px;
    color: #000000;
}
.block_home_ten_2 .video-text-wrap .hipster{
    color: #000 !important;
    font-family: Oswald;
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 38px;
    margin-left: 150px;
}
.block_home_ten_2 .video-text-wrap button span {
    font-size: 14px;
    margin-left: 15px;
}
.video_ten_2{
    background-size: cover;
    background-position: 50%, 50%;
    min-height: 560px;
}
/*=====block_home_ten_3====*/
.block_home_ten_3{
    position: relative;
}
.text_product_ten_3 {
    color: #cccccc;
    font-size: 200px;
    left: 50%;
    opacity: 0.1;
    position: absolute;
    text-transform: uppercase;
    top: 160px;
    transform: translateX(-50%);
}
.block_home_ten_3 .arw-title h2 span span{
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    line-height: 46px;
}
.block_home_ten_3 .arw-sub-title{
    margin-bottom: 140px;
    text-transform: none;
}
.block_home_ten_3 .products-grid li.item > .wrapper-item{
    margin: 0 5px;
}
.block_home_ten_3 .products-grid li.item > .wrapper-item .product-info{
    text-align: center;
}
.block_home_ten_3 .products-grid li.item > .wrapper-item .product-info .product-name a span{
    font-size: 14px;
    font-weight: normal;
}
.block_home_ten_3 .slider-tab{
    display: none;
}
/*=====block_home_ten_4====*/
.block_home_ten_4{
    position: relative;
}
.text_product_ten_4 {
    color: #cccccc;
    font-size: 200px;
    left: 50%;
    opacity: 0.1;
    position: absolute;
    text-transform: uppercase;
    top: 57px;
    transform: translateX(-50%);
}
.block_home_ten_4 .arw-title h2 span span{
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    line-height: 46px;
}
.block_home_ten_4 .arw-sub-title{
    margin-bottom: 140px;
    text-transform: none;
}
.block_home_ten_4 .post-item .post-thumbnail{
    float: left;
    width: 40%;
    margin-right: 30px;
}
.block_home_ten_4 .post-item .post-item-content{
    float: left;
    width: 50%;
    text-align: left;
    padding: 0;
    position: relative;
}
.block_home_ten_4 .post-item .post-item-content .post-title{
    margin-top: 45px;
}
.block_home_ten_4 .post-item .post-item-content .post-readmore a{
    color: #cccccc;
    text-transform: uppercase;
}
.block_home_ten_4 .post-item .post-item-content .post-meta .post-date{
    position: absolute;
    top: 10px;
    left: 0;
}
.block_home_ten_4 .post-item .post-item-content .post-meta .post-date .media-meta{
    color: #cccccc !important;
    font-size: 36px;
}
.block_home_ten_4 .post-item .post-item-content .post-meta .post-date .media-meta .day_post{
    font-family: Oswald;
}
.block_home_ten_4 .post-item .post-item-content .post-meta .post-date .media-meta .mounth_post{
    font-size: 12px;
    margin-left: -10px;
    font-family: Oswald;
}
.block_home_ten_4 .post-item .post-item-content .post-meta .post-date .media-meta .year_post,
.block_home_ten_4 .post-item .post-thumbnail .btn-viewmore,
.block_home_ten_4 .post-item .post-item-content .post-excerpt,
.block_home_ten_4 .post-item .post-item-content .post-meta .post-by,
.block_home_ten_4 .post-item .post-item-content .post-meta .post-date .by{
    display: none;
}
/*=====block_home_ten_5====*/
.title_ten_10{
    color: #000;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.block_home_ten_5.block_home_ten_1 {
    padding: 95px 0 130px;
    position: relative;
}
.block_home_ten_5 .text-after-about{
    top: 133px;
    left: -45px;
}
/*=====block_home_ten_6====*/
/*=====block_home_ten_7====*/
/*=====block_home_ten_8====*/
/*=====block_home_ten_9====*/
/*=====block_home_ten_10====*/

