<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <h5 class="closing-text">Herzliche Gr&uuml;&szlig;e,<br />
            das Team von Deep Nature Project</h5>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
