<!--@subject Email - Support @-->
<p>
    Bei Fragen oder Anregungen melden Sie sich gerne bei uns. Entweder per E-Mail <a href="mailto:{{var store_email}}">{{var store_email}}</a> oder telefonisch unter <a href="tel:{{var phone}}">{{var store_phone}}</a>. Wir sind von Montag bis Freitag, von 8 bis 17 Uhr f&uuml;r Sie da. 
</p>