
<div class="page-title">
    <h1><?php echo $this->__('Downloads') ?></h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="box">
            <div class="box-title">
                <h3><?php echo $this->__('Price Lists') ?></h3>
            </div>
            <div class="box-content">
            	<?php
                if (Mage::getSingleton('customer/session')->isLoggedIn()) {
                	$customerId = Mage::getSingleton('customer/session')->getId();
                    
                    /*
                    $groupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
                    $blockId = 'preislisten-b2b-' . $groupId;
                    */
                    
                    /* get wholesale customers who get -25% */                
                    $customers = Mage::getModel('customerpricerules/customerrules')->getCustomersForRule(11);
                    
                    if (in_array($customerId, $customers)) {
                    	$blockId = 'preislisten-b2b-old';
                    } else {
                    	$blockId = 'preislisten-b2b';
                    }
                    
                    if (Mage::getModel('cms/block')->load($blockId)->getIsActive()) {
                        echo $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml();
                    }
                }
                ?>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box <?php echo $blockId; ?>">
            <div class="box-title">
                <h3><?php echo $this->__('Publicity Material') ?></h3>
            </div>
            <div class="box-content">
            	<?php
            	echo $this->getLayout()->createBlock('cms/block')->setBlockId('werbematerial-b2b')->toHtml();
                ?>
            </div>
        </div>
    </div>
    <?php
    if (Mage::getSingleton('customer/session')->isLoggedIn()) {
    	$websiteID = Mage::app()->getWebsite()->getId();
        
    	#$cloudURL = "https://medicloud.easyit.at/index.php/s/j87h3y4rSkoA1Hv";
    	#$cloudURL = "https://medicloud.easyit.at/index.php/s/5oQFSuCn1bPJ208";
        
        // Brian bekommt eigenen Cloud-Ordner
		if ($websiteID == 6) {
        ?>
            <div class="col-sm-12">
                <div class="box oc-holder">
                    <div class="box-title">
                        <h3><?php echo $this->__('Certificates of Analysis') ?></h3>
                    </div>
                    <div class="box-content">
                        <p><a class="btn-cloud" href="https://medicloud.easyit.at/index.php/s/sV2NopNVad2DYtZ" data-toggle="modal" data-target="#cloudModal">Bio CBD Olijfolie</a></p>
                        <p><a class="btn-cloud" href="https://medicloud.easyit.at/index.php/s/rUd5mTw2ANMoxve" data-toggle="modal" data-target="#cloudModal">Bio CBD Puur</a></p>
                        <p><a class="btn-cloud" href="https://medicloud.easyit.at/index.php/s/wellizjOX6QvJ38" data-toggle="modal" data-target="#cloudModal">Bio CBD Raw</a></p>
                        <p><a class="btn-cloud" href="https://medicloud.easyit.at/index.php/s/3iFjBo7NfB8hucj" data-toggle="modal" data-target="#cloudModal">Bio CBG Raw</a></p>
                    	<p><a class="btn-cloud" href="https://medicloud.easyit.at/index.php/s/U1WLjrWDL27ilMC" data-toggle="modal" data-target="#cloudModal">Hennep Voeding</a></p>
                    </div>
                </div>
            </div>   
        <?php
		} else {
        ?>
            <div class="col-sm-12">
                <div class="box oc-holder">
                    <div class="box-title">
                        <h3><?php echo $this->__('Certificates of Analysis') ?></h3>
                    </div>
                    <div class="box-content">
                    	<p><a class="btn-cloud" href="https://medicloud.easyit.at/index.php/s/vGz3jxhWk2adHnk" data-toggle="modal" data-target="#cloudModal">Organic Hemp Complete</a></p>
                    	<p><a class="btn-cloud" href="https://medicloud.easyit.at/index.php/s/Uor9czEX5FzpTPs" data-toggle="modal" data-target="#cloudModal">Organic Hemp Essence</a></p>
                    	<p><a class="btn-cloud" href="https://medicloud.easyit.at/index.php/s/8g3a83ltPv3cxaR" data-toggle="modal" data-target="#cloudModal">Organic Hemp Pure</a></p>
                    	<p><a class="btn-cloud" href="https://medicloud.easyit.at/index.php/s/l8XMuTEAWRVP2Se" data-toggle="modal" data-target="#cloudModal">Organic Hemp Food</a></p>
                    </div>
                </div>
            </div>   
        <?php
        }
	}
    ?>
</div>