
<div class="page-title">
    <h1><?php echo $this->__('Partner Infos') ?></h1>
</div>

<?php
if (Mage::getSingleton('customer/session')->isLoggedIn()) {
	echo $this->getLayout()->createBlock('cms/block')->setBlockId('partnerinfos')->toHtml();
}
?>