<?php #echo $this->getOrder()->getPayment()->getMethodInstance()->getTitle(); ?>

<?php
$paymentBlock = Mage::helper('payment')->getInfoBlock($this->getOrder()->getPayment())->setIsSecureMode(true);
$paymentBlock->getMethod()->setStore($this->getOrder()->getStoreId());
$paymentBlockHtml = $paymentBlock->toHtml();
$paymentCode = $this->getOrder()->getPayment()->getMethodInstance()->getCode();
$invoiceInfo = "";

if ($paymentCode == "invoice") {
	$invoiceInfo = $this->__('After receipt of your order in our system you will receive your invoice with the account information by email.');
}
?>

<p><?php echo $paymentBlockHtml; ?></p>
<p><?php echo $invoiceInfo; ?></p>
