<?php $_categories = Mage::helper('catalog/category')->getStoreCategories() ?>
<?php if(count($_categories)): 
    ?>
<div class="navleft-container">
	<?php if(Mage::getStoreConfig('vmegamenu/general/title')){?>
			<div class="megamenu-title"><h2><?php echo Mage::getStoreConfig('vmegamenu/general/title'); ?><span class="fa fa-bars"></span></h2></div>
		<?php }?>
    <div id="pt_vmegamenu" class="pt_vmegamenu">
        
        <?php
        $showhome = Mage::getStoreConfig('vmegamenu/general/showhome');
        $active = '';
        if(Mage::getSingleton('cms/page')->getIdentifier() == 'home'  && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') :
            $active = ' act';
        endif; 
        if($showhome){
            $id     = "_home";
            $html[] = '<div id="pt_menu' . $id . '" class="pt_menu' . $active . '" >';
            $html[] = '<div class="parentMenu">';
            $html[] = '<a href="'.Mage::helper('core/url')->getHomeUrl().'">';
            $html[] = '<span>'.$this->__('Home').'</span>';
            $html[] = '</a>';
            $html[] = '</div>';
            $html[] = '<div class="wrap-popup"><div id="popup' . $id . '" class="popup" >';
            $html[] = '</div>';
            $html[] = '</div>';
            $html[] = '</div>';
            $html = implode("\n", $html);
            echo $html;
        }
	$n = 0;
	foreach ($_categories as $_category):
	$n++;
	endforeach;
	//echo $n;
	
	$i=1;
	$total = count($_categories);
	
        foreach ($_categories as $_category):
	    $class='';
	    if($i==1) $class="first";
	    else if($i==$n) $class="last";
	    echo $this->drawCustomMenuItem($_category,0, false, $class);
	    $i++;
        endforeach ?>
        
        
        <div class="clearBoth"></div>
    </div>
</div>
<script type="text/javascript">

var VMEGAMENU_POPUP_EFFECT = <?php echo (int)Mage::getStoreConfig('vmegamenu/popup/effect')?>;

jQuery(document).ready(function(){
    jQuery("#pt_menu_link ul li").each(function(){
        var url = document.URL;
        jQuery("#pt_menu_link ul li a").removeClass("act");
        jQuery('#pt_menu_link ul li a[href="'+url+'"]').addClass('act');
    }); 
        
    /*jQuery('.pt_menu').hover(function(){
        if(VMEGAMENU_POPUP_EFFECT == 0) jQuery(this).find('.popup').stop(true,true).slideDown('slow');
        if(VMEGAMENU_POPUP_EFFECT == 1) jQuery(this).find('.popup').stop(true,true).fadeIn('slow');
        if(VMEGAMENU_POPUP_EFFECT == 2) jQuery(this).find('.popup').stop(true,true).show('slow');
    },function(){
        if(VMEGAMENU_POPUP_EFFECT == 0) jQuery(this).find('.popup').stop(true,true).slideUp('fast');
        if(VMEGAMENU_POPUP_EFFECT == 1) jQuery(this).find('.popup').stop(true,true).fadeOut('fast');
        if(VMEGAMENU_POPUP_EFFECT == 2) jQuery(this).find('.popup').stop(true,true).hide('fast');
    })*/
    jQuery('.pt_menu').ready(function(){
        if(jQuery(this).find('.popup').is(':hidden')){
            jQuery(this).find('.popup').css('left','50px');
        }else{
            jQuery(this).find('.popup').css('left','0px');
        }
        jQuery('.pt_menu').mouseover(function(){
            jQuery(this).find('.popup').css('left','0px');
            jQuery(this).find('.popup').css('opacity','1');
        });
        jQuery(".pt_menu").mouseleave(function() {
            jQuery(this).find('.popup').css('left','50px');
            jQuery(this).find('.popup').css('opacity','0.5');
        });
    });

    jQuery('.pt_vmegamenu').ready(function(){
        jQuery('.pt_menu').each(function(){
            if(jQuery(this).find('.column').hasClass('first')){
                jQuery(this).find('.popup').addClass('havesub');
            }
        });
    });
});
</script>

<?php endif ?>
