<!--@subject Ihr Konto wurde aktiviert, {{var customer.getName()}} @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Hallo {{var customer.name}},</h1>
            <p>Ihr Konto wurde aktiviert. Sie können sich nun in unserem Webshop <a href="{{store url="customer/account/"}}">einloggen</a> und Ihre Bestellungen schnell und sicher abwickeln.</p>
            <p>Sollten Sie Fragen zu Ihrem Kundenkonto haben, melden Sie sich gerne bei uns. Entweder per E-Mail <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> oder telefonisch unter <a href="tel:{{config path='general/store_information/phone'}}">{{config path='general/store_information/phone'}}</a>. Wir sind von Montag bis Freitag, von 8 bis 17 Uhr für Sie da. </p>
            <p>Wir freuen uns auf eine gute Zusammenarbeit!</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
