<?php foreach ($this->getWidgets() as $widget) : ?>
		<div class="<?php echo $this->escapeHtml($widget['checkoutName']) ?>-widget oppcw-external-checkout-widget">
			<?=$widget['html']?>
		</div>
	</li>
	<li>
<?php endforeach; ?>