<div class="block block-cart">
    <?php $_cartQty = $this->getSummaryCount() ?>
    <?php
    $_itemQty = Mage::helper('checkout/cart')->getCart()->getItemsCount();
    ?>
    <div class="block-content">
        <?php $_items = $this->getRecentItems() ?>
        <?php if(count($_items)): ?>
            <ol id="cart-sidebar" class="mini-products-list">
                <?php foreach($_items as $_item): ?>
                    <?php echo $this->getItemHtml($_item) ?>
                <?php endforeach; ?>
                <?php
                $more = $_itemQty - count($_items);
                
                if ($more > 0) {
                    if ($more == 1) {
                ?>
                    <li class="item more-items">
                        <?php echo $this->__('%s item more', $more); ?>
                    </li>
                <?php
                    } else {
                ?>
                    <li class="item more-items">
                        <?php echo $this->__('%s items more', $more); ?>
                    </li>
                <?php
                    }
                }
                ?>
            </ol>
            <p class="subtotal hidden">
                <?php if ($this->canApplyMsrp()): ?>
                    <span class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
                <?php else: ?>
                    <span class="label"><?php echo $this->__('Subtotal:') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
                    <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
                        <br />(<?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
                    <?php endif; ?>
                <?php endif; ?>
            </p>
            <p>&nbsp;</p>
            <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
            <?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
                <div class="actions">
                    <button type="button" title="<?php echo $this->__('View Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getUrl('checkout/cart'); ?>')"><span><span><?php echo $this->__('View Cart') ?></span></span></button>
                    <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button btn-proceed-checkout" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
                </div>
            <?php endif ?>
        <?php else: ?>
            <p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
        <?php endif ?>
    </div>
</div>


