<?php
$storeId = Mage::app()->getStore()->getStoreId();
$_productCollection=$this->getProductCollection();
$r = $this->getFrontendHash();
$_helper = $this->helper('catalog/output');

?>

<h4 class="spb_heading">
	<span><?php echo $this->getWidgetTitle();?></span>
	<div class="heading-line"></div>
</h4>
<ul class="mini-list sale-products">
<?php $i=0; foreach ($_productCollection as $_product): ?>
	<li class="clearfix">
		<div class="item">
			<div class="item-product-image-box">
				<a href="<?php echo $_product->getProductUrl() ?>">
					<img alt="<?php echo $this->htmlEscape($_product->getName()) ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($thumb_width,$thumb_height); ?>">
				</a>
			</div>
			<div class="style-countdown">
				<div class="caption text-center">

					<?php
					$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice();
					$specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
					$specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
					$oldDate = "01/01/1970 00:00:00";
					$timenow = $this.date("y-m-d H:i:s");
					$begintime = strtotime($specialPriceFromDate, $oldDate);
					$endtime = strtotime($specialPriceToDate, $oldDate);
					$calctimenow = strtotime($timenow, $oldDate);
					$thistime =  abs(($endtime - $begintime)-abs($begintime-$calctimenow));
					?>
					<div class="calccountdown">
						<script>
							var myCountdownTest = new Countdown({
								time: <?php echo $thistime  ?> ,
								width	: 230,
								height	: 50,
								rangeHi:"day"
							});
						</script>
					</div>

					<h4 class="product-name caption-title">
						<a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
					</h4>

					<div class="rating-product-box rating">
						<?php
						$_reviews = Mage::getModel('review/review')->getResourceCollection();
						$_reviews ->addStoreFilter( Mage::app()->getStore()->getId() )
								  ->addEntityFilter('product', $_product->getId())
								  ->addStatusFilter( Mage_Review_Model_Review::STATUS_APPROVED )
								  ->setDateOrder()
								  ->addRateVotes();

							$avg = 0;
							$ratings = array();
							if (count($_reviews) > 0){
							foreach ($_reviews->getItems() as $_review): ?>
							<?php foreach( $_review->getRatingVotes() as $_vote ): ?>
									<?php $ratings[] = $_vote->getPercent();   ?>
								<?php endforeach; ?>
							<?php endforeach;
							$avg = array_sum($ratings)/count($ratings);
							?>

							<div class="rating-box">
							  <div class="rating" style="width: <?php echo ceil($avg) ; ?>%;"></div>
							</div>
						<?php }?>
					</div>

					<?php echo $this->getPriceHtml($_product, true) ?>
					<div class="discover_now" style="float:left; margin-top: 50px"><a href="<?php echo $_product->getProductUrl() ?>" class="btn3">discver now</a></div>
				</div>
			</div>
		</div>
	</li>
<?php endforeach; ?>
</ul>

<script type="text/javascript">

	jQuery(document).ready(function($) {
		jQuery(".sale-products").owlCarousel({
			items : <?php echo $this->getShowItems()?>, //10 items above 1920px browser width
			itemsDesktop : [1200,<?php echo $this->getShowItemsDesktop()?>], //5 items between 1200px and 1025px
			itemsDesktopSmall : [1024,<?php echo $this->getShowItemsDesktopSmall()?>], // 3 items betweem 1024px and 769px
			itemsTablet : [768,<?php echo $this->getShowItemsTablet()?>], //2 items between 768 and 601;
			itemsMobile : [480,<?php echo $this->getShowItemsMobile()?>], //1 items between 600;
			navigation : false,
			navigationText : ["<i class=\"fa fa-angle-left\"></i>","<i class=\"fa fa-angle-right\"></i>"],
			slideSpeed : 500,
			pagination : true
		});
	});

</script>






