<?php 
	$storeId = Mage::app()->getStore()->getStoreId();
	$sale = false;
	$new_label = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/new_product_label', $storeId);
	$new_position = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/new_product_label_position', $storeId);
	$sale_label = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/sale_product_label', $storeId);
	$sale_position = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/sale_product_label_position', $storeId);
	if ($sale_label)
	{
		$specialPrice = number_format($_product->getFinalPrice(), 2);
		$regularPrice = number_format($_product->getPrice(), 2);
		if ($specialPrice != $regularPrice){
	       	$sale = true;
		}
	}
    
	$new = false;
	if ($new_label)
	{
        $now = date("Y-m-d H:m:s");   
        $newFromDate = $_product->getNewsFromDate();
        $newToDate = $_product->getNewsToDate();                                               
        if($newFromDate < $now && $newToDate > $now){
            $new = true;
        }
	}
    
    if($new){
        ?>
            <div class="novaworks-product-badge novaworks-new-badge"><?php echo $this->__('New') ?><div class="triangle-top-left"></div><div class="triangle-bottom-left"></div></div>
            
        <?php
    }
	if($_product->isSaleable()) {    
	    if($sale){
	        ?>
	            <div class="novaworks-product-badge novaworks-sale-badge"><?php echo $this->__('Sale') ?><div class="triangle-top-left"></div><div class="triangle-bottom-left"></div></div>
	        <?php
	    }
	 }else {
	 ?>
		 <div class="novaworks-product-badge-outstock novaworks-out-stock-badge"><?php echo $this->__('Out of stock') ?></div>
<?php
	 }   
?>