<?php
$storeId = Mage::app()->getStore()->getStoreId();
$ajax_cart		 			= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/ajax_cart', $storeId);
$image_product_hover 		= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/image_product_hover', $storeId);
$rating_wishlist_compare	= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/rating_wishlist_compare', $storeId);
$quick_view	 			= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/ajax_quickview', $storeId);
$thumb_width 				=  Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/standard_image_width', $storeId);
$thumb_height 				= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/standard_image_height', $storeId);
$_productCollection=$this->getProductCollection();
$r = $this->getFrontendHash();
$_helper = $this->helper('catalog/output');

?>
<div class="products-detail">
	<h4 class="spb_heading">
		<span><?php echo $this->getWidgetTitle();?></span>
	</h4>
	<div class="products-item-detail">
		<?php $i=0; foreach ($_productCollection as $_product): ?>
			<?php
				$oType = false;
				$product = Mage::getModel('catalog/product');
				$product->load($_product->getId());
				foreach ($product->getOptions() as $o) {
					$optionType = $o->getType();
					if ($optionType == 'file') {
						$oType = true;
					}
				}

				$cats = $product->getCategoryIds();
				$_cat = Mage::getModel('catalog/category')->load($cats[0]);
			?>
		<div class="item">
			<div class="item-product-image-box">
				<?php include('labels.phtml')  ?>
				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
					<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(263,309); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
				</a>
				<div class="product-hover-box">
					<a class="detail_view" href="<?php echo $_product->getProductUrl() ?>"></a>

					<div class="quick-view hidden-xs">
						<?php if($quick_view): ?>
						<a class="act-quickview-button" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$_product->getId()));?>" data-id="<?php echo $_product->getId()?>">
							<span class="icon-view">
								<strong>
									<i class="fa fa-eye fa-2x"></i>
								</strong>
							</span>
						</a>
						<?php endif;?>
					</div>
				</div>
			</div>
			<h4 class="product-name">
				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
			</h4>
			<div class="rating-product-box">
				<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
			</div>

			<?php echo $this->getPriceHtml($_product, true) ?>

			<?php if ($_product->getShortDescription()):?>
				<div class="short-description">
					<div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
				</div>
			<?php endif;?>
		</div>
	<?php endforeach; ?>
	</div>
</div>


<script type="text/javascript">
	jQuery(document).ready(function($) {
		jQuery(".products-detail .products-item-detail").owlCarousel({
			items : 1, //10 items above 1000px browser width;
			itemsDesktop : [1024,1], //6 items between 1024px and 901px;
			itemsDesktopSmall : [900,1], // 3 items betweem 900px and 601px;
			itemsTablet: [600,1], //2 items between 600 and 0;
			itemsMobile : [480,1], //1 items between 600 and 0;
			navigation : true,
			navigationText : [""],
			pagination : true
		});
	});
</script>

