<?php
$storeId = Mage::app()->getStore()->getStoreId();
$ajax_cart		 				= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/ajax_cart', $storeId); 
$image_product_hover 			= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/image_product_hover', $storeId);
$rating_wishlist_compare	 	= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/rating_wishlist_compare', $storeId); 
$quick_view	 					= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/ajax_quickview', $storeId); 
$detail_view	 				= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/act_detailview', $storeId); 
$thumb_width 					= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/standard_image_width', $storeId);
$thumb_height 					= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/standard_image_height', $storeId);
$_productCollection=$this->getProductCollection();
$r = $this->getFrontendHash();
$_helper = $this->helper('catalog/output');
$_total = count($_productCollection);

$get_effect = isset($_GET['effect']) ? intval($_GET['effect']) : 0;
if($get_effect) {
	$product_hover_effect = $get_effect;
}else{
	 $product_hover_effect = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/product_hover_effect', $storeId);	
}
$slider_styles = $this->getSliderStyles();
$enable_subtitle = $this->getEnableSubtitle();
$line_styles_title = $this->getLineStylesTitle();
$line_styles_subtitle = $this->getLineStylesSubtitle();
$styles_sale_lables = $this->getStylesSaleLables();
?>
<div class="slider-items-products slider-style-<?php echo $slider_styles; ?> nova-widget-style-<?php echo $this->getWidgetStyle()?>">	
	<h4 class="spb_heading">
		<span><?php echo $this->getWidgetTitle();?></span>
	</h4>
	<div class="line_styles_<?php echo $line_styles_title; ?>"></div>
	<div class="product_sub_title on_off_<?php echo $enable_subtitle; ?>">
		<h2 class="title"><?php echo $this->getWidgetSubTitle();?></h2>
	</div>
	<div class="line_styles_<?php echo $line_styles_subtitle; ?>"></div>
	<div id="novaworks_slider_<?php echo $r;?>" class="product-flexslider">
		<div class="slider-items-nova slider-width-col<?php echo $this->getShowItems()?>">	
			<?php $i=0; foreach ($_productCollection as $_product): ?>
	            <?php
		            
	                $oType = false;
	                $product = Mage::getModel('catalog/product');
	                $product->load($_product->getId());
	                foreach ($product->getOptions() as $o) {
	                    $optionType = $o->getType();
	                    if ($optionType == 'file') {
	                        $oType = true;
	                    }
	                }
	            ?>	
	            	
		   		<!-- Item -->
				<?php if($slider_styles == 1) { ?>
		   		<div class="item grid">
			   		<div class="item-product-image-box effect-bubba">
						<div class="lables_style_<?php echo $styles_sale_lables; ?>"><?php include('labels.phtml')  ?> </div>
						<a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
							<img id="product-collection-image-<?php echo $_product->getId(); ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($thumb_width,$thumb_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />					               
			            </a>
						<div class="product-hover-box">
							<a class="detail_view" href="<?php echo $_product->getProductUrl() ?>"></a>
							
				            <div class="quick-view">
					            <?php if($quick_view): ?>
								<a class="act-quickview-button" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$_product->getId()));?>" data-id="<?php echo $_product->getId()?>">
									<span class="icon-view">
										Quick view
									</span>
								</a>  				
								<?php endif;?>

                                <?php if($this->getShowQuickAct()) { ?>
                                    <div class="novaworks-quick-act">
                                        <?php if($rating_wishlist_compare):?>
                                            

											<?php if ($this->helper('wishlist')->isAllow()) : ?>
												<a class="act-add-to-wishlist button-ajax-wishlist-id-<?php echo $_product->getId()?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" data-id="<?php echo $_product->getId()?>" title="<?php echo $this->__('Wishlist')?>"><i class="fa fa-heart-o"></i></a>
											<?php endif; ?>


											<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
												<a class="act-add-to-compare button-ajax-compare-id-<?php echo $_product->getId()?>" href="<?php echo $_compareUrl ?>" data-id="<?php echo $_product->getId()?>" title="<?php echo $this->__('Compare')?>"><i class="fa fa-retweet"></i></a>
											<?php endif; ?>


											<?php if($_product->isSaleable()): ?>
												<?php if($ajax_cart):?>
													<?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ): ?>
														<a class="add_to_cart_small button-ajax-cart-id-<?php echo $_product->getId()?>" onclick="ajaxcart('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId()?>');"><?php echo $this->__('Add to Cart')?></a>
													<?php else:?>
														<a class="add_to_cart_small ajaxcart_colorbox" href="<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>"><?php echo $this->__('Add to Cart')?></a>
													<?php endif; ?>
												<?php else:?>
													<a class="add_to_cart_small" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><?php echo $this->__('Add to Cart')?></a>
												<?php endif; ?>
											<?php endif; //end for saleable product ?>

                                        <?php endif; ?>
                                    </div>
                                <?php }?>

				            </div>								
						</div>			
					</div>
					
			        <h3 class="product-name">
				        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
				    </h3>
				    <div class="rating-product-box">
		            	<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
					</div>
					<?php echo $this->getPriceHtml($_product, true) ?>
		

			    </div>
			    
			    <?php }elseif($slider_styles == 2) { ?>
			    <?php if($i==0): ?>
					<div class="item-wrapper">
					<?php
						endif;
				    ?>
			   		<div class="item grid">
				   		<div class="item-product-image-box effect-bubba">
							<div class="lables_style_<?php echo $styles_sale_lables; ?>"><?php include('labels.phtml')  ?> </div>
							<a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
								<img id="product-collection-image-<?php echo $_product->getId(); ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($thumb_width,$thumb_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />					               
				            </a>				           			
						</div>
						<div class="item-product-novaworks">
					        <h3 class="product-name">
						        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
						    </h3>
						    <div class="rating-product-box">
				            	<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
							</div>
							<?php echo $this->getPriceHtml($_product, true) ?>
				
							<?php if($this->getShowQuickAct()) { ?>
								<div class="novaworks-quick-act">														
									<?php if($rating_wishlist_compare):?>	
										<div class="quick-act-right">	
					
											<?php if ($this->helper('wishlist')->isAllow()) : ?>
												<a class="btn-theme act-add-to-wishlist button-ajax-wishlist-id-<?php echo $_product->getId()?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" data-id="<?php echo $_product->getId()?>" title="<?php echo $this->__('Wishlist')?>" ><i class="fa fa-heart-o"></i></a> 
											<?php endif; ?> 
																																									
											<?php if($_product->isSaleable()): ?>
												<?php if($ajax_cart):?> 	
													<?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ): ?>
														<a class="btn-theme add_to_cart_small button-ajax-cart-id-<?php echo $_product->getId()?>" onclick="ajaxcart('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId()?>');"><i class="fa fa-shopping-cart"></i><?php echo $this->__('')?></a> 
													<?php else:?>		
														<a class="btn-theme add_to_cart_small ajaxcart_colorbox" href="<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>"><i class="fa fa-shopping-cart"></i><?php echo $this->__('')?></a> 
													<?php endif; ?> 
													<?php else:?>
														<a class="btn-theme add_to_cart_small" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><i class="fa fa-shopping-cart"></i><?php echo $this->__('')?></a> 
													<?php endif; ?>
											<?php endif; //end for saleable product ?>
											
											<?php if($quick_view): ?>
											<a class="btn-theme act-quickview-button" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$_product->getId()));?>" data-id="<?php echo $_product->getId()?>"><i class="fa fa-eye"></i></a>  				
											<?php endif;?>
											
											<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
												<a class="btn-theme act-add-to-compare button-ajax-compare-id-<?php echo $_product->getId()?>" href="<?php echo $_compareUrl ?>" data-id="<?php echo $_product->getId()?>" title="<?php echo $this->__('Compare')?>"><i class="fa fa-retweet"></i></a> 
											<?php endif; ?>
											
										</div>
									<?php endif; ?> 									
								</div>
							<?php } ?>
						</div>					
				    </div>
				    <?php
					    $i++;
					    if($i%2==0 && $i!=$_total):
					?>
					</div>
					<div class="item-wrapper">
				<?php endif; ?>
				
			    <?php if($i==_total):?>
			    	</div>
			    <?php endif; ?>
			    
			    <?php }elseif($slider_styles == 3) { ?>
		   		<div class="item grid">
			   		<div class="item-product-image-box effect-bubba">
						<div class="lables_style_<?php echo $styles_sale_lables; ?>"><?php include('labels.phtml')  ?> </div>
			            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
			            	<?php 
			                if($image_product_hover) { ?>
			                <div class="front margin-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($thumb_width,$thumb_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></div>
			                <?php
				                 $_gallery = Mage::getModel('catalog/product') -> load($_product -> getId()) -> getMediaGalleryImages();
				                 foreach ($_gallery as $_image ):
			                 ?>
			                 <div class="back product-img-additional margin-image">
			                 	<img src="<?php echo $this -> helper('catalog/image') -> init($_product, 'thumbnail', $_image -> getFile()) -> resize($thumb_width, $thumb_height);?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>
			                 </div>
			                 <?php
									break;
									endforeach;
							?>
							<?php } else { ?>
								<div class="margin-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($thumb_width,$thumb_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
							 	</div>
							<?php } ?>			               
			            </a>
			            <!-- <div class="product-intification-box"><i class="fa fa-circle-o-notch fa-spin"></i></div> -->
	
			            <div class="product-hover-box">	
				            <a class="detail_view" href="<?php echo $_product->getProductUrl() ?>"></a>		            	
				            <div class="novaworks-quick-act">									
								<?php if($rating_wishlist_compare):?>		
				
									<?php if ($this->helper('wishlist')->isAllow()) : ?>
										<a class="act-wishlist act-add-to-wishlist button-ajax-wishlist-id-<?php echo $_product->getId()?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" data-id="<?php echo $_product->getId()?>" title="<?php echo $this->__('Wishlist')?>"><i class="fa fa-heart-o"></i>
			</a> 
									<?php endif; ?> 

									
									<?php if($quick_view): ?>
											<a class="act-quickview" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$_product->getId()));?>" data-id="<?php echo $_product->getId()?>"><?php echo $this->__('Quick view')?></a>
									<?php endif;?>
													
									<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
										<a class="act-compare act-add-to-compare button-ajax-compare-id-<?php echo $_product->getId()?>" href="<?php echo $_compareUrl ?>" data-id="<?php echo $_product->getId()?>" title="<?php echo $this->__('Compare')?>"><i class="fa fa-retweet"></i>
			</a> 
									<?php endif; ?>
								<?php endif; ?>
																																			
							</div>
							
			            </div>
				    </div>
			        <h3 class="product-name">
				        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
				    </h3>
			    	<div class="rating-product">
			            <div class="rating-product-box">
				            <?php
		                    $_reviews = Mage::getModel('review/review')->getResourceCollection();              
		                      $_reviews->addStoreFilter( Mage::app()->getStore()->getId() )  
		                                ->addEntityFilter('product', $_product->getId())
		                              ->addStatusFilter( Mage_Review_Model_Review::STATUS_APPROVED )  
		                              ->setDateOrder()  
		                              ->addRateVotes(); 
	                    
	                            $avg = 0; 
	                            $ratings = array(); 
	                            if (count($_reviews) > 0){
	                            foreach ($_reviews->getItems() as $_review): ?>
	                            <?php foreach( $_review->getRatingVotes() as $_vote ): ?>
	                                    <?php $ratings[] = $_vote->getPercent();   ?>
	                                <?php endforeach; ?>
	                            <?php endforeach;   
	                            $avg = array_sum($ratings)/count($ratings); 
	                            ?> 
	                     
	                    <div class="rating-box">  
	                      <div class="rating" style="width: <?php echo ceil($avg) ; ?>%;"></div>  
	                    </div>					
	                    <?php }?>
	                    </div>	        	
	                </div>
					<?php echo $this->getPriceHtml($_product, true) ?>

					<div class="novaworks-quick-act">
						<?php if($rating_wishlist_compare):?>

							<?php if($_product->isSaleable()): ?>
								<?php if($ajax_cart):?>
									<?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ): ?>
										<a class="ajaxcart_simple add_to_cart_small button-ajax-cart-id-<?php echo $_product->getId()?>" data-product-name="<?php echo $this->htmlEscape($_product->getName()) ?>" onclick="ajaxcart('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId()?>');"><?php echo $this->__('Add To Cart')?></a>
									<?php else:?>
										<a class="ajaxcart_colorbox add_to_cart_small" href="<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>"><?php echo $this->__('Add To Cart')?></a>
									<?php endif; ?>
								<?php else:?>
									<a class="ajaxcart_colorbox add_to_cart_small" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><?php echo $this->__('Add To Cart')?></a>
								<?php endif; ?>
							<?php endif; //end for saleable product ?>

						<?php endif; ?>

					</div>
						
			    </div>
			    <?php } ?>
			    <!-- End Item -->
			    		    
	
			<?php endforeach; ?>
		</div>
	</div>
</div>
<script type="text/javascript">

	jQuery(document).ready(function($) {
		jQuery("#novaworks_slider_<?php echo $r;?> .slider-items-nova").owlCarousel({
			items : <?php echo $this->getShowItems()?>, //10 items above 1920px browser width
	    	itemsDesktop : [1200,<?php echo $this->getShowItemsDesktop()?>], //5 items between 1200px and 1025px
	      	itemsDesktopSmall : [1024,<?php echo $this->getShowItemsDesktopSmall()?>], // 3 items betweem 1024px and 769px
	      	itemsTablet : [768,<?php echo $this->getShowItemsTablet()?>], //2 items between 768 and 601;
	      	itemsMobile : [480,<?php echo $this->getShowItemsMobile()?>], //1 items between 600;
	      	navigation : true,
			navigationText : ["<i class=\"fa fa-angle-left\"></i>","<i class=\"fa fa-angle-right\"></i>"],
	      	slideSpeed : 500,
	      	pagination : false
    	});
	}); 

</script>






