<?php
$storeId = Mage::app()->getStore()->getStoreId();
$ajax_cart		 		= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/ajax_cart', $storeId); 
$image_product_hover 	= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/image_product_hover', $storeId);
$rating_wishlist_compare	 			= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/rating_wishlist_compare', $storeId); 
$quick_view	 			= Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/ajax_quickview', $storeId);  
$thumb_width =  Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/standard_image_width', $storeId);
$thumb_height = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/standard_image_height', $storeId);
$_productCollection=$this->getProductCollection();
$r = $this->getFrontendHash();
$_helper = $this->helper('catalog/output');

?>

<h4 class="spb_heading">
	<span><?php echo $this->getWidgetTitle();?></span>
	<div class="heading-line"></div>
</h4>
<ul class="mini-list top-products">
<?php $i=0; foreach ($_productCollection as $_product): ?>
	<li class="clearfix">
		<div class="row item">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-product-image-box">				
				<a href="<?php echo $_product->getProductUrl() ?>">
					<img alt="<?php echo $this->htmlEscape($_product->getName()) ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($thumb_width,$thumb_height); ?>">
				</a>
				<div class="product-hover-box">
					<a class="detail_view" href="<?php echo $_product->getProductUrl() ?>"></a>
					
					<div class="quick-view hidden-xs">
						<?php if($quick_view): ?>
						<a class="act-quickview-button" href="<?php echo $this->getUrl('ajax/index/quickview',array('product_id'=>$_product->getId()));?>" data-id="<?php echo $_product->getId()?>">
							<span class="icon-view">
								<strong>
									<i class="fa fa-eye fa-2x"></i>
								</strong>
							</span>
						</a>  				
						<?php endif;?>
					</div>					
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="caption text-center">
				<h4 class="product-name caption-title">
					<a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
				</h4>
				
		        <div class="rating-product-box rating">
		            <?php
		            $_reviews = Mage::getModel('review/review')->getResourceCollection();              
		            $_reviews ->addStoreFilter( Mage::app()->getStore()->getId() )  
		                      ->addEntityFilter('product', $_product->getId())
		                      ->addStatusFilter( Mage_Review_Model_Review::STATUS_APPROVED )  
		                      ->setDateOrder()  
		                      ->addRateVotes(); 
		        
		                $avg = 0; 
		                $ratings = array(); 
		                if (count($_reviews) > 0){
		                foreach ($_reviews->getItems() as $_review): ?>
		                <?php foreach( $_review->getRatingVotes() as $_vote ): ?>
		                        <?php $ratings[] = $_vote->getPercent();   ?>
		                    <?php endforeach; ?>
		                <?php endforeach;   
		                $avg = array_sum($ratings)/count($ratings); 
		                ?> 
		         
				        <div class="rating-box">  
				          <div class="rating" style="width: <?php echo ceil($avg) ; ?>%;"></div>  
				        </div>					
					<?php }?>
		        </div>
				
				<?php echo $this->getPriceHtml($_product, true) ?>
				
		        <div class="novaworks-quick-act">	
				
					<?php if($rating_wishlist_compare):?>		
	
						<?php if ($this->helper('wishlist')->isAllow()) : ?>
							<a title="<?php echo $this->__('Wishlist')?>" class="btn-theme act-wishlist act-add-to-wishlist button-ajax-wishlist-id-<?php echo $_product->getId()?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" data-id="<?php echo $_product->getId()?>"><i class="fa fa-heart-o"></i>
	</a> 
						<?php endif; ?> 
	
						
						<?php if($_product->isSaleable()): ?>
						<?php if($ajax_cart):?> 	
							<?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ): ?>
								<a class="btn-theme ajaxcart_simple add_to_cart_small button-ajax-cart-id-<?php echo $_product->getId()?>" data-product-name="<?php echo $this->htmlEscape($_product->getName()) ?>" onclick="ajaxcart('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId()?>');"><i class="fa fa-shopping-cart"></i>Add to Cart</a> 
							<?php else:?>		
								<a class="btn-theme ajaxcart_colorbox add_to_cart_small" href="<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>"><i class="fa fa-shopping-cart"></i>Add to Cart</a> 
							<?php endif; ?> 
							<?php else:?>
								<a class="btn-theme ajaxcart_colorbox add_to_cart_small" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><i class="fa fa-shopping-cart"></i>Add to Cart</a> 
						<?php endif; ?>
						<?php endif; //end for saleable product ?>
						
						<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
							<a title="<?php echo $this->__('Compare')?>" class="btn-theme act-compare act-add-to-compare button-ajax-compare-id-<?php echo $_product->getId()?>" href="<?php echo $_compareUrl ?>" data-id="<?php echo $_product->getId()?>"><i class="fa fa-retweet"></i>
	</a> 
						<?php endif; ?>
					<?php endif; ?>
					
						
															
				</div>
			</div>
			</div>
		</div>
	</li>
<?php endforeach; ?>
</ul>			

<script type="text/javascript">
	jQuery(document).ready(function($) {
		jQuery(".top-products").owlCarousel({
			items : 1, //10 items above 1000px browser width;
			itemsDesktop : [1024,1], //6 items between 1024px and 901px;
			itemsDesktopSmall : [900,1], // 3 items betweem 900px and 601px;
			itemsTablet: [600,1], //2 items between 600 and 0;
			itemsMobile : [480,1], //1 items between 600 and 0;
			navigation : false, 
			navigationText : [""],
			pagination : true
		});
	}); 
</script>





