.webforms-results-block{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #cccccc;
	float:left;
	width:100%;
	clear:both;
}
.webforms-results-row{
	margin-bottom:5px;
	width:100%;
	clear:both;
	float:left;
}
.webforms-results-label{
	font-weight: bold;
	display:inline;
	float:left;
	margin-right: 5px;
}
.webforms-results-text{
	font-style: italic;
	clear:both;
}

/* Star rating */

.stars {
	padding:0 5px;
	width:80px;
	display: inline;
	float: left;
}

.stars-bar {
	list-style:none;
	margin: 0px;
	padding:0px !important;
	height: 16px;
	position: relative;
	background: url(results_stars.png) top left repeat-x;
}

.stars-bar li{
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
}

.stars-bar li.stars-value {
	background: url(results_stars.png) left bottom;
	position: absolute;
	height: 16px;
	display: block;
	z-index: 1;
}

.webforms-rating-summary {
    margin-bottom:15px;
}

/* Bubbles */
.webforms-bubbles {margin-top:1rem}

.webforms-bubbles .quote-right {
	position:relative;
	padding:10px 20px;
	margin:0;
	color:#fff;
	background:#075698; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background:-moz-linear-gradient(#2e88c4, #075698);
	background:-o-linear-gradient(#2e88c4, #075698);
	background:linear-gradient(#2e88c4, #075698);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.webforms-bubbles .quote-right p {margin:0;}
/* display of quote author (alternatively use a class on the element following the blockquote) */
.webforms-bubbles .quote-right + p {margin:5px 0 1em 45px; font-style:italic;}

/* creates the triangle */
.webforms-bubbles .quote-right:after {
	content:"";
	position:absolute;
	bottom:-20px;
	left:20px;
	border-width:0 20px 20px 0px;
	border-style:solid;
	border-color:transparent #075698;
	/* reduce the damage in FF3.0 */
	display:block;
	width:0;
}

.webforms-bubbles .quote-left {
	position:relative;
	padding:10px 20px;
	margin:0;
	color:#fff;
	background:#5a8f00; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
	background:-moz-linear-gradient(#b8db29, #5a8f00);
	background:-o-linear-gradient(#b8db29, #5a8f00);
	background:linear-gradient(#b8db29, #5a8f00);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.webforms-bubbles .quote-left p {margin:0; }
/* display of quote author (alternatively use a class on the element following the blockquote) */
.webforms-bubbles .quote-left + p {margin:5px 45px 1em 5px; font-style:italic; text-align:right;}

/* creates the triangle */
.webforms-bubbles .quote-left:after {
	content:"";
	position:absolute;
	bottom:-20px;
	right:20px;
	border-width:0px 0px 20px 20px;
	border-style:solid;
	border-color:transparent #5a8f00;
	/* reduce the damage in FF3.0 */
	display:block;
	width:0;
}