
/* ---------------------- SASS-OVERRIDES: dnp-styles.scss ---------------------- */

.btn2, .btn-primary, .quickview-index-view .product-img-box-slider .slick-prev, .quickview-index-view .product-img-box-slider .slick-next, .btn3, button, .button, input[type="button"], input[type="reset"], input[type="submit"], .btn {
	padding: 6px 35px;
}

#btn_control_totop .btn2 {
	padding: 10px 20px;
}

#customer-reviews #product-review-table .radio ~ label:before {
	content: "\f10c";
}

.qty-holder .arw-box-quantity {
	position: relative;
}
.arw-box-quantity .qty-minus,
.arw-box-quantity .qty-plus{
	background-color: #fff;
}
.arw-box-quantity .qty-minus{
	border-right: none !important;
}
.arw-box-quantity .qty-plus{
	border-left: none !important;
}
.arw-box-quantity .wrap{
	border: 1px solid;
}
.arw-box-quantity .qty-minus, .arw-box-quantity .qty-plus, .arw-box-quantity .qty {
	height: 48px;
}
.arw-box-quantity .qty-minus, .arw-box-quantity .qty-plus {
  border: none !important;
  font-size: 10px;
}
.arw-box-quantity .qty-minus i, .arw-box-quantity .qty-plus i{
  color: #272727;
}

.input-text.qty {
  max-width: 110px;
}

a.slider-nova {
  color: #fff !important;
}

.buttons-set {
	text-align: left; /* ??? */
}

.btn-remove2:before,
.btn-remove:before {
  content: "\f014";
}

.btn-edit:before {
  content: "\f044";
}

.col2-set .col-1 .content p {
  color: #999999;
}

.col2-set .col-1 {
  width: 35%;
  float: left;
  padding: 0 15px 15px;
}

.col2-set .col-2 {
  width: 65%;
}

.price-box .old-price .price {
  font-size: 14px !important;
  font-family: Oswald;
}

.product-shop .f-fix .price-box .old-price .price,
.product-shop .f-fix .price-box .special-price .price{
  font-size: 18px;
  letter-spacing: 2px;
  margin-right: 10px;
}

.rating-box:before, .rating-box .rating:before {
  content: "\f005\f005\f005\f005\f005";
}

.toolbar-bottom .toolbar .pages{
  display: block;
}

.toolbar-bottom .sorter,
.toolbar-bottom .amount,
.toolbar-bottom .limiter{
  display: none;
}

.toolbar-bottom .toolbar .pages ol {
  text-align: center;
}
.toolbar-bottom .toolbar .pages ol li.current strong,
.toolbar-bottom .toolbar .pages ol li a {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}
.toolbar-bottom .toolbar .pages ol li.current strong{
  border-bottom: 1px solid;
}
.toolbar .pages ol {
  text-align: center;
}

#login-form .content h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
}

.block-contact-form{
  margin-top: 50px;
}

.block-title strong {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.block-subtitle {
  text-transform: uppercase;
}

.block-layered-nav dt {
  border-bottom: 1px dashed;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

.block-layered-nav li + li {
	border-top: 0px; /* ??? */
}

.newsletter_style_1 {
  height: 130px;
  padding: 42px 0;
}

.newsletter_style_1 .block-subscribe {
  position: relative;
}

.newsletter_style_1 .block-subscribe .block-title {
  font-family: playfair display;
  font-size: 24px;
  font-style: italic;
  letter-spacing: 0px;
  padding: 5px 0;
  text-transform: capitalize;
  width: 22%;
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.newsletter_style_1 .block-subscribe .newsletter-validate-detail {
	float: none; /* ??? */
  left: 60%;
  max-width: 542px;
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 47%;
}

.newsletter_style_1 .block-subscribe .block-content {
  padding: 6px 0;
}

.newsletter_style_1 .block-subscribe .block-content .input-box .input-text {
  letter-spacing: 1px;
  font-size: 12px;
}

.newsletter_style_1 .block-subscribe .block-content .actions {
  top: 0;
  padding: 6px 0;
}

.newsletter_style_1 .block-subscribe .block-content .actions .button {
  font-size: 14px;
}

.arw_layout_global_top {
  overflow: hidden;
}

.arw-page-title.has-page-title {
  padding: 237px 0;
  border-top: 0px; /* ??? */
  border-bottom: 0px; /* ??? */
}

.color-white{
  font-weight: bold !important;
}

.arw-page-title .page-title h1, .arw-page-title .page-title h2 {
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: left;
  margin-left: 12px;
}

.arw-page-title .arw_breadcrumbs .breadcrumbs li a {
  font-size: 1em;
  font-weight: bold;
}

.arw-page-title .arw_breadcrumbs .breadcrumbs li strong {
  font-weight: bold;
}

.arw-product-labels .arw-product-label {
  border-color: transparent transparent red;
  border-width: 0 50px 50px;
  font-size: 12px;
  height: 50px;
  line-height: 70px;
  text-align: center;
  top: -14px;
  transform: rotate(45deg);
  width: 50px;
  
  /*
  ???
  
  height: 58px;
  line-height: 54px;
  width: 58px;
  font-size: .833em;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  */
}

.arw-product-labels .product-sale-label {
  right: -35px;
}
.arw-product-labels .product-sale-label span{
  position: relative;
  left: -14px;
  font-weight: bold;
}

.item.arw-col .arw-product-labels .product-sale-label {
  right: -35px;
}

.far_btn_headertop {
  float: right;
  margin-top: 12px;
}
.btn-headertop{
  font-size: 20px;
  cursor: pointer;
  padding: 15px 0 15px 15px;
}
.btn-headertop span{
  padding-top: 15px;
}
.header_home_2 .btn-headertop span{
  line-height: 45px;
}

.header-container .header-top .header-language ul li{
  float: none;
}

.nv-language{
  font-size: 10px;
  padding: 0px 20px;
  color: #fff;
}

.label-language{
  float: right;
}

.header-container .header-top .header-top-link .header-top-link-ul > li > span {
  padding: 8px 15px;
}

.header-container .header-top .header-top-link .header-top-link-ul .header-language{
  line-height: 41px;
  padding: 0 15px;
  position: relative;
}
.header-container .header-top .header-top-link .header-top-link-ul .header-language:before{
  content: '';
  border-left: 1px solid #999999;
  position: absolute;
  left: 0;
  width: 1px;
  height: 12px;
  top: 15px;
}
.header-container .header-top .header-top-link .header-top-link-ul .header-language:after{
  content: '';
  border-right: 1px solid #999999;
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  top: 15px;
}

.header-container .header-top .header-top-link .header-top-link-ul .header-dropdown-currency.current-benz{
  padding-left: 15px;
  line-height: 41px;
}

.header-container .header-top .header-top-link ul.links {
  right: -15px;
  left: auto; /* ??? */
}

.header-container .header-top .header-top-link ul.links li a {
  padding: 8px 20px;
}
.header-container .header-top .header-top-link ul.dropdown-current-benz li a{
  padding: 0 20px;
}

.header-container .header-quick-access {
  position: absolute;
  right: 0;
  top: 5px;
}
/* header style 1*/
.header-container.header_style_1 #header {
  padding: 2px 0;
}
.header-container.header_style_1 .header-wrapper {
  position: relative;
  min-height: 55px;
  display: block;
}
.header-container.header_style_1 .header-wrapper:before, .header-container.header_style_1 .header-wrapper:after {
  content: " ";
  display: table;
}
.header-container.header_style_1 .header-wrapper:after {
  clear: both;
}
.header-container.header_style_1 .header-logo {
  float: left;
  width: 25%;
  padding: 16px 0;
}

.header-container.header_style_1 .header-logo .logo {
  line-height: normal; /* ??? */
  padding-top: 0px; /* ??? */
}

.header-container.header_style_1 .header-logo .logo img {
  display: block;
}
.header-container.header_style_1 .nav-primary-container {
  float: left;
  width: 75%;
  position: static;
}
.header-container.header_style_1 .nav-primary-container .nav-container {
  text-align: right;
  margin-right: 130px;
}
.header-container.header_style_1 .nav-primary-container .megamenu {
  position: static;
}
.header-container.header_style_1 .text-shopcart{
  display: none;
}

/* header style 2*/
.header-container.header_style_2 #header {
  padding: 20px 0;
}

.header-container.header_style_2 .header-logo {
  padding: 16px 0;
}

.header-container.header_style_2 .nav-primary-container .nav-container {
  text-align: right;
  margin-right: 130px;
}

.header-container.header_style_2 .text-shopcart{
  display: none;
}
/* header style 3 */
.header-container.header_style_3 #header {
  padding: 45px 0;
}
.header-container.header_style_3 .header-wrapper {
  position: relative;
  min-height: 55px;
  display: block;
}
.header-container.header_style_3 .header-wrapper:before, .header-container.header_style_3 .header-wrapper:after {
  content: " ";
  display: table;
}
.header-container.header_style_3 .header-wrapper:after {
  clear: both;
}
.header-container.header_style_3 .header-logo {
  float: left;
  width: 25%;
  padding: 16px 0;
}
.header-container.header_style_3 .header-logo .logo {
  margin: 0;
}
.header-container.header_style_3 .header-logo .logo img {
  display: block;
}
.header-container.header_style_3 .nav-primary-container {
  float: left;
  width: 75%;
  position: static;
}
.header-container.header_style_3 .nav-primary-container .nav-container {
  text-align: right;
  margin-right: 130px;
}
.header-container.header_style_3 .nav-primary-container .megamenu {
  position: static;
}
.header-container.header_style_3 .text-shopcart{
  display: none;
}
/* header style 4*/
.header-container.header_style_4 #header {
  padding: 2px 0;
}
.header-container.header_style_4 .header-wrapper {
  position: relative;
  min-height: 55px;
  display: block;
}
.header-container.header_style_4 .header-wrapper:before, .header-container.header_style_4 .header-wrapper:after {
  content: " ";
  display: table;
}
.header-container.header_style_4 .header-wrapper:after {
  clear: both;
}
.header-container.header_style_4 .header-logo {
  float: left;
  width: 25%;
  padding: 13px 0;
}
.header-container.header_style_4 .header-logo .logo {
  margin: 0;
}
.header-container.header_style_4 .header-logo .logo img {
  display: block;
}
.header-container.header_style_4 .nav-primary-container {
  float: left;
  width: 75%;
  position: static;
}
.header-container.header_style_4 .nav-primary-container .nav-container {
  text-align: right;
  margin-right: 130px;
}
.header-container.header_style_4 .nav-primary-container .nav-container ul li{
  padding: 0 !important;
}
.header-container.header_style_4 .nav-primary-container .nav-container ul li a span{
  padding: 9px 0;
}
.header-container.header_style_4 .nav-primary-container .nav-container ul li.level0:hover a.level-top span,
.header-container.header_style_4 .nav-primary-container .nav-container ul li.level0.active a.level-top span{
  border-bottom: 2px solid;
}
.header-container.header_style_4 .nav-primary-container .megamenu {
  position: static;
}
.header-container.header_style_4 .text-shopcart{
  display: none;
}
/* style header 5 */
.header-container.header_style_5 #header {
  padding: 2px 0;
}
.header-container.header_style_5 .header-wrapper {
  position: relative;
  min-height: 55px;
  display: block;
}
.header-container.header_style_5 .header-wrapper:before, .header-container.header_style_5 .header-wrapper:after {
  content: " ";
  display: table;
}
.header-container.header_style_5 .header-wrapper:after {
  clear: both;
}
.header-container.header_style_5 .header-logo {
  float: left;
  width: 25%;
  padding: 13px 0;
}
.header-container.header_style_5 .header-logo .logo {
  margin: 0;
}
.header-container.header_style_5 .header-logo .logo img {
  display: block;
}
.header-container.header_style_5 .nav-primary-container {
  float: left;
  width: 75%;
  position: static;
}
.header-container.header_style_5 .nav-primary-container .nav-container {
  text-align: right;
  margin-right: 130px;
}
.header-container.header_style_5 .nav-primary-container .nav-container ul li{
  padding: 0 !important;
}
.header-container.header_style_5 .nav-primary-container .nav-container ul li a span{
  padding: 9px 0;
}
.header-container.header_style_5 .nav-primary-container .nav-container ul li.level0:hover a.level-top span,
.header-container.header_style_5 .nav-primary-container .nav-container ul li.level0.active a.level-top span{
  border-bottom: 2px solid;
}
.header-container.header_style_5 .nav-primary-container .megamenu {
  position: static;
}
.header-container.header_style_5 .text-shopcart{
  display: none;
}
/* style header 6 */
.header-container.header_style_6 #header {
  padding: 2px 0 0;
}
.header-container.header_style_6 .header-wrapper {
  position: relative;
  min-height: 55px;
  display: block;
}
.header-container.header_style_6 .header-wrapper:before, .header-container.header_style_6 .header-wrapper:after {
  content: " ";
  display: table;
}
.header-container.header_style_6 .header-wrapper:after {
  clear: both;
}
.header-container.header_style_6 .header-logo {
  float: left;
  width: 25%;
  padding: 13px 0;
}
.header-container.header_style_6 .header-logo .logo {
  margin: 0;
}
.header-container.header_style_6 .header-logo .logo img {
  display: block;
}
.header-container.header_style_6 .nav-primary-container {
  float: left;
  width: 75%;
  position: static;
}
.header-container.header_style_6 .nav-primary-container .nav-container {
  text-align: right;
  margin-right: 130px;
}
.header-container.header_style_6 .nav-primary-container .nav-container ul li{
  padding: 0 !important;
}
.header-container.header_style_6 .nav-primary-container .nav-container ul li a span{
  padding: 9px 0;
}
.header-container.header_style_6 .nav-primary-container .nav-container ul li.level0:hover a.level-top span,
.header-container.header_style_6 .nav-primary-container .nav-container ul li.level0.active a.level-top span{
  border-bottom: 2px solid;
}
.header-container.header_style_6 .nav-primary-container .megamenu {
  position: static;
}
.header-container.header_style_6 .text-shopcart{
  display: none;
}

/* style header 7 */
.header-container.header_style_7 #header {
  padding: 2px 0;
}
.header-container.header_style_7 .header-wrapper {
  position: relative;
  min-height: 55px;
  display: block;
}
.header-container.header_style_7 .header-wrapper:before, .header-container.header_style_7 .header-wrapper:after {
  content: " ";
  display: table;
}
.header-container.header_style_7 .header-wrapper:after {
  clear: both;
}
.header-container.header_style_7 .header-logo {
  float: left;
  width: 25%;
  padding: 13px 0;
}
.header-container.header_style_7 .header-logo .logo {
  margin: 0;
}
.header-container.header_style_7 .header-logo .logo img {
  display: block;
}
.header-container.header_style_7 .nav-primary-container {
  float: left;
  width: 75%;
  position: static;
}
.header-container.header_style_7 .nav-primary-container .nav-container {
  text-align: right;
  margin-right: 130px;
}
.header-container.header_style_7 .nav-primary-container .nav-container ul li{
  padding: 0 !important;
}
.header-container.header_style_7 .nav-primary-container .nav-container ul li a span{
  padding: 9px 0;
}
.header-container.header_style_7 .nav-primary-container .nav-container ul li.level0:hover a.level-top span,
.header-container.header_style_7 .nav-primary-container .nav-container ul li.level0.active a.level-top span{
  border-bottom: 2px solid;
}
.header-container.header_style_7 .nav-primary-container .megamenu {
  position: static;
}
.header-container.header_style_7 .text-shopcart{
  display: none;
}

/* header style 8 */
.header-container.header_style_8 #header {
  padding: 20px 0 90px;
}
.header-container.header_style_8 .nav-primary-container{
  background-color: transparent;
}
.header-container.header_style_8.active-sticky .nav-primary-container{
  background-color: #fff;
}
.header-container.header_style_8 .header-wrapper {
  position: relative;
  min-height: 55px;
  display: block;
}
.header-container.header_style_8 .header-wrapper:before, .header-container.header_style_8 .header-wrapper:after {
  content: " ";
  display: table;
}
.header-container.header_style_8 .header-wrapper:after {
  clear: both;
}
.header-container.header_style_8 .header-logo {
  float: left;
  width: 25%;
  padding: 16px 0;
}
.header-container.header_style_8 .header-logo .logo {
  margin: 0;
}
.header-container.header_style_8 .header-logo .logo img {
  display: block;
}
.header-container.header_style_8 .nav-primary-container {
  float: left;
  width: 75%;
  position: static;
}
.header-container.header_style_8 .nav-primary-container .nav-container {
  text-align: right;
  margin-right: 130px;
}
.header_style_8 .header-quick-access .header-mini-cart{
  width: 160px;
}
.header-container.header_style_8 .header-quick-access .header-mini-cart .total-badge .total_price{
  display: block;
  position: absolute;
  width: 150px;
  top: -5px;
  font-size: 11px;
}
.header-container.header_style_8.active-sticky .header-quick-access .header-mini-cart .total-badge .total_price{
	/*
  color: #000000;
  */
}
.header_style_8 .header-quick-access .header-mini-cart .total_product{
  display: block !important;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  top: 4px;
  width: 120px;
  left: 42px;
}
.header_style_8 .block_menu_home_9{
  height: 60px;
  text-align: left;
}
.header_style_8.active-sticky .block_menu_home_9{
  text-align: center;
}
.header_style_8 .block_menu_home_9 .block_menu_home_nine{
  display: inline-block;
  padding: 10px 0;
}
.header_style_8 .block_menu_home_9 .block_menu_home_nine ul li{
  float: left;
  padding: 10px 0;
}
.header_style_8 .block_menu_home_9 .block_menu_home_nine ul li a{
	/*
  color: #ffffff;
  */
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 25px;
}
.header_style_8.active-sticky .block_menu_home_9 .block_menu_home_nine ul li a{
	/*
  color: #000000;
  */
}
.header-container.header_style_8 .nav-primary-container .megamenu {
  display: none !important;
}
.header-container.header_style_8 .header-quick-access .btn-open-search,
.header-container.header_style_8 .text-shopcart{
  display: none;
}
.header-container.header_style_8.active-sticky .header-quick-access .arw-toggle-container .top-search-inner{
  display: none;
}
.header-container.header_style_8 .header-quick-access .arw-toggle-container .top-search-inner{
  background-color: #000;
  display: block;
  padding: 10px 30px;
  top: 82px;
  width: 870px;
}
.header-container.header_style_8 .header-quick-access .search_mini_form .search-select-cat{
  left: 30px;
}
.header-container.header_style_8 .header-quick-access .arw-toggle-container .arw-toggle-content.has_cat_search .input-text{
  height: 35px;
}
.header-container.header_style_8 .header-quick-access .search_mini_form .search-select-cat .btn{
  line-height: 15px;
}
.header-container.header_style_8 .header-quick-access .search_mini_form .button{
  height: 35px;
  width: 170px;
  right: 30px;
  top: 10px;
  /*
  color: #fff;
  */
}
.header-container.header_style_8 .header-quick-access .search_mini_form .button .text-search{
  display: inline-block !important;
  margin-left: -20px;
}
.header-container.header_style_8 .header-quick-access .search_mini_form .button i{
  margin-left: 10px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

/* header style 10*/
.header-container.header_style_9 #header {
  padding: 2px 0;
}
.header-container.header_style_9 .header-wrapper {
  position: relative;
  min-height: 55px;
  display: block;
}
.header-container.header_style_9 .header-wrapper:before, .header-container.header_style_9 .header-wrapper:after {
  content: " ";
  display: table;
}
.header-container.header_style_9 .header-wrapper:after {
  clear: both;
}
.header-container.header_style_9 .header-logo {
  float: left;
  width: 25%;
  padding: 16px 0;
}
.header-container.header_style_9 .header-logo .logo {
  margin: 0;
}
.header-container.header_style_9 .header-logo .logo img {
  display: block;
}
.header-container.header_style_9 .nav-primary-container {
  float: left;
  width: 75%;
  position: static;
}
.header-container.header_style_9 .nav-primary-container .nav-container {
  text-align: right;
  margin-right: 130px;
}
.header-container.header_style_9 .nav-primary-container .megamenu {
  position: static;
}
.header-container.header_style_9 .text-shopcart{
  display: none;
}
.header-container.header_style_9 .header-logo {
  display: none;
}
.header-container.header_style_9 .nav-primary-container .nav-container {
  display: none;
}

/* header style left*/
.header-container.header_style_left{
  border-bottom: 1px solid #e5e5e5;
}
.header-container.header_style_left #header {
  padding: 2px 0;
}
.header-container.header_style_left .header-wrapper {
  position: relative;
  min-height: 55px;
  display: block;
}
.header-container.header_style_left .header-wrapper:before, .header-container.header_style_left .header-wrapper:after {
  content: " ";
  display: table;
}
.header-container.header_style_left .header-wrapper:after {
  clear: both;
}
.header-container.header_style_left .header-logo {
  float: left;
  width: 25%;
  padding: 16px 0;
  display: none;
}
.header-container.header_style_left .header-logo .logo {
  margin: 0;
}
.header-container.header_style_left .header-logo .logo img {
  display: block;
}
.header-container.header_style_left .nav-primary-container {
  float: left;
  width: 75%;
  position: static;
}
.header-container.header_style_left .header-quick-access .search_mini_form .input-text{
  width: 100%;
  height: 60px;
}
.header-container.header_style_left .header-quick-access .search_mini_form .button{
  height: 60px;
}
.header-container.header_style_left .header-quick-access .arw-toggle-container .btn-open-search{
  display: none;
}
.header-container.header_style_left .header-quick-access .arw-toggle-container .top-search-inner{
  top: -7px;
  right: 105px;
  display: block;
}
.header-container.header_style_left .nav-primary-container .nav-container {
  text-align: right;
  margin-right: 130px;
  display: none;
}
.header-container.header_style_left .nav-primary-container .megamenu {
  position: static;
}
.header-container.header_style_left .text-shopcart{
  display: none;
}
.header-container.header_style_left.active-sticky .btn_header_left{
  height: 48px;
}
.btn_header_left{
  margin-top: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  position: relative;
  z-index: 99;
}
.btn_header_left span.btn_open_header_left{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
}
.btn_header_left span.btn_close_header_left{
  position: absolute;
  left: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  transform: translate(0,-50px);
  -webkit-transform: translate(0,-50px);
  opacity: 0;
}
.btn_header_left span{
  font-size: 30px;
  cursor: pointer;
}
.header_left_300{
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  min-height: 650px;
  height: 100%;
  transform: translate(-300px,0);
  -webkit-transform: translate(-300px,0);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header_left_300 #header{
  background-color: #ffffff;
}
.header_left_300 #header .header-fullwidth.container{
  width: 300px !important;
  background-color: #ffffff;
}
.header_left_300 .nav-primary-container .megamenu li.level-top{
  display: block;
  padding: 0 0 0 20px;
  position: relative;
}
.header_left_300 .nav-primary-container .nav-container {
  text-align: left;
}
.header_left_300 #header .container{
  width: 300px;
}
.header_left_300 .header-wrapper .nav-primary-container .megamenu .menu-style-group.parent .sub-wrapper{
  left: 800px;
  padding: 20px;
  position: absolute;
  top: 0px;
  width: 1000px;
  z-index: 999;
}
.header_left_300 .header-wrapper .nav-primary-container .megamenu .menu-style-dropdown.parent .sub-wrapper {
  left: 130.3%;
  position: absolute;
  top: 0px;
  width: auto;
  z-index: 999;
}
.header_left_300 .header-logo .logo{
  margin: 0;
}
.header_left_300 .header-logo .logo a img{
  margin: 0 auto;
}
.header_left_300 .nav-primary-container{
  margin-top: 90px;
}
.header_left_300 .block_newletter_header{
  margin: 20px 0 100px 40px;
}
.header_left_300 .block-footer-home-6{
  margin-left: 40px;
  padding-bottom: 100px;
}
.header_left_300 .copyright_home6{
  margin-top: 10px;
}
.header_left_300 .icon-footer-home-4 a{
  font-size: 16px;
  margin-right: 10px;
  /*
  color: #999999;
  */
}
.header_left_300 .header-fullwidth{
  border-right: 1px solid #e5e5e5;
  padding-top: 60px;
}


  /* style header vertical*/
.header-container.header_style_vertical #header {
  padding: 30px 0;
}
.header-container.header_style_vertical .header-wrapper {
  position: relative;
  min-height: 55px;
  display: block;
}
.header-container.header_style_vertical .header-wrapper:before, .header-container.header_style_vertical .header-wrapper:after {
  content: " ";
  display: table;
}
.header-container.header_style_vertical .header-wrapper:after {
  clear: both;
}
.header-container.header_style_vertical .header-logo {
  float: none;
  padding: 22px 0 30px;
  width: 100%;
}
.header-container.header_style_vertical .header-logo h1{
  margin-top: 5px;
}
.header-container.header_style_vertical .header-logo a.logo {
  position: relative;
  left: 13%;
}
.header-container.header_style_vertical .header-logo .logo img {
  display: block;
}
.header-container.header_style_vertical .nav-primary-container {
  width: 100%;
  position: relative;
  padding: 35px 0 25px;
}
.header-container.header_style_vertical .nav-primary-container .nav-container {
  text-align: left;
}
.header-container.header_style_vertical .nav-primary-container .megamenu {
  position: static;
}
.header-container.header_style_vertical .header-quick-access .arw-toggle-container{
  float: none;
  padding: 0;
}
.header-container.header_style_vertical .header-quick-access .header-mini-search .arw-toggle-control{
  display: none;
}
.header-container.header_style_vertical  .header-quick-access .header-mini-search .has_cat_search .search_mini_form{
  padding: 0;
  position: relative;
}
.header-container.header_style_vertical  .header-quick-access .header-mini-search .has_cat_search .search_mini_form .form-search .search-select-cat{
  display: none !important;
}
.header-container.header_style_vertical .header-quick-access .mini-cart-header{
  border-radius: 0;
}
.header-container.header_style_vertical .header-quick-access .mini-cart-header .text-shopcart{
  clear: both;
  float: right;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 30px;
  display: none;
}
.header-container.header_style_vertical .header-quick-access .mini-cart-header .total-badge{
  left: 15px;
  top: 15px;
}
.header-container.header_style_vertical .header-quick-access .arw-toggle-container .arw-toggle-content.has_cat_search{
  display: block;
  background-color: transparent !important;
}
.header-container.header_style_vertical .header-top-left,
.header-container.header_style_vertical.active-sticky .header-quick-access{
  display: none;
}

.page-nofooter {
  position: relative;
}
.nofooter-home6 .container{
  width: 100% !important;
}
.nofooter-home6 .header-container.header_style_vertical .header-top .container{
  width: 1170px !important;
}
.nofooter-home6 .main-container{
  margin-left: 375px;
}
.nofooter-home6 .btn-menu{
  left: 10px;
  top: 10px;
  position: absolute;
  background-color: #272727;
  border: 5px solid #272727;
}
.nofooter-home6 .btn-close{
  left: 10px;
  top: 10px;
  position: absolute;
  background-color: #272727;
  border: 5px solid #272727;
}
.nofooter-home6 .btn-close span,
.nofooter-home6 .btn-menu span{
  font-size: 20px;
  /*
  color: #fff;
  */
  padding: 0 5px;
  line-height: 21px;
}
.header-container.header_style_vertical{
  background-color: #ffffff;
  height: auto;
  position: absolute;
  width: 300px;
}
.header-container.header_style_vertical .header-top{
  height: 46px;
}
.header-container.header_style_vertical .header-top .header-top-right-inner{
  position: absolute;
}
.header-container.header_style_vertical #header .container{
  width: 300px;
}
.header-container.header_style_vertical .nav-primary-container .megamenu li.level-top{
  display: block;
  padding: 0 0 0 20px;
}
.header-container.header_style_vertical .nav-primary-container .megamenu li.level-top.active,
.header-container.header_style_vertical .nav-primary-container .megamenu li.level-top:hover{
  background-color: #f2f2f2;
}
.header-container.header_style_vertical .header-quick-access .arw-toggle-container .arw-toggle-content.has_cat_search{
  width: 355px;
}
.header-container.header_style_vertical .header-quick-access .arw-toggle-container .arw-toggle-content.has_cat_search .input-text{
  padding-left: 15px;
}
.header-container.header_style_vertical .header-quick-access .arw-toggle-container .arw-toggle-content.has_cat_search .input-text{
  background-color: #fff;
  border: 1px solid #e9e9e9;
}
.header-container.header_style_vertical .header-quick-access .search_mini_form .button:hover{
  background-color: transparent;
}
.header-container.header_style_vertical .header-quick-access .search_mini_form .button{
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 4px;
}
.header-container.header_style_vertical .header-quick-access .search_mini_form .button span i{
	/*
  color: #272727;
  */
}
.header-container.header_style_vertical .header-quick-access .arw-toggle-container #arw_mini_cart_header{
  right: -85px;
}
.header-container.header_style_vertical .header-wrapper .nav-primary-container .megamenu .menu-style-group.parent .sub-wrapper{
  left: 266%;
  padding: 20px;
  position: absolute;
  top: 75px;
  width: 1000px;
  z-index: 999;
}
.header-container.header_style_vertical .header-wrapper .nav-primary-container .megamenu .menu-style-dropdown.parent .sub-wrapper{
  left: 130%;
  position: absolute;
  top: 0px;
  width: auto;
  z-index: 999;
}
.header-container.header_style_vertical .header-wrapper .nav-primary-container .megamenu > li.active > a > span{
  border: none;
}
.header-container.header_style_vertical .header-wrapper .block-footer-home-6{
  display: block !important;
  margin-left: 40px;
}

.header_style_vertical .block_newletter_header{
  display: block !important;
  margin-left: 40px;
}
.newsletter_style_header_vertical .line_newletter_header{
  border-bottom: 1px solid #e5e5e5;
  margin: 0 43px 30px 0;
}
.newsletter_style_header_vertical .newletter_header_vertical{
  max-width: 215px;
}
.newsletter_style_header_vertical .newletter_header_vertical .actions{
  margin-top: 30px;
}
.newsletter_style_header_vertical .newletter_header_vertical .actions .button{
  float: left;
}
.newsletter_style_header_vertical .newletter_header_vertical .form-subscribe-header{
  margin-bottom: 25px;
}

.header-container.header_style_vertical .header-wrapper .block-footer-home-6 .copyright_home6 span{
	/*
  color: #000000;
  */
  font-size: 12px;
  letter-spacing: 1px;
}
.header-container.header_style_vertical .header-wrapper .block-footer-home-6 .icon-footer-home-4{
  line-height: 45px;
  margin-top: 95px;
}
.header-container.header_style_vertical .header-wrapper .block-footer-home-6 .icon-footer-home-4 a{
  display: inline-block;
  margin-right: 14px;
  text-align: left;
  /*
  color: #999999;
  */
}
.header-container.header_style_vertical .header-wrapper .block-footer-home-6 .icon-footer-home-4 a i{
  font-size: 20px;
}
.nofooter-home6 .footer-container{
  display: none;
}


/* end header */


.header-container .header-quick-access .arw-toggle-container {
  float: left;
  padding: 6px 15px 14px 0;
}
.header-container .header-quick-access .arw-toggle-container .arw-toggle-content {
  display: none;
  position: absolute;
  width: 360px;
  right: 0;
  /*
  background: #272727;
  color: #858585;
  */
  top: 50px;
}
.header-container .header-quick-access .arw-toggle-container .has_cat_search{
  width: 670px;
  margin-top: 7px;
}
.header-container .header-quick-access .arw-toggle-container .arw-toggle-content:before {
  border-top: 30px solid transparent;
  content: "";
  position: absolute;
  top: -30px;
  width: 100%;
}
.header-container .header-quick-access .arw-toggle-container .arw-toggle-content .block-title {
  display: none;
}
.header-container .header-quick-access .arw-toggle-container .arw-toggle-content p.empty {
  margin: 50px;
  text-align: center;
  font-size: 0.917em;
  text-transform: uppercase;
}
.header-container .arw-toggle-content.has_cat_search {
  background-color: rgba(53, 54, 55, 0.6);
  margin: 0 auto;
  position: absolute;
  width: 40%;
  right: 70px;
}
.topsearch-specail{
  display: none;
}
.topsearch-specail .search-select-cat .btn{
  display: none;
}
.topsearch-specail .form-search{
  padding: 10px;
}
.topsearch-specail .form-search .input-text{
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: transparent;
  border: none;
  /*
  color: #fff;
  */
  text-transform: uppercase;
  padding: 0 50px;
}
.topsearch-specail .button_search_2{
  display: none;
}
.btn-close-search{
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.header-container.active-sticky .header-quick-access .arw-toggle-container .arw-toggle-content.has_cat_search{
  right: 0;
}

.header-container .header-quick-access .arw-toggle-container .arw-toggle-content.has_cat_search .input-text {
  letter-spacing: 1px;
  width: 100%;
  padding-left: 170px;
  height: 56px;
  border: 1px solid #CCCCCC;
}
.header-container .header-quick-access .arw-toggle-container.active .arw-toggle-control.mini-cart-header, .header-container .header-quick-access .arw-toggle-container:hover .arw-toggle-control.mini-cart-header {
	/*
  color: #cc0000;
  */
}
/*
.header-container .header-quick-access .arw-toggle-container.active .arw-toggle-content, .header-container .header-quick-access .arw-toggle-container:hover #arw_mini_cart_header {
  display: block !important;
}
*/

.header-container .header-quick-access .arw-toggle-control {
  font-size: 16px;
  line-height: 31px;
}
.header-container .header-quick-access .arw-toggle-control.btn-open-search{
  line-height: 37px;
}
.header-container.active-sticky .header-quick-access .arw-toggle-control{
	/*
  color: #000000;
  */
}
.header-container.header_style_2.active-sticky .header-quick-access .arw-toggle-control{
	/*
  color: #ffffff;
  */
}

.header-container .header-quick-access .mini-cart-header .total-badge .total_price{
  display: none;
}
.header-container .header-quick-access .mini-cart-header .total-badge {
	/*
  background: #cc0000;
  color: #fff;
  */
  height: 17px;
  left: 15px;
  line-height: 17px;
  width: 17px;
  top: 15px;
}

.header-container .header-quick-access .mini-products-list li.item {
  border-bottom: 1px solid #e5e5e5 !important;
}

.header-container .header-quick-access .block .subtotal .label {
	/*
  color: #000;
  */
  font-weight: bold;
  letter-spacing: 0;
}

.header-container .header-quick-access .search_mini_form {
  padding: 0;
}

.header-container .header-quick-access .search_mini_form .search-select-cat {
  position: absolute;
  left: 0;
}
.header-container .header-quick-access .search_mini_form .search-select-cat .btn {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none repeat scroll 0 0;
  border-bottom: medium none;
  border-image: none;
  border-left: medium none;
  border-right: 1px solid #cccccc !important;
  border-top: medium none;
  box-shadow: none;
  font-size: 0.833em;
  line-height: 36px;
  padding: 10px 25px;
}

.header-container .header-quick-access .search_mini_form .button {
  background-color: transparent !important;
  /*
  color: #232323;
  */
  height: 56px;
  line-height: 32px;
  width: 56px;
  position: absolute;
  right: 0;
  top: 0px;
}

.header-container .header-quick-access .search_mini_form .button:hover {
	/*
  background: #cc0000;
  */
}

@media (min-width: 768px) {
	
	  .header-container.header_fixed_menu.active-sticky .nav-primary-container {
		-webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
		-ms-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
	  }
	  
	  .header-container.header_style_left.active-sticky .nav-primary-container .wrap-nav,
	  .header-container.header_style_1.active-sticky .nav-primary-container .wrap-nav,
	  .header-container.header_style_5.active-sticky .nav-primary-container .wrap-nav,
	  .header-container.header_style_6.active-sticky .nav-primary-container .wrap-nav,
	  .header-container.header_style_7.active-sticky .nav-primary-container .wrap-nav,
	  .header-container.header_style_9.active-sticky .nav-primary-container .wrap-nav{
		max-width: 1800px !important;
		margin: 0 50px;
		position: relative;
	  }
	  
	    .layout-header-special .header-container.header_style_9:not(.active-sticky) .header-quick-access .btn-headertop,
	  .layout-header-special .header-container.header_style_9:not(.active-sticky) .header-quick-access .arw-toggle-control {
		  /*
		color: #000000;
		*/
	  }
	  .layout-header-special .header-container:not(.active-sticky) .header-quick-access .btn-headertop,
	  .layout-header-special .header-container:not(.active-sticky) .header-quick-access .arw-toggle-control {
		  /*
		color: #ffffff;
		*/
	  }
	  .layout-header-special .header-container.header_style_5:not(.active-sticky) .header-quick-access .btn-headertop,
	  .layout-header-special .header-container.header_style_5:not(.active-sticky) .header-quick-access .arw-toggle-control {
		  /*
		color: #000000;
		*/
	  }
	  
	    .layout-header-special .header-container.header_style_5:not(.active-sticky) .nav-primary-container .megamenu > li > a,
	  .layout-header-special .header-container.header_style_5:not(.active-sticky) .nav-primary-container ul#nav > li > a {
		  /*
		color: #000000;
		*/
	  }
}

.sidebar .block .block-title {
  border-bottom: 1px dashed #ebebeb;
}

.sidebar .block .block-content {
  font-size: 11px;
}

.sidebar .block a {
  text-transform: uppercase;
}

.footer-container {
  padding-top: 53px;
}

.footer-container .block .block-title {
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 1px;
}
.line-ft-1{
  border-top: 1px solid #444444;
  margin-top: 15px;
  width: 75px;
  margin-bottom: 10px;
}

.footer-container .block .block-content p{
  font-size: 12px;
}
.footer-container .block .block-content .address-ft {
	/*
  color: #cc0000;
  */
  margin-top: 10px;
}
.footer-container .block .block-content ul li a{
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1px;
}

.block_footer_bottom{
  margin-bottom: 0;
}

.footer-container .footer-copyright .wrapper-copyright {
  padding: 16px 0;
  line-height: 23px;
}
.footer-container .footer-copyright address {
  font-size: 1.1em;
  text-transform: capitalize;
}
.footer_link_fa{
  padding: 30px 0 31px;
}

.line-ft {
  border-top: 1px solid #444444;
}
.ft-paypal{
  padding: 25px 0;
  float: right;
}

.footer_link_fa{
  font-size: 16px;
  text-align: right;
}
.footer_link_fa div a{
  width: 42px;
  height: 42px;
  display: inline-block;
  text-align: center;
  border: 1px solid #515151;
  border-radius: 100%;
  line-height: 40px;
  margin-left: 15px;
}
.footer_link_fa div a i{
  color: #515151;
}
.footer_link_fa div a:hover{
  border-color: #cc0000;
  background-color: #cc0000;
}
.footer_link_fa div a:hover i{
  color: #fff;
}
.footer-benz-1 ul li{
  display: inline-flex;
  width: 100%;
}
.footer-benz-1 ul li i{
  width: 42px;
  height: 42px;
  display: inline-block;
  text-align: center;
  border: 1px solid #515151;
  border-radius: 100%;
  line-height: 40px;
  margin-right: 20px;
}
.footer-benz-1 ul .footer-column-1{
  font-size: 14px;
  line-height: 20px;
}
.footer-benz-1 ul .footer-column-1.footer-phone,
.footer-benz-1 ul .footer-column-1.email-support{
  padding: 11px 0;
}
.footer-benz-1 ul li{
  margin-top: 30px;
}
.footer-benz-1 ul li:first-child{
  margin-top: 50px;
}
.footer-benz-1 ul li:last-child{
  margin-bottom: 45px;
}
.block-logo-benz .paypal-ft a{
  margin-right: 15px;
}
.footer-about {
  color: #b8b8b8;
  display: inline-block;
  font-family: "Lato";
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 24px;
  margin: 10px auto 40px;
  text-align: center;
}
.footer-about ul{
  margin-top: 30px;
}
.footer-about ul a{
  padding: 0 12px;
}
.footer-about ul a i{
  font-size: 24px;
}

.footer-about {
  display: inline-block;
  font-family: "Lato";
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 24px;
  margin: 10px auto 40px;
}
.footer-about ul{
  margin-top: 30px;
}
.footer-about ul a{
  padding: 0 12px;
}
.footer-about ul a i{
  font-size: 24px;
}

.footer-newsletter {
	/*
  background-color: #DCDCDC;
  padding: 60px 0;
  */
}

.products-list .product-name a,
.products-grid .product-name a {
  font-weight: normal;
}

.products-grid .ratings {
  display: block;
}

.products-grid .link-actions {
  z-index: 5;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  transform: scale(0);
  -webkit-transform: scale(0);
}

.products-grid .link-actions .link-quickview{
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.products-grid .actions .button {
  font-size: 13px;
  line-height: 14px;
  padding: 15px 12px;
  float: right;
}

.products-grid .actions .btn-cart {
  font-size: 12px;
  padding: 4px 20px;
  line-height: 36px;
  z-index: 2;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  transform: scale(0);
  -webkit-transform: scale(0);
}
.products-grid li.item > .wrapper-item:hover .actions .btn-cart{
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  -webkit-transform: scale(1);
}
.products-grid li.item > .wrapper-item:hover .link-actions{
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  -webkit-transform: scale(1);
}
.products-grid .product-info .link-compare > span,
.products-grid .product-info .link-wishlist > span,
.products-grid .product-info .btn-cart > span,
.products-grid .actions .link-quickview > span{
  font-size: 13px;
}
.products-grid .product-info .link-compare,
.products-grid .product-info .link-wishlist,
.products-grid .product-info .btn-cart{
  padding: 0 !important;
  margin-right: 15px;
}
.products-grid .actions .ratings {
  margin-top: 0;
  text-align: center;
}

.products-grid .product-name {
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 13px 0;
}

.products-grid .price-box {
  margin: 0 0 30px;
}

.products-grid .price-box .price {
  font-size: 18px;
  font-family: Oswald;
}

.products-grid .availability {
  bottom: 10px;
  text-align: left;
}

.products-grid li.item > .wrapper-item {
  margin: 0 15px;
  overflow: hidden;
}

.products-grid li.item > .wrapper-item:hover .image-overlay {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.products-list li.item {
  margin-bottom: 20px;
}

.products-list .outer-image {
  overflow: hidden;
}

.products-list .product-name {
  margin: 0 0 5px;
}

.products-list .ratings {
  margin-bottom: 20px;
}

.products-list .link-actions {
  bottom: 0;
  display: inline-block;
  position: absolute;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.products-list .outer-image:hover .link-actions{
  opacity: 1;
}
.products-list .link-wishlist,
.products-list .link-compare {
  float: right;
  height: 46px;
  line-height: 43px;
  width: 25%;
}
.products-list .btn-cart {
  display: inline-block;
  font-size: 0.917em;
  height: 46px;
  letter-spacing: 2px;
  padding: 0;
  margin-top: 25px;
  width: 168px;
}
.products-list .link-quickview {
  width: 50%;
  height: 46px;
  text-transform: capitalize;
  font-size: 12px;
}

.col3-layout .products-grid.arw-3-col .btn-cart, .col3-layout .products-grid.arw-4-col .btn-cart, .col3-layout .products-grid.arw-5-col .btn-cart {
  margin-top: 0;
}
.col3-layout .products-grid.arw-3-col .ratings, .col3-layout .products-grid.arw-4-col .ratings, .col3-layout .products-grid.arw-5-col .ratings {
  margin-top: 0;
}

.product-view .col-main-details-style_1.option_style_1 {
  padding: 0 15px;
}
.product-view .col-main-details-style_1.option_style_1 .product-img-box{
  width: 34%;
}
.product-view .col-main-details-style_1.option_style_1 .product-shop {
  width: 66%;
}
.product-view .col-main-details-style_1.option_style_2 .product-img-box{
  width: 50%;
}
.product-view .col-main-details-style_1.option_style_2 .product-shop {
  width: 50%;
}
.product-view .col-main-details-style_1.option_style_3 .product-img-box{
  width: 50%;
}
.product-view .col-main-details-style_1.option_style_3 .product-shop {
  width: 50%;
}
.product-view .col-main-details-style_1.option_style_4 .product-img-box{
  width: 50%;
}
.product-view .col-main-details-style_1.option_style_4 .product-shop {
  width: 50%;
}
.product-view .col-main-details-style_1.option_style_4 .product-shop .product-shop-inner{
  background-color: transparent !important;
  padding-top: 50px;
}
.product-view .col-main-details-style_1.option_style_4 .product-img-box .product-img-box-bottom .more-views{
  bottom: 50px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 9999;
  width: 60%;
  height: 100px;
}
.product-view .col-main-details-style_1.option_style_4 .product-img-box .product-img-box-bottom .more-views .arw-slick-slider{
  margin: 0;
}
.product-view .col-main-details-style_1.option_style_4 .product-img-box .product-img-box-bottom .more-views .thumbnail-item a img {
  width: 79px !important;
}
.product_collateral_style_3 .product_details_tabs .product-tabs{
  width: 30%;
  float: left;
  display: inline-block;
  border-bottom: medium none;
  border-right: 1px solid #d6d6d6;
}
.product_collateral_style_3 .product_details_tabs .tab-content{
  width: 70%;
  float: left;
  display: inline-block;
  padding-left: 30px;
}
.product_collateral_style_3 .product_details_tabs .product-tabs li{
  display: block;
  text-align: left;
}
.product_collateral_style_3 .product_details_tabs .product-tabs li.active a,.product_collateral_style_3 .product_details_tabs .product-tabs li:hover a {
  background: #fff none repeat scroll 0 0;
  border-bottom: none;
  border-right: 2px solid #000000;
  color: #000;
}
.product-essential.fluid-width{
  background-color: #f0f0f0;
}
.product_collateral_style_4 .product_details_tabs .product-tabs{
  width: 30%;
  float: left;
  display: inline-block;
  border-bottom: medium none;
  border-right: 1px solid #d6d6d6;
}
.product_collateral_style_4 .product_details_tabs .tab-content{
  width: 70%;
  float: left;
  display: inline-block;
  padding-left: 30px;
}
.product_collateral_style_4 .product_details_tabs .product-tabs li{
  display: block;
  text-align: left;
}
.product_collateral_style_4 .product_details_tabs .product-tabs li.active a,.product_collateral_style_3 .product_details_tabs .product-tabs li:hover a {
  background: #fff none repeat scroll 0 0;
  border-bottom: none;
  border-right: 2px solid #000000;
  color: #000;
}
.bootstrap-select.super-attribute-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.bootstrap-select.super-attribute-select > .dropdown-toggle{
  background-color: #ffffff;
  border-color: #d6d6d6;
  color: #999;
  font-size: 12px;
  font-style: italic;
  padding: 10px;
  text-transform: capitalize;
}
.bootstrap-select.super-attribute-select.btn-group .btn .caret::before{
  font-style: normal;
  top: 10px;
}

.product-view .product-sku {
	/*
  color: #515151;
  */
}

.product-view .sharewith .sharing-links{
  display: inline-flex;
  display: -webkit-inline-box;
  margin-left: 25px;
}

.product-view .product-essential .prev-next a {
  background-color: #ececec;
  margin: 0 5px;
  padding: 0 10px;
}
.product-view .product-essential .prev-next a:hover{
  background-color: #000000;
}
.product-view .product-essential .prev-next a:hover i{
  color: #ffffff;
}

.product-view .product-essential .product-name {
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-size: 24px;
}

.product-view .product-essential .short-description {
  padding: 30px 0;
  /*
  color: #515151;
  */
}

.product-view .product-essential .add-to-box {
  margin: 10px 0;
  padding: 30px 0;
}

.product-view .product-essential .add-to-box-actions .button {
  padding: 0 25px;
  line-height: 48px;
}
.product-view .product-essential .add-to-box-actions .link-compare .text,
.product-view .product-essential .add-to-box-actions .link-wishlist .text,
.product-view .product-essential .add-to-box-actions .link-compare ,
.product-view .product-essential .add-to-box-actions .link-wishlist {
  display: none;
}
.product-view .product-essential .arw-box-quantity {
  position: relative;
}
.product-view .product-essential .arw-box-quantity button {
  display: block;
}
.product-view .product-essential .arw-box-quantity .input-text {
  line-height: 46px;
  width: 110px;
  height: 48px;
  background-color: #fff;
  border-color: transparent;
  border: none;
}

.product-view .product-essential .sharing-links li a i{
  font-size: 16px;
}
.product-view .product-essential .sharing-links li a i{
  width: 12px;
  height: 12px;
}

.product_details_tabs {
  display: block;
  width: 100%;
}

.product_details_tabs .product-tabs {
  border-bottom: 1px solid;
}

.product_details_tabs .product-tabs li {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  font-weight: bold;
}


.product_details_tabs .product-tabs li a {
  background: white;
  width: 100%;
  margin-top: -1px;
}

.product_details_tabs .product-tabs li:first-child a {
  margin-top: 0;
  /*
  border-left: 0px;
  */
}
.product_details_tabs .product-tabs li.active a, .product_details_tabs .product-tabs li:hover a {
	/*
  color: #000000;
  */
  background: white;
  border-bottom: 2px solid #000000;
  margin-bottom: -1px;
}

.product_details_tabs .product-tabs-content-inner {
  padding: 30px 0;
}
@media (max-width: 767px) {
  .product_details_tabs .product-tabs-content-inner {
    padding: 15px 0;
  }
}

.product_details_tabs .product-accordion-heading:before {
  content: "\f196";
}

.block-related .arw_tab_slider .owl-nav{
  left: 0;
  right: 0;
}

#checkoutSteps .section .step-title a:before {
  content: "\f044";
}

.parallax-box {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}
.parallax-box .parallax-content{
  text-align: center;
}

.gmnoprint {
  display: block;
}

.block-contact-bottom {
  margin-bottom: 210px;
}

.post-item .post-thumbnail:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.post-item .post-thumbnail img {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}


.post-item .post-category {
  display: inline-block;
  font-size: 12px;
  text-transform: capitalize;
}
.post-item .post-date {
  font-size: 12px;
  color: #a6a6a0;
}
.post-item .post-category a {
	/*
  color: #cc0000;
  */
}
.post-item .post-item-content {
  padding: 15px 0;
  text-align: center;
}
.post-item .post-item-content .blog-content-top{
  height: 35px;
  position: relative;
}
.post-item .post-title {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0 15px;
}


.post-item .post-excerpt {
  margin: 0 0 30px;
  color: #515151;
  text-align: center;
}
.blog-list .post-item .post-excerpt{
  text-align: left;
}
.continue_blog_list{
  position: relative;
  color: #000000;
  font-weight: bold;
  letter-spacing: 2px;
}
.continue_blog_list i{
  font-size: 15px;
  position: absolute;
  right: -15px;
  top: 2px;
}
.post-item .post-meta {
  text-transform: capitalize;
}

.blog-list .post-item h2.post-title {
  margin-bottom: 0px;
}

.blog-list .post-meta {
  line-height: 20px;
}
.blog-detail .post-title {
  text-align: left;
}
.blog-detail .post-category {
  position: static;
  text-align: left;
}


.account-login{
  margin-bottom: 60px;
}
/*======================= main no footer =========================*/
.main-page {
  margin-left: 300px;
  border-left: 1px solid #ececec;
}
.main-page .category-products{
  padding: 0 15px;
}
.main-page .arw-mobile-menu{
  display: none;
}
.header-container.header_style_vertical{
  z-index: 44;
}
.clear-both{
  clear: both;
}
.header_style_vertical .topsearch-specail{
  display: none;
}
.header_style_vertical .top-search-inner{
  display: block !important;
}
.header-container.header_style_vertical .arw-toggle-content.has_cat_search{
  left: -95px;
}


.calccountdown > div >div{
  background-image: none !important;
  background-color: #fff;
  border-radius: 0 !important;
}
.calccountdown > div >div  span{
  color: #000000;
}
.calccountdown [id*="Box_"]{
  display: none;
}
.block_home_seven_3 .calccountdown > div > [id*="TextBox_"]{
  padding-top: 20px !important;
}
.block_home_seven_3 .calccountdown > div > [id*="Container_"]{
  padding: 20px !important;
  height: 50px !important;
}
.block_home_seven_3 .calccountdown > div > [id*="Container_"] > [id*="TextBox_"]{
  line-height: 50px !important;
}
.calccountdown [id*="TextBox_"]{
  display: block !important;
  background-color: transparent;
}

/* ------------------------------------------------------------------- */

/* ---------------------- SASS-OVERRIDES: dnp-custom-class.scss ---------------------- */

.owl-carousel .owl-dots .owl-dot.active {
  height: 12px;
  width: 12px;
}

.arw-title h2 span {
  background-color: transparent;
  z-index: 2;
}
.arw-title h2 span span {
  position: relative;
  font-size: 25px;
  font-weight: bold;
}
.arw-title .line-middle {
  border-bottom: 2px solid #232323;
  margin: 0 auto;
  position: relative;
  top: -22px;
  width: 325px;
  z-index: 1;
  height: 1px;
}
.arw-sub-title {
  font-size: 13px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-style: normal; /* ??? */
}
.arw-title h2 span span {
  text-transform: uppercase;
  letter-spacing: 0px;
}

.title-divider-style-4,
.title-divider-style-3,
.title-divider-style-2,
.title-divider-style-1 {
	/*
  border-width: 2px 0 0;
  border-color: #ebebeb;
  border-style: solid;
  width: 40px;
  margin: 15px auto;
  */
}

.tab_style_3 .arw_tab_slider .slider-tab li > span {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-transform: capitalize;
}

.catalog-owl-next:before,
.catalog-owl-prev:before,
.owl-next:before,
.owl-prev:before {
  content: "\f105";
}

/*
.background-primary {
  background-color: #eeb013 !important;
}

.background-body {
  background-color: white !important;
}

.border-color-primary {
  border-color: #eeb013 !important;
}

.text-color-primary {
  color: #eeb013 !important;
}

.color-primary {
  color: #eeb013 !important;
}
*/


/* ------------------------------------------------------------------- */

/* ---------------------- SASS-OVERRIDES: dnp-extension.scss ---------------------- */

.price-slider {
  height: 4px;
  background: #e8e8e8; /* ??? */
}
.price-slider .price-slider-handle {
  height: 27px;
  width: 3px;
  top: -11px;
}

.price-slider .price-slider-span {
  background: transparent !important;
}

.arw_tab_slider .slider-tab {
  margin-bottom: 40px;
  margin-top: 15px;
}
.arw_tab_slider .slider-tab li {
  cursor: pointer;
  font-size: 0.75em;
  letter-spacing: 1px;
  position: relative;
}
.arw_tab_slider .slider-tab li:after{
  border-bottom: 1px solid #000000;
  content: "";
  height: 1px;
  position: absolute;
  right: -9px;
  width: 13px;
  top: 20%;
  transform: rotate(-90deg) translate(-50%, -50%);
  -webkit-transform: rotate(-60deg) translate(-50%, -50%);
}
.arw_tab_slider .slider-tab li:last-child:after{
  border-bottom: none;
}
.arw_tab_slider .slider-tab li > span {
  padding: 0 35px;
  font-size: 13px;
  letter-spacing: 2px;
}
.arw_tab_slider .slider-tab li:hover, .arw_tab_slider .slider-tab li.active {
  color: #272727;
}

.product-tab-list-mini .products-list .arw-product-labels .arw-product-label {
  top: -14px;
}

.product-tab-list-mini .products-list .outer-image {
  overflow: hidden;
}
.product-tab-list-mini .products-list .product-name {
  font-size: 12px;
  padding-bottom: 0px;
}
.product-tab-list-mini .products-list .ratings{
  display: block;
}

.product-tab-list-mini .products-list .price-box {
  margin: 10px 0;
}
.product-tab-list-mini .products-list .actions .link-actions{
  margin-bottom: 40px;
}
.product-tab-list-mini .products-list .price-box .regular-price,
.product-tab-list-mini .products-list .price-box .special-price {
  font-size: 18px;
}

.product-tab-list-mini .products-list .button1.btn-cart {
  margin: 0;
}

.product-tab-list-mini .products-list .link-quickview:hover,
.product-tab-list-mini .products-list .link-compare:hover,
.product-tab-list-mini .products-list .link-wishlist:hover {
  color: #eeb013;
}

.nav-accordion li.level0 + li {
	border-top: 0px;
}

.nav-accordion li a > span {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

[class*="cat-label-"] {
  /*border: 1px solid;*/
}

.nav-primary-container .arw-mobile-menu {
  top: 140px;
}

.header-container.header_style_2 .nav-primary-container .arw-mobile-menu {
  display: none;
  height: auto;
  position: absolute;
  top: 155%;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0, 0);
  width: 100%;
}
.header-container.header_style_2 #header .nav-primary-container .wrap-nav .arw-btn-menu-mobile{

}
.header-container.header_style_4 .nav-primary-container .arw-mobile-menu {
  display: none;
  height: auto;
  position: absolute;
  top: 175%;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0, 0);
  width: 100%;
}
.header-container.header_style_4 #header .nav-primary-container .wrap-nav .arw-btn-menu-mobile{
}

.arw-btn-menu-mobile {
  left: 0;
  right: auto; /* ??? */
}
.header-container.header_style_vertical .arw-btn-menu-mobile {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  background-color: #272727;
  right: 0;
  text-transform: uppercase;
  z-index: 2;
  top: -40px;
  width: 100%;
}
.header-container.header_style_vertical .arw-btn-menu-mobile label{
  display: block !important;
  font-size: 1.25em;
  font-weight: normal;
  float: left;
  color: #fff;
}
.header-container.header_style_vertical .arw-btn-menu-mobile span{
  color: #fff;
}

.megamenu li a span .cat-label {
  bottom: 41px;
  left: 0;
}
.active-sticky .megamenu li a span .cat-label{
  bottom: 30px;
}

.megamenu > li {
  padding: 9px 0;
}
.collection-megamenu{
  height: 555px;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
.header-container.header_style_vertical .header-wrapper .nav-primary-container .megamenu .menu-style-group.parent .sub-wrapper .collection-megamenu{
  height: 493px;
}
.active-sticky .collection-megamenu{
  height: 570px;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
.header_style_2 .megamenu > li:first-child a,
.header_style_4 .megamenu > li:first-child a{
  padding-left: 0;
}

.megamenu > li > a {
  font-size: 1.16em;
}

.megamenu > li > a > span {
  font-size: 13px;
  position: relative;
}
/*.megamenu > li.active> a > span:after {
  border-bottom: 1px solid red;
  content: "";
  position: absolute;
  top: 15%;
  left: 45%;
  width: 45px;
  transform: rotate(-40deg) translate(-50%, -50%);
  -webkit-transform: rotate(-40deg) translate(-50%, -50%);
}
.layout-header-special .megamenu > li.active > a > span:after{
  border-bottom: 1px solid red;
  content: "";
  position: absolute;
  top: 15%;
  left: 45%;
  width: 45px;
  transform: rotate(-40deg) translate(-50%, -50%);
  -webkit-transform: rotate(-40deg) translate(-50%, -50%);
}*/
.active-sticky .megamenu > li.active > a > span{
  border: none;
}

.megamenu .parent .sub-wrapper {
  left: 50%;
  max-width: 1170px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.active-sticky .megamenu .parent .sub-wrapper{
  left: 0;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.megamenu .arwmenu-block ul.level0 > .classic li > a,
.megamenu .arwmenu-block ul.level0 > .classic > a {
  padding: 7px 20px;
}

.megamenu .arwmenu-block .groups .title-group {
  font-size: 12px;
  padding-bottom: 10px;
  color: white;
  /*border-bottom: 1px solid #525252;*/
  border-bottom: 0px; /* ??? */
}

.megamenu .arwmenu-block .groups .groups-wrapper ul li a {
  padding: 1px;
}

.megamenu .m-dropdown > .dropdown {
	left: auto; /* ??? */
}

.megamenu .m-dropdown .dropdown ul li.first{
  padding-top: 25px;
}
.megamenu .m-dropdown .dropdown ul li.last{
  padding-bottom: 25px;
}

.megamenu .m-dropdown .dropdown ul li + li > a {
  /*border-top: 1px solid #525252;*/
  border-top: 0px; /* ??? */
}
.megamenu .m-dropdown .dropdown ul li li + li > a {
  /*border-top: 1px solid #525252;*/
  border-top: 0px; /* ??? */
}

li.menu-style-group .level0.sub-wrapper {
  padding: 30px;
}
.img-menu-specail{
  position: relative;
  bottom: -30px;
}
.header_style_vertical .img-menu-specail{
  position: relative;
  bottom: -20px;
}

/*menu collection */
.nav-3 .sub-wrapper .menu-items ul li{
  position: relative;
}
.nav-3 .sub-wrapper .menu-items ul li .title-group{
  color: #fff;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}

.megamenu > li > a > span{
  letter-spacing: 1px;
}

#toPopup {
  width: 360px;
  -webkit-box-shadow: 0 4px 13px -3px gray;
  -moz-box-shadow: 0 4px 13px -3px gray;
  -ms-box-shadow: 0 4px 13px -3px gray;
  box-shadow: 0 4px 13px -3px gray;
}

#toPopup .button + .button {
  margin-left: 10px;
}

.product-img-box-left .more-views .slick-slider .slick-prev, .product-img-box-right .more-views .slick-slider .slick-prev {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.product-img-box-left .more-views .slick-slider .slick-next, .product-img-box-right .more-views .slick-slider .slick-next {
  left: 50%;
  right: auto; /* ??? */
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.cloud-zoom-big{
  left: 0 !important;
}

.product-img-box-right .product-image {
  overflow: hidden;
}



/* Vmegamenu ================================================================================ */
#pt_vmegamenu {
  position: relative;
  border: 1px solid #e8e8e8;
}
.navleft-container .megamenu-title{
  cursor: pointer;
}
.downloadable-customer-products .main-navigation .header-bottom #pt_vmegamenu,
.newsletter-manage-index .main-navigation .header-bottom #pt_vmegamenu,
.oauth-customer-token-index .main-navigation .header-bottom #pt_vmegamenu,
.wishlist-index-index .main-navigation .header-bottom #pt_vmegamenu,
.review-customer-index .main-navigation .header-bottom #pt_vmegamenu,
.sales-recurring-profile-index .main-navigation .header-bottom #pt_vmegamenu,
.sales-billing-agreement-index .main-navigation .header-bottom #pt_vmegamenu,
.sales-order-history .main-navigation .header-bottom #pt_vmegamenu,
.customer-address-form .main-navigation .header-bottom #pt_vmegamenu,
.customer-account-edit .main-navigation .header-bottom #pt_vmegamenu,
.customer-account-index .main-navigation .header-bottom #pt_vmegamenu,
.customer-account-create .main-navigation .header-bottom #pt_vmegamenu,
.customer-account-login .main-navigation .header-bottom #pt_vmegamenu,
.checkout-cart-index .main-navigation .header-bottom #pt_vmegamenu,
.catalog-product-view .main-navigation .header-bottom #pt_vmegamenu,
.faq-index-index .main-navigation .header-bottom #pt_vmegamenu,
.contacts-index-index .main-navigation .header-bottom #pt_vmegamenu,
.cms-about .main-navigation .header-bottom #pt_vmegamenu,
.blog-post-view .main-navigation .header-bottom #pt_vmegamenu,
.blog-cat-view .main-navigation .header-bottom #pt_vmegamenu,
.catalog-category-view .main-navigation .header-bottom #pt_vmegamenu,
.style-header-9 .is-sticky #pt_vmegamenu{
  display: none;
}
.downloadable-customer-products .main-navigation .header-bottom #pt_vmegamenu.active,
.newsletter-manage-index .main-navigation .header-bottom #pt_vmegamenu.active,
.oauth-customer-token-index .main-navigation .header-bottom #pt_vmegamenu.active,
.wishlist-index-index .main-navigation .header-bottom #pt_vmegamenu.active,
.review-customer-index .main-navigation .header-bottom #pt_vmegamenu.active,
.sales-recurring-profile-index .main-navigation .header-bottom #pt_vmegamenu.active,
.sales-billing-agreement-index .main-navigation .header-bottom #pt_vmegamenu.active,
.sales-order-history .main-navigation .header-bottom #pt_vmegamenu.active,
.customer-address-form .main-navigation .header-bottom #pt_vmegamenu.active,
.customer-account-edit .main-navigation .header-bottom #pt_vmegamenu.active,
.customer-account-index .main-navigation .header-bottom #pt_vmegamenu.active,
.customer-account-create .main-navigation .header-bottom #pt_vmegamenu.active,
.customer-account-login .main-navigation .header-bottom #pt_vmegamenu.active,
.checkout-cart-index .main-navigation .header-bottom #pt_vmegamenu.active,
.catalog-product-view .main-navigation .header-bottom #pt_vmegamenu.active,
.faq-index-index .main-navigation .header-bottom #pt_vmegamenu.active,
.contacts-index-index .main-navigation .header-bottom #pt_vmegamenu.active,
.cms-about .main-navigation .header-bottom #pt_vmegamenu.active,
.blog-post-view .main-navigation .header-bottom #pt_vmegamenu.active,
.blog-cat-view .main-navigation .header-bottom #pt_vmegamenu.active,
.catalog-category-view .main-navigation .header-bottom #pt_vmegamenu.active,
.style-header-9 .is-sticky #pt_vmegamenu.active{
  display: block;
  background-color: #fff;
}
.header_categories_left {
  background-color: #e4e4e4;
  left: 0;
  position: absolute;
  width: 270px;
  top: 94px;
}
.active-sticky .header_categories_left{
  top: 0;
  left: 0;
}
.active-sticky .header_categories_left .navleft-container .pt_vmegamenu{
  display: none;
}
.active-sticky .header_categories_left .navleft-container .pt_vmegamenu.active{
  display: block;
}
.header_categories_left .navleft-container .megamenu-title h2{
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 14px 25px 15px;
  text-transform: uppercase;
}
.active-sticky .header_categories_left .navleft-container .megamenu-title h2{
  padding: 16px 25px 17px;
}
.header_categories_left .navleft-container .megamenu-title h2 span{
  float: right;
  font-size: 27px;
}
#pt_vmegamenu ul {
  margin: 0;
}
#pt_vmegamenu ul li a {
  display: block;
  font-size: 10px;
  margin-bottom: 18px;
  text-transform: uppercase;
}
#pt_vmegamenu ul.level1 li {
  position: relative;
}
#pt_vmegamenu ul.level1 li ul.level2 {
  background-color: #fbfbfb;
  -moz-box-shadow: 10px 10px 5px #e8e8e8;
  -webkit-box-shadow: 10px 10px 5px #e8e8e8;
  box-shadow: 10px 10px 5px #e8e8e8;
  display: none;
  left: 100%;
  padding: 10px 20px 0;
  position: absolute;
  top: 0;
  width: 200px;
}
#pt_vmegamenu ul.level1 li:hover ul.level2 {
  display: block;
}

.more-categories {
  border-top: 1px solid #e8e8e8;
  line-height: 45px;
  text-align: center;
}
.more-categories a {
  color: #282828;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.more-categories a span {
  margin-right: 25px;
}
.more-categories a i {
  font-size: 16px;
}

.navleft-container > .megamenu-title:hover {
  cursor: pointer;
}
.pt_vmegamenu div.pt_menu {
  padding: 0;
  position: relative;
  width: 100%;
  /*width: 1065px;*/
}
.pt_vmegamenu div.popup {
  padding: 15px 0 15px 25px;
}
.pt_vmegamenu #pt_menu_link ul li a.act,
.pt_vmegamenu #pt_menu_link ul li a:hover,
.pt_vmegamenu div.pt_menu.act .parentMenu a {

}
.pt_vmegamenu div.pt_menu.active {

}
.pt_vmegamenu div.popup {
  background-color: #ffffff;
  display: none;
  position: absolute;
  text-align: left;
  top: 0;
  width: auto;
  z-index: 3000;
  border: 1px solid #d6d6d6;
  opacity: 0.5;
}
.pt_vmegamenu div.havesub{
  width: 850px;
}
.pt_vmegamenu div.pt_menu:hover div.popup{
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  display: block;
  left: 0px;
}
.pt_vmegamenu div.pt_menu .parentMenu a {
  border-bottom: 1px solid #d6d6d6;
  display: inline-block;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  padding: 5px 25px;
  text-transform: capitalize;
  width: 100%;
}
.pt_vmegamenu div.pt_menu.last .parentMenu a:last-child{
  border-bottom: none;
}
.pt_vmegamenu div.pt_menu .parentMenu > a:after {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  right: 20px;
}
.pt_vmegamenu div.pt_menu .parentMenu.noSubMenu > a:after {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 0px;
}
.pt_vmegamenu div.pt_menu .parentMenu > a > .fa {
  margin-right: 15px;
}
.pt_vmegamenu div.pt_menu .parentMenu > a i {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  width: 15px;
}
.pt_vmegamenu div.popup a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}
.pt_vmegamenu .itemMenu h4.level1,
.pt_vmegamenu .itemMenu a.level1 {
  color: #282828;
  font-size: 12px;
  text-transform: uppercase;
}
.pt_vmegamenu .itemMenu h4.level1,
.pt_vmegamenu .itemSubMenu h4.level2 span{
  color: #897725;
}
.pt_vmegamenu .itemSubMenu h4.level2,
.pt_vmegamenu .itemSubMenu a.level2,
.pt_vmegamenu .itemSubMenu h4.level3,
.pt_vmegamenu .itemSubMenu a.level3,
.pt_vmegamenu .itemMenu a.level1.nochild{
  color: #868176;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}
.pt_vmegamenu .itemSubMenu a.level2:hover,
.pt_vmegamenu .itemMenu a.level1.nochild:hover{
  color: #A52A2A;
}
.pt_vmegamenu div.popup a.actParent {
  color: #4D4D4D;
}
.pt_vmegamenu div.popup a.act {
  color: #A52A2A;
}

.pt_vmegamenu div.column {
  float: left;
  margin-right: 20px;
  width: 190px;
}
.pt_vmegamenu div.column.last {
  border-right: 0 none;
  margin-right: 0;
  padding-right: 0;
}
.pt_vmegamenu .clearBoth {
  clear:both;
}
.pt_vmegamenu .block2{
  margin-top: 10px;
  /*display: inline-block;*/
}
.pt_vmegamenu #popup_home{
  display: none !important;
}
.pt_vmegamenu div.popup .block1{
  overflow: hidden;
}
/*show right block*/
.pt_vmegamenu div.popup .floatleft{
  float: left;
}
.pt_vmegamenu div.popup .blockright img{
  max-width: 100%;
}
.pt_vmegamenu .parentMenu .block-title{
  color: #1E7EC8;
}

.pt_vmegamenu div.pt_menu .parentMenu p{
  margin: 0;
  padding: 0;
}
.pt_vmegamenu #pt_menu_link .parentMenu ul li{
  float: none;
  list-style: none;
}
.pt_vmegamenu #pt_menu_link .parentMenu ul li a{
  float: none;
  padding: 5px 10px 6px;
  display: block;
}
.pt_vmegamenu #pt_menu_link {
  padding: 0;
  width: 195px;
}
.pt_vmegamenu .wrap-popup {
  position: absolute;
  left: 100%;
  top: 0;
}


/* ------------------------------------------------------------------- */


/* ---------------------- SASS-OVERRIDES: dnp-responsive.scss ---------------------- */

@media (max-width: 767px) {
	.header-container .header-logo .logo {
    padding: 20px 0 10px !important;
  }
  .header-container .header-quick-access {
    float: right;
    width: 75%;
  }
  
    .header-container .header-quick-access .arw-toggle-container .arw-toggle-content {
    left: -130px;
  }
  
  .header-container .header-quick-access .arw-toggle-container:not(.header-mini-cart) .arw-toggle-control {
    display: block;
  }
  .header-container .header-quick-access .arw-toggle-container:not(.header-mini-cart) .arw-toggle-content {
    display: none;
  }
  .header-container .header-quick-access .arw-toggle-container .search_mini_form {
    position: absolute;
    top: 52px;
    left: -70px;
    width: 300px;
  }
  
  .header-container .header-quick-access .arw-toggle-container .search_mini_form .search-select-cat {
    width: 35%;
  }
  .header-container .header-quick-access .arw-toggle-container .search_mini_form .search-select-cat .btn {
    height: 56px;
    line-height: 56px;
    padding: 0 25px 10px 10px;
	
	border: 0px; /* ??? */
	margin-bottom: 0px; /* ??? */
  }
  
  .header-container .header-quick-access .arw-toggle-container .search_mini_form .input-text + .button {
    height: 56px;
    line-height: 56px;
  }
  .header-container .header-quick-access .arw-toggle-container .search_mini_form .input-text + .button:hover {
	  /*
    background: #eeb013;
    color: #000;
	*/
  }
}

/* ------------------------------------------------------------------- */

