address{
    font-style: normal!important;
}
body{
  padding:5mm 5mm 5mm 10mm;
  font-family: sans-serif;
  font-size: 12px;
  line-height:15px;
}

button{
  display:none;  
}

.col-1, .col-2{
  width:1%;
display:table-cell;
padding-bottom: 20px;
}

.col2-set{
  display:table-row;
  margin-bottom:30px;
}

.print-head{
  margin-bottom:50px;
}

.print-head img{
  height: 10mm;
  float:left;
  margin-right: 5mm;
}

table{
  border-collapse: collapse;
}

td, th{
  padding:10px;
  vertical-align:center;
  text-align:center;
  border:1px solid #000;
}

td:first-child, th:first-child{
  text-align:left
}